[2018-06-01 11:55] pchampin commented on #14
May be that's a completely separate problem, but my need for `Option` would be in the `extern` section, for example:
[code]
Note that, in that case, the JS function returns *null* or an element, and so `None` in that case maps to `null` rather than `undefined`.

[2018-06-01 18:46] alexcrichton opened #221 "Support renaming exported functions in JS"
When importing a function form JS you can use `js_name` to name it differently in Rust than it's named in JS. Currently the `js_name` attribute isn't processed on exported functions, but we should support it there too! In other words, it should be possible to export a function from Rust where it has one name (like `foo_bar`) in Rust-land and a different name in JS-land (like `fooBar`):

[code]

[2018-06-01 18:49] alexcrichton opened #222 "Support defining getters in Rust"
Currently when you export a struct in Rust to JS it only exports public methods, but we should enable the ability to define getters and setters for properties too, for example:

[code]

[2018-06-01 20:34] FreeMasen opened #224 "Support Custom JS Imports"
An issue was filed in the rand crate to add `wasm-bindgen` support.

https://github.com/rust-lang-nursery/rand/issues/478

This is currently stalled because the maintainers there don't want to use `Math.random` the only other option would be to include the native  crypto functions. The problem with this is that in the browser you would use `window.Crypto` but in node it would be `require('crypto')

[2018-06-01 21:20] fitzgen commented on #224
This is what I would expect.

[2018-06-01 23:05] fitzgen opened #226 "webidl: translate methods from camelCase to snake_case to match rust style"
WebIDL things are generally written in cameCase, which is typical web JS style. Since `wasm-bindgen` already supports `js_name = camelCase` annotations for when a rust name and js name don't agree, we can leverage that existing support to automatically make all WebIDL names match rust conventions.

[2018-06-05 17:10] fitzgen commented on #224
I'm not sure I follow -- can you explain some more?

[2018-06-05 17:53] FreeMasen commented on #224
We could add a new case to the `BindgenAttr` enum to enable this or we could update the `BindgenAttr::Module(String)` to `BindgenAttr::Module(String, bool)`.

The behavior of this would not change
`#[wasm-bindgen(module = "./crypto.js")]` == `BindgenAttr::Module("./crypto.js", false)`

This would attempt to find the file provided and append the contents of that file to the bindgen'd js file
`#[was

[2018-06-05 22:41] fitzgen commented on #224
I would expect it to be the JS bundler's job to concatenate JS modules together, rather than `wasm-bindgen`'s job to do that. Is there a reason that expectation is unrealistic?

[2018-06-06 12:56] varkor opened #231 "--no-modules should use instantiateStreaming instead of instantiate"
Or it should be available as an option, as the preferred method to fetching and instantiating wasm modules.

[2018-06-06 14:03] varkor opened #232 "Error line numbers are lost in #[wasm_bindgen]"
When a function is annotated with `#[wasm_bindgen]`, errors seem to lose position information. For example:
[code]
I end up commenting out the attribute to get the error reporting back, but it seems this shouldn't be necessary.

[2018-06-06 17:11] mbalex99 opened #233 "Example of Default Output that is compatible for Node and Browsers"
In the main README.md, it states:

But it seems like the ES module can't be consumed by node directly. Like I can't do this:

[code]

However the `--nodejs` flag for the compiler allows this to work seamlessly. Do we need to use webpack for both browser setup and node setup with the default es6 modules?

Ideally, it would be fine if the default usage in the browser would need webpack, but what is

[2018-06-06 18:22] spastorino opened #234 "[wasm-bindgen-typescript] complete TypeScript parsing"
wasm-bindgen-typescript just landed https://github.com/rustwasm/wasm-bindgen/pull/228.

It will need to cover all the different constructions that TypeScript supports. In particular, this https://github.com/rustwasm/wasm-bindgen/commit/fa8961e56a1dae0ab8696c5a949dea5706cf2480#diff-7837f9f1900f30ff96bd2bbfe07a3f4eR30

The json format returned by api-extractor (the one that needs to be parsed) is de

[2018-06-07 04:28] pranaygp opened #235 "When running wasm-bindgen-cli with a crate compiled on the wrong version of wasm-bindgen, we should error"
I ran through the example in the README and everything worked perfectly. Then, I attempted at setting up [this repo](https://github.com/atom/xray) locally. Specifically, look at the https://github.com/atom/xray/tree/master/xray_wasm project.

I'm unable to specifically figure out where everything is going wrong, but I began to debug why running the existing tests were failing (~they work on CI, ju

[2018-06-07 05:55] sendilkumarn commented on #235
Can you update the wasm-bindgen-cli and try?

[2018-06-07 06:01] pranaygp commented on #235
Just did, the issue remains: FYI, I'm on macOS High Sierra and my wasm-bindgen-cli is on v0.2.11

[2018-06-07 11:00] RReverser commented on #14
@pchampin Yeah, unfortunately, DOM bindings and WebIDL in general don't follow the rest of JS world in this regard. We would probably need an annotation or a separate wrapper type for that.

[2018-06-07 17:10] fitzgen commented on #233
Would love to receive a PR that clarified the README!

I don't know how node plans on supporting es6 modules, but maybe @ashleygwilliams knows more.

If you aren't supporting the Web, and are only supporing node, then the `--nodejs` flag should work fine for you. There is also the `--no-modules` flag to do a UMD-style thing.

[2018-06-07 17:22] mbalex99 commented on #233
Well node supports es6 modules if you do this:
[code]

However the problem is in the top of the generated bindgen file you have something like:

[code]

Here are the files that it generated (default settings):
* mylib.js
* mylib.d.ts
* mylib_bg.wasm

and running:

[code]

Results in:

[code]

[2018-06-07 18:18] spastorino opened #237 "[wasm-bindgen-typescript] pass -c <api-extractor.json-path> to api-extractor command"
wasm-bindgen-typescript just landed https://github.com/rustwasm/wasm-bindgen/pull/228.

It needs to run api-extractor passing the -c flag and the right location of api-extractor.json file. The command is built here https://github.com/rustwasm/wasm-bindgen/pull/228/commits/fa8961e56a1dae0ab8696c5a949dea5706cf2480#diff-ee5101e9b2486510e4f0c12769cf27fcR4

Feel free to ping me on twitter, IRC, email (

[2018-06-07 18:23] spastorino opened #238 "[wasm-bindgen-typescript] build testing infraestructure"
wasm-bindgen-typescript just landed https://github.com/rustwasm/wasm-bindgen/pull/228.

It needs tests, a lot of test cases actually :). In this issue we can build a testing infraestructure maybe in a similar way that it's done in webidl crate. Check it out here https://github.com/rustwasm/wasm-bindgen/tree/master/crates/webidl/tests

Feel free to ping me on twitter, IRC, email (spastorino everywh

[2018-06-07 18:28] spastorino opened #239 "[wasm-bindgen-typescript] enable building/testing this crate in travis.yml"
wasm-bindgen-typescript just landed https://github.com/rustwasm/wasm-bindgen/pull/228.

We should also enable tests/building this crate in travis CI -- see the .travis.yml file for how its done for the webidl crate, for example.

Feel free to ping me on twitter, IRC, email (spastorino everywhere) and I can provide more help to tackle this.

[2018-06-07 18:29] spastorino opened #240 "[wasm-bindgen-typescript] more thoughts about things that needs to get done"
wasm-bindgen-typescript just landed https://github.com/rustwasm/wasm-bindgen/pull/228.

Here I have a list of things that need more thought and work.

- [ ] Check out tsconfig.json and see if there's something we can do better
- [ ] Check api-extractor.json and see if there's something we can do better
- [ ] It would be nice to evaluate https://github.com/SimplrJS/ts-extractor and consider replaci

[2018-06-07 23:07] fitzgen opened #241 "Support creating bindings for WebIDL dictionaries"
https://heycam.github.io/webidl/#idl-dictionaries

Dictionaries are passed by-value, and are structural rather than nominal (aka "duck typed").

For passing them from Rust to an imported function, we can translate dictionaries from

[code]

into the AST equivalent of

[code]

[2018-06-08 04:07] kwonoj commented on #238
MS just recently released testing infrastructure for sanity of type : https://github.com/Microsoft/dtslint maybe we could use utilize in some manner?

[2018-06-08 15:02] sendilkumarn commented on #235
Yeah, I also faced this issue when the versions mismatch.

@alexcrichton Can we check on the versions to highlight users? WDYT?

[2018-06-08 16:58] fitzgen opened #242 "Add a reference for which types can cross the wasm ABI boundary"
In a new `reference.md` document, we should have a table documenting all the types that `wasm-bindgen` can send/receive across the wasm ABI boundary, like this:

| Type | `T` parameter | `&T` parameter | `&mut T` parameter | `T` return value |
|:---:|:---:|:---:|:---:|:---:|
| `u32` | Yes | Yes | Yes | Yes |
| `str` | No | Yes | Yes | No |

[code]

Etc.

For folks who want to help fill this table

[2018-06-08 17:14] fitzgen opened #243 "WebIDL integration tests"
Right now, WebIDL tests are just asserting that the output of compiling some webidl exactly matches what we expect.

We should have integration tests and infrastructure where to write a test you supply:

* a WebIDL source string
* a JS polyfill for the things described in that WebIDL
* a `src/lib.rs` that exports a `#[wasm_bindgen] pub fn run()` function that *uses* the things described in that We

[2018-06-08 17:50] fitzgen opened #244 "Ignore anything that has `ChromeOnly` extended attribute"
Context: `ChromeOnly` is for things that are only exposed to priveleged code in Firefox (where we have been getting our WebIDL sources from). These items aren't exposed to the Web, so we don't want to generate bindings to them.

I'm imagining a `is_chrome_only` function that takes extended attributes and returns `bool`. Then we would check the extended attributes on interfaces, attributes, diction

[2018-06-08 18:00] fitzgen opened #245 "Support emitting bindings only for things in Web Workers"
WebIDL has extended attributes like `[Exposed=(Window, Worker)]` to mean that the item is available in workers and in the main window. The lack of an `Exposed` means only exposed on the main window.

We should take a set of target `Exposed` environments and only emit bindings to WebIDL things that are available in the target environments.

This will allow us to eventually use `cargo` features to c

[2018-06-08 18:04] sendilkumarn commented on #235
Okay I will spend sometime in the weekend 👍

[2018-06-08 18:15] fitzgen opened #246 "Support WebIDL interface mixins"
https://heycam.github.io/webidl/#idl-interface-mixins
https://heycam.github.io/webidl/#using-mixins-and-partials

Example:

[code]

Given that example, I think we would want to

* extend the `Entry`'s bindings with all the things inside the mixin
* turn the `Observable` mixin into a trait with the appropriate methods
* and turn `Interface includes Mixin` into a trait implementation that proxies `<

[2018-06-08 18:19] fitzgen commented on #245
https://heycam.github.io/webidl/#Exposed

[2018-06-08 18:25] fitzgen opened #247 "Support WebIDL constructors"
https://heycam.github.io/webidl/#Constructor
https://heycam.github.io/webidl/#NamedConstructor

This should translate into `new` methods annotated with `BindgenAttr::Constructor`.

[2018-06-08 18:31] fitzgen opened #248 "Support WebIDL getters and setters"
https://heycam.github.io/webidl/#idl-special-operations

[code]

These are the moral equivalent of `Index` and `IndexMut` traits in Rust, except that those must return references and we can't support that (especially with fallible getters and setters). Maybe just translate these into `get` and `set` functions?

[2018-06-08 18:34] fitzgen opened #249 "Support WebIDL inheritence"
https://heycam.github.io/webidl/#dfn-inherit

Example:

[code]

Blockers:

* [ ] Need to figure out how to represent inheritance in general: https://github.com/rustwasm/wasm-bindgen/issues/152

[2018-06-08 18:38] fitzgen opened #250 "Support emitting `&self` methods to access WebIDL regular attributes"
https://heycam.github.io/webidl/#idl-attributes

Given

[code]

we should emit a `fn get_bar(&self) -> i32` method to get `Foo`'s `bar` attribute.

[2018-06-08 18:39] fitzgen opened #251 "Support emitting getters for static WebIDL attributes"
https://heycam.github.io/webidl/#idl-attributes

Given

[code]

we should emit a `fn get_bar() -> i32` method to get `Foo`'s static `bar` attribute.

This is similar to #250 except that there is no `&self` parameter.

[2018-06-08 18:43] fitzgen opened #252 "Support emitting setters for WebIDL attributes that are not `readonly`"
https://heycam.github.io/webidl/#idl-attributes
https://heycam.github.io/webidl/#dfn-read-only

We should not emit setters for this:

[code]

But we should emit a `fn bar(&self, val: i32)` setter for this:

[code]

[2018-06-08 19:33] teovoinea commented on #244
I’d like to pick this issue up! 😊

[2018-06-08 19:47] fitzgen commented on #244
Awesome! Let me know if you have any questions. The WebIDL frontend lives in `crates/webidl`, and you can run its tests via `cargo test` within that directory, see `crates/webidl/tests/*`.

[2018-06-08 19:57] fitzgen opened #253 "Support WebIDL namespaces"
[code]

I think we want to emit a wrapper module around the emitted bindings for these, eg the equivalent of:

[code]

We will need to add support for this at the `backend::ast` level.

[2018-06-08 20:00] fitzgen opened #254 "Support WebIDL partial namespaces"
Blockers:

* [ ] #253

https://heycam.github.io/webidl/#dfn-partial-namespace

[code]

Should be able to extend the AST we created for the original namespace in place.

[2018-06-08 20:06] fitzgen opened #255 "Support WebIDL partial interfaces"
https://heycam.github.io/webidl/#dfn-partial-interface

[code]

This is essentially the same as

[code]

Therefore I think we should block on support for mixins, and desugar this into basically the above.

Blockers:

* [ ] #246

[2018-06-08 20:16] fitzgen opened #256 "Support WebIDL typedefs"
https://heycam.github.io/webidl/#idl-typedefs

[code]

We should extend `backend::ast` to allow representing type aliases and then translate typedefs into these type aliases.

[2018-06-08 20:22] fitzgen opened #257 "Support WebIDL callback functions"
https://heycam.github.io/webidl/#idl-callback-functions

Example:

[code]

~~Should probably translate these into `FnMove(...) -> ...` since we can't be sure about the way the interfaces might use the callbacks.~~

[2018-06-08 20:30] fitzgen opened #258 "Support WebIDL callback interfaces"
https://heycam.github.io/webidl/#dfn-callback-interface

These are like dictionaries (structural, not nominal; user-defined, not host defined) for sets of callback functions.

Example:

[code]

These should probably be translated into traits, and then operations that take or return these should take `Box<OpenCloseListener>`.

[2018-06-08 20:33] fitzgen opened #259 "Support WebIDL constants"
https://heycam.github.io/webidl/#idl-constants

We can turn these into Rust constants. Just need to extend `backend::ast` to be able to represent them.

[2018-06-08 20:44] fitzgen opened #260 "Support WebIDL enumerations"
https://heycam.github.io/webidl/#idl-enums

[code]

These are always string literals.

I don't think we want to translate these into Rust `enum`s because Rust is allowed to assume they are exhaustive, meaning that if the definitions are extended in the future, we would get UB in Rust.

Instead, we can translate it into something like:

[code]

[2018-06-08 23:08] Pauan commented on #257
What's an `FnMove`? Did you mean `FnMut`?

[2018-06-09 03:33] teovoinea commented on #244
Just to clarify, when you said "takes extended attributes", did you mean one function for each of [these](https://docs.rs/webidl/0.6.0/webidl/ast/index.html) `*ExtendedAttribute` structs?

[2018-06-10 00:12] DarrenTsung opened #261 "Fetch API cannot load file://xxxx.wasm file"
I'm running into this error on Google Chrome (Version 67.0.3396.79 (Official Build) (64-bit)) when attempting to use wasm-bindgen with --no-modules:
[code]

This is in the `init()` function of the generated js file. Is there any known workaround for this or is fetching a local file just broken in Chrome? It works fine on Firefox for me.

[2018-06-10 00:35] jsheard commented on #261
There are some launch params that supposedly enable `file://` access in Chrome but I could never get them to work, I'm guessing they only affect `XMLHttpRequest` and not the newer `fetch` API.

I'd suggest just using something like [live-server](https://www.npmjs.com/package/live-server), which has the side benefit of automatic reloading.

[2018-06-10 04:58] ohanar commented on #226
This seemed like a decent issue to start trying to get familiar with the codebase. I took a stab at this at #262.

[2018-06-10 08:59] ohanar commented on #250
This is implemented here: ohanar@2fbd4d9e3489e2b25b983ebf95c5f167737e98ec (based off of my pull request for snake case methods). The signature is `fn bar(&self) -> i32`, which follows the conventions in the examples more closely (this can be easily changed).

It currently fails the test suite since it now depends upon the `DOMHighResTimeStamp` type (it would also depend on `EventTarget` if nullabl

[2018-06-10 09:00] ohanar commented on #252
This is implemented here: ohanar@2fbd4d9e3489e2b25b983ebf95c5f167737e98ec (based off of my pull request for snake case methods). The signature is `fn set_bar(&self, bar: i32)`, which follows the conventions in the examples more closely (this can be easily changed).

It currently fails the test suite since it now depends upon the `DOMHighResTimeStamp` type (it would also depend on `EventTarget` if

[2018-06-10 09:22] lynncyrin commented on #196
Update! `wasm-pack` is definitely where these ideas go ^^

[2018-06-10 09:22] #196 closed

[2018-06-10 16:43] sambathl opened #263 "wasm-bindgen broken : serde : proc-macro2"
seems proc-macro2 dependency of serde got unstable, we can't able to do `cargo build` with wasm-bindgen as dependency

[2018-06-10 16:44] sambathl commented on #263
log for compiling hello world example
` Compiling proc-macro2 v0.4.6
   Compiling serde_json v1.0.20
error[E0433]: failed to resolve. Could not find `Punct` in `proc_macro``

[2018-06-11 06:12] ohanar commented on #243
Implemented in #264. It should support auto-generating `test.ts` files that will call `#[wasm_bindgen] pub fn test()`, however given that constructors aren't implemented at the moment, the basic example doesn't currently use it (although this example does demonstrate that you can still use a custom `test.ts` for webidl if needed for a test).

[2018-06-11 06:29] ohanar commented on #260
I would also vote for mapping them to rust enum's, especially given that the non-exhaustive enum's rfc was accepted and has already been implemented in the nightly compiler.

[2018-06-11 14:30] FreeMasen commented on #224
Maybe I was unclear with my initial description of the issue.

Since we are targeting both `node` and the browser,

Developer's of Rust libraries, like the rand crate, might need to include arbitrary bits of javascript to become compatible with `#[wasm-bindgen]`. One way that could be done would be to allow them to add to these bits of javascript to the file generated by `wasm-bindgen`.

Maybe, th

[2018-06-11 20:24] ctaggart commented on #234
This looks cool. I helped write https://www.npmjs.com/package/ts2fable which generated F# Fable code based on the TypeScript. It gets pretty complicated. The approach I took was:
- manually create the binding to the typescript.ts api
- use the TypeScript API to read in the TypeScript definitions and generate bindings

After some work, I was able to generate binding for the TypeScript API itself an

[2018-06-11 23:06] fitzgen commented on #257
Woops, yeah just meant that we have to give up ownership of anything the function closes over and move it into the function.

[2018-06-11 23:07] fitzgen commented on #244
Yeah, for example: https://github.com/rustwasm/wasm-bindgen/blob/master/crates/webidl/tests/fixtures/Event.webidl#L45

[2018-06-11 23:10] fitzgen commented on #250
@ohanar, would you like to add support for `DOMHighResTimeStamp` to unblock your work on this issue?

[2018-06-11 23:12] fitzgen commented on #260
SGTM!

[2018-06-11 23:36] Pauan commented on #257
@fitzgen Right, stdweb handles that by requiring callbacks to be `'static`, which seems to work well.

[2018-06-11 23:54] ohanar commented on #250
I'll look into it. It is a typedef in Performance.webidl, so it basically amounts to adding support for typedefs.

[2018-06-12 01:59] ohanar commented on #226
This should be closed now.

[2018-06-12 04:36] fitzgen commented on #226
@ohanar FYI, if you add "fixes #1234" to a commit or pull request summary, then when it gets merged the issue will be automatically closed :)

[2018-06-12 04:36] #226 closed

[2018-06-12 04:43] fitzgen commented on #256
Fixed in #266

[2018-06-12 04:43] #256 closed

[2018-06-12 07:05] kaorun343 commented on #263
Could you check the version of  `proc-macro2` written in `Cargo.lock` ?
I also mentioned this problem and solve by deleting and recreating the lock file.

[2018-06-12 13:29] mehdishojaei commented on #263
It's not related to `serde`, it's all about `proc_macro`.

[2018-06-14 18:33] david-yan commented on #263
Hello, I was just wondering if there has been a fix to the issue or if it is being addressed. Thanks!

[2018-06-14 22:06] dtolnay commented on #263
I am going to need some help reproducing this. I tried the following:

[code]

and it compiled successfully.

[2018-06-14 22:18] david-yan commented on #263
Which toolchain are you using? The following reproduced the error for me:
[code]

[2018-06-14 22:59] dtolnay commented on #263
The "nightly" feature of proc-macro2 does not (cannot) support old nightlies. You need to be using the newest nightly. Nightly means that you update the compiler every night.

[2018-06-14 23:38] david-yan commented on #263
I see. That complicates things for me but thanks so much for your response!

[2018-06-15 04:34] mtharrison opened #270 "How to export memory?"
I have a Webassembly module that I was using as follows:

1. call an `alloc(size)` function inside wasm to allocate a chunk of memory in the module returning a pointer
2. copy some data from js side into wasm module
3. call a `process(ptr)` function inside wasm to operate on that data
4. copy the data back to JS side

I'm trying to migrate to wasm-bindgen but I have an issue: The wasm-bindgen glue

[2018-06-15 04:45] mtharrison commented on #270
Just realised that passing/returning a `&[u8]` might be more idiomatic using wasm-bindgen. Although I'm not sure if that will involve more copying.

[2018-06-15 16:22] fitzgen opened #271 "Rust 2018 edition warnings"
Apparently we are generating code in the macro that will break in the 2018 edition. We should fix that.

cc @wycats -- can you help us out with STR + test case here?

[2018-06-15 18:35] #247 closed

[2018-06-15 22:43] #250 closed

[2018-06-15 22:43] fitzgen commented on #252
Thanks for the heads up!

[2018-06-15 22:43] #252 closed

[2018-06-16 05:05] mtharrison commented on #270
Thank you

[2018-06-16 07:59] mehdishojaei commented on #263
Cloning the repo and checking out to 0.2.8 works!
[code]

[2018-06-17 16:27] FreeMasen commented on #57
After #265 we are now copying doc comments from Rust to JS for the following using the [JSDoc](http://usejsdoc.org/) format.

- Classes
- Methods
- Public Attributes
- Functions

The only other doc comments that I can think of would be module level comments.

One of the nice things about the JSDoc comments is that they define the tooltip content when working in VSCode. I would ideally like to see

[2018-06-17 16:55] FreeMasen commented on #23
As an example here is what the output of the [comments example](../tree/master/examples/comments/src/lib.rs) looks like

[gist](https://gist.github.com/FreeMasen/9574d20503f009da8137999a27592ce6)

[2018-06-18 08:15] AugustinLF commented on #263
@dtolnay When running the same commands as you
[code]
At `Compiling proc-macro2 v0.4.6`, I got several errors, the first one being
[code]
I don't think I have any nightly builds, do you know any command I could run to confirm that? I also got the same errors when simply running the examples in the readme.

[2018-06-18 20:44] #251 closed

[2018-06-18 23:02] fitzgen opened #275 "js-sys: Expose bindings to ALL the global JS things"
This is about exposing **ALL** of the globally available JS APIs through the `js-sys` crate. Things that are guaranteed by the ECMAScript standard, *not* Web/Node/etc APIs.

[A good overview/list/documentation of these APIs is available here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects) and I've also made a checklist below. As we implement bindings for these AP

[2018-06-19 20:45] coreh commented on #275
Would it make sense to reference (or perhaps even automatically convert?) the [TypeScript definitions](https://github.com/Microsoft/TypeScript/blob/master/lib/lib.es5.d.ts) for these? Additional definitions are separated per ES version and available [on this directory](https://github.com/Microsoft/TypeScript/blob/master/lib).

[2018-06-19 21:06] fitzgen commented on #275
@coreh we are building a TypeScript frontend to `wasm-bindgen` (cc @spastorino) but it has a bit of a ways to go before we can rely on it. Additionally, `.d.ts` files don't give us information about whether a method can throw or not, so we would have to be conservative and assume that they always do, which isn't great to have at the most foundational layer of bindings.

For Web APIs, we intend to

[2018-06-19 21:07] sepiropht commented on #275
I would like to help! I know some Javascript and i' m currently learning rust. But i want to understand, what is the purpose of all this bindings ?

[2018-06-19 21:09] wismer commented on #275
How would multiple, optional arguments be handled for something like `Array.prototype.concat`? And on the subject of `Array`, would the type for this be `JsValue` ?

[2018-06-19 21:11] fitzgen commented on #275
@sepiropht the purpose is so that we don't duplicate bindings across the ecosystem (or even within a single crate dependency graph) and people can be productive more quickly.

[2018-06-19 21:16] fitzgen commented on #275
@wismer we don't have great support for optional arguments at the moment, so for now it is best to do one of:

* write bindings for a different function/object
* ignore the optional bindings
* always require the optional bindings

different choices may make sense for different methods.

[2018-06-19 21:35] wismer commented on #275
@fitzgen ok thanks - I'm eager to get started but I've run into a hiccup with the tests and it looks like it's a propagating JS error regarding `WebAssembly is not defined` - I've tried `npm install` and the link to the contributing guidelines is broken [https://rustwasm.github.io/wasm-bindgen/contributing.html](https://rustwasm.github.io/wasm-bindgen/contributing.html), so I'm not sure what build

[2018-06-19 21:39] fitzgen commented on #275
@wismer yeah, I'm trying to fix the gh-pages deploy on travis ci right now >.<

Make sure you've got node 10 installed (there are tests that depend on BigInt, which is >= 10; WebAssembly is >= 8).

[2018-06-19 21:43] wismer commented on #275
Ah gotcha! thank you!

[2018-06-19 21:44] fitzgen commented on #275
Also, the gh-pages should be fixed now!

[2018-06-19 21:57] #243 closed

[2018-06-19 21:58] ohanar commented on #243
Fixed in #264.

[2018-06-20 04:34] robertDurst commented on #275
Hey @fitzgen ! I would be interested in `array.length` to start

[2018-06-20 04:57] wismer commented on #275
@fitzgen is this close to what you are looking for? (`Array.prototype.indexOf`)

[code]

[2018-06-20 08:00] UtherII commented on #275
Shouldn't the MDN summary modified to match rust function names too ?

For instance decodeURI() reference to itself and encodeURI
    /// The `decodeURI()` function decodes a Uniform Resource Identifier (URI)
    /// previously created by `encodeURI` or by a similar routine.

[2018-06-20 17:23] jonathan-s commented on #275
I followed the instructions here -> https://rustwasm.github.io/wasm-bindgen/contributing.html but when running `cargo test` 99% of the tests fail...

[2018-06-20 18:06] fitzgen commented on #275
@UtherII

Sure! Want to send a PR updating existing docs and adding that to the comment in `src/js.rs`?

[2018-06-20 18:08] fitzgen commented on #275
@wismer

Exactly! Just need to also add the summary from MDN as a doc comment, as described in the instructions comment in `src/js.rs`.

[2018-06-20 18:11] wismer commented on #275
@fitzgen oh great! Would you prefer a PR for each individual one done, or have them batched together. I updated that comment with some other questions just a moment ago so let me know what you think!

[2018-06-20 18:32] fitzgen commented on #275
@wismer, I would say do ~one PR per day, so batch however many that happens to be together :)

Individual commits for each bindings is still preferred :) :+1:

[2018-06-20 18:33] belfz commented on #275
Hello! For a good start, I'll take care of the `Promise` constructor and `Promise.all()` :)

[2018-06-20 19:22] jonathan-s commented on #275
Trying my hands on `toString`.

[2018-06-20 19:30] belfz commented on #275
Okay, I'm literally stuck. I tried to implement a `Promise` constructor like this:

[code]

but it says that `the trait `closure::WasmClosure` is not implemented for `&core::ops::Fn(JsValue)``. Looking at what's going on in `src/closures.rs` I have no clue how to implement that trait for `JsValue`. Any hints?

[2018-06-20 19:31] coreh commented on #275
@fitzgen

Gotcha, that's indeed a current shortcoming of the TypeScript type system, hopefully they'll add support for typing exceptions in the future.

[2018-06-20 19:39] fitzgen commented on #275
@belfz I think you want `Closure<FnMut(JsValue)>` rather than `Closure<&Fn(JsValue)>`. Let me know if that works.

[2018-06-20 19:47] belfz commented on #275
@fitzgen thanks, I removed my last comment because I noticed I was wrong about the shape of Promise's `executor` (`(resolve, reject) => {}` in plain JS). I'll take your hints into account.

[2018-06-20 20:17] fitzgen opened #279 "Set a custom panic_hook to log to console.error in the test suite"
Essentially what https://github.com/rustwasm/console_error_panic_hook is doing, but I don't know whether we want to use that directly (dependencies could get funky, since it depends on wasm-bindgen) or just do the same technique.

Other thing to think about is how to make this ergonomic, so that we don't have to keep repeating boilerplate in every test.

[2018-06-20 20:17] belfz commented on #275
Ok, as far as I can tell, the definition of `Promise::new` should look like:
[code]

It is consistent with JavaScript's
[code]

where `resolve` and `reject` are callable.

However, this implementation throws:
[code]

The cause of this error in that particular place is vague to me.

[2018-06-20 20:23] fitzgen commented on #275
@belfz are you on IRC? can you share your branch?

As I mentioned earlier, it might be easier to start with non-closure methods first.

[2018-06-20 20:29] belfz commented on #275
@fitzgen I'm not on IRC right now. I pushed the [branch here](https://github.com/belfz/wasm-bindgen/tree/expose-bindings/promise-constructor-promise-all). I can open the pull request and we can discuss it there, if you prefer.

[2018-06-20 21:10] jonathan-s commented on #275
Picking `string.length`

[2018-06-20 21:45] belfz commented on #275
If `#[wasm_bindgen(method, js_name = some_name)]` is for instance methods, what's the attribute for static methods (like `Promise.all`)? I couldn't find any example so far.

[2018-06-20 21:52] fitzgen commented on #275
We need to add support for something like `#[wasm_bindgen(static_method_for = Object)]` so we can do

[code]

and have that turn into an `impl Object` block with a static method. Right now, we have `js_namespace` for things like `console` and `Math`, but that doesn't work for when we want to put the functions into an `impl` block.

That said, it should be pretty easy to extend `crates/backend/src/

[2018-06-20 21:53] belfz commented on #275
Looks like I'm very unlucky tonight 😂 this blocks me from implementing `Promise.all` too.
Well... I really wanted to help!

[2018-06-20 21:54] fitzgen commented on #275
There's lots of prototype methods that need implementing too :)

[2018-06-20 21:57] belfz commented on #275
At least we learned what's possible and what is not possible now.

I'll go easy this time. Please assign me to `Object.prototype.isPrototypeOf()`. I am not giving up yet! ;)

[2018-06-20 21:58] ohanar commented on #275
Static methods (and attributes) should already have support on the codegen side of things (I implemented it for WebIDL), but it just needs to be hooked up to the macros.

[2018-06-20 22:02] sepiropht commented on #275
there is some irc channel where we can ask questions ?

[2018-06-20 22:08] fitzgen commented on #275
https://github.com/rustwasm/team#1-join-our-irc-chat

[2018-06-21 07:19] belfz commented on #275
I'll take `Object.prototype.propertyIsEnumerable()` next.

[2018-06-21 11:11] elpiel commented on #275
I want to pickup `String.prototype.charAt()` for starters and try to implement it.

[2018-06-21 11:52] belfz commented on #275
@elpiel I'm afraid that `String` type might be tricky because of the name collision of extern type with rust's `String` type. But I could be wrong, so let us know!

[2018-06-21 18:15] fitzgen opened #287 "Cannot use JS strings without copying them into wasm memory"
This doesn't work, but it should:

[code]

This is blocking all the `String` related bindings in #275.

I haven't dug in very far, but I think the issue is that strings are special cased by wasm-bindgen to always copy in/out of wasm memory, and so we can't reference them as an opaque extern type.

[2018-06-21 18:17] fitzgen commented on #275
Note that all `String` bindings are blocked on https://github.com/rustwasm/wasm-bindgen/issues/287 right now.

[2018-06-21 20:32] wismer commented on #275
@fitzgen For the array methods that return `Array Iterator`, should this be treated as a separate type in the bindings (assuming it's in the same scope of `Array`?

like

[code]

[2018-06-21 20:42] fitzgen commented on #275
@wismer yes, I believe the return value would be a new extern type `ArrayIterator`.

[2018-06-21 20:54] FreeMasen commented on #233
I spent a good amount of time on this problem ~ a week ago. Looking over what google has to say about writing js for both Node and the browser is pretty tricky.

The biggest issue right now is that node isn't currently resolving `.wasm` files with `require` instead we need to use `require('fs') to read in the `Buffer`. To further complicate this simply including `require('fs')` anywhere in your sc

[2018-06-21 21:03] mbalex99 commented on #233
You hit all the painpoints we did. Eventually I had to create a post build script to remove node related files. It feels super janky but it was the only way that webpack wouldn't try to read files we didn't want it to. :-/

[2018-06-22 03:47] FreeMasen commented on #233
After some additional work I was able to get the eval solution to actually work for both environments. It is actually pretty weird to me that webpack can resolve `require('util')` in the main bindgen file but here we are.

The full solution can be found [here](https://github.com/FreeMasen/wasm_cmark_parse);

In the pkg folder you can see that I have taken the `TextEncoder` from the default file an

[2018-06-22 04:40] robertDurst commented on #275
Interested in taking `Array.prototype.values()` next!

[2018-06-22 10:44] belfz commented on #275
I'll continue with the `Object` - picking `Object.prototype.toLocaleString()` next.

[2018-06-22 16:05] kzvi commented on #287
Aside from `js_name` not working, this works for me. Here is an example test case of it working (see `build.sh`): https://github.com/kzvi/wbg_test

[2018-06-22 16:14] jonathan-s commented on #275
How do I go about understanding how to fix this? Ie sometimes you need a method to accept a function.

[code]

[2018-06-22 17:56] kzvi commented on #287
[This line](https://github.com/rustwasm/wasm-bindgen/blob/9e01e67aa3cb94493372f88acb4c8e5b2b0a684e/crates/backend/src/ast.rs#L387) in crates/backend/src/ast.rs makes the assumption that the literal type name of a method in Rust is going to be the same as the type name of a method in Javascript. This is why this is breaking.

In order to fix this, either:

- Every method declaration needs to be ann

[2018-06-22 20:53] elpiel commented on #275
Hello again. I did try to take up on the task taking a look how can I expose `Math.PI`, but tbh I don't think I understand any of this. I did try to setup a `extern` for `Math` and set `pub static PI: f64 = f64::consts::PI;`, but it's complaining that `Static constants in extern blocks can't have value` (that's actually from intellij, the compiler is even more vague:
[code]

Have you though or do

[2018-06-22 21:13] fitzgen commented on #275
It isn't `extern` if you're defining its value ;) Basically just put a `;` where the `=` is and then leave off the rest. That should do the trick, I think.

[2018-06-22 21:52] fitzgen commented on #275
@ohanar @belfz Heads up, I added support for importing static methods via attributes in this PR:

https://github.com/rustwasm/wasm-bindgen/pull/296

Once that lands, we should be able to write bindings for `Promise.all`, `Object.freeze`, etc.

[2018-06-22 22:38] belfz commented on #275
That's great news, thanks @fitzgen. I'll take a look at the PR tomorrow!

[2018-06-23 08:00] belfz commented on #275
In the meantime, I'll take `Object.prototype.valueOf()`.

[2018-06-23 17:35] robertDurst commented on #275
For the next one, I'll change it up a bit and take `Date.prototype.toString()`

[2018-06-23 19:59] akryvomaz commented on #275
I'd like to start from ```Function.length``` and ```Function.name```

[2018-06-24 12:31] autodidaddict commented on #275
I can take a crack at the math functions Math.xx

[2018-06-24 12:37] sendilkumarn commented on #275
That is awesome @autodidaddict go ahead 👍

[2018-06-24 18:37] ohanar commented on #287
I believe this was resolved in #295.

[2018-06-24 18:37] #287 closed

[2018-06-24 19:45] elpiel commented on #275
I am again trying the `Sting.prototype.charAt()`. Is it me or `master` currently fails? I am not sure why, but I get the `JsString` is not defined.

[2018-06-25 14:41] steveklabnik opened #309 ""Module doesn't have export __wbindgen_describe___wbg_f_alert_alert_n""
Code:

[code]

Cargo.toml:

[code]

When I invoke wasm-bindgen through wasm-pack...:

[code]

rustc version:

[code]

Any ideas what's wrong here?

[2018-06-25 15:39] wismer commented on #309
@steveklabnik I wonder if it has to do with the extern func declaration? I'm accustomed to seeing examples having the functions exposed with `pub`

[2018-06-25 16:21] steveklabnik commented on #309
That is totally it! I've sent a docs PR upstream.

[2018-06-25 18:35] fitzgen commented on #309
If the use of the thing is in the same crate (as is the case here), then it shouldn't need the `pub`... Not sure what is going on here.

[2018-06-26 03:11] xeqlol commented on #275
I would like to take **WeakMap** 🚀

[2018-06-26 09:23] Procrat opened #320 "Support returning Rust struct from JS"
Should it be possible to return (a pointer to) a Rust struct from Javascript? I noticed that trying to compile this, fails:

[code]

In general, I see three ways to cross the FFI boundary between Rust and JS:
- Serialise data structures when passing the boundary
- Construct, manipulate, and query all data structures in JS by calling JS functions from Rust/wasm
- Construct, manipulate, and query al

[2018-06-26 11:27] belfz commented on #275
Now that static methods are supported, I'll work on `Object.seal()`.

[2018-06-26 17:58] hjr3 commented on #275
I will take `Array.isArray()`.

[2018-06-26 18:01] fitzgen commented on #320
For info about how data is passed across the boundary, see https://rustwasm.github.io/wasm-bindgen/design.html and https://github.com/rustwasm/wasm-bindgen/blob/master/src/convert.rs#L16-L76

In general, we try to avoid serialization unless explicitly requested.

Agreed that your example should work. We should fix whatever needs fixing there.

[2018-06-26 18:09] fitzgen commented on #263
Ok, closing this issue then :)

[2018-06-26 18:09] #263 closed

[2018-06-26 18:23] akryvomaz commented on #275
I will pick ```Function.prototype.apply()``` and ```Function.prototype.toString()``` next

[2018-06-26 18:42] fitzgen commented on #309
I still think it is a bug that it doesn't work without `pub`.

[2018-06-26 20:02] acdha opened #329 "Best way to handle self-consuming content"
I've been working on replacing some JavaScript hashing code with Rust variants. This works great as a simple function and the performance numbers look pretty good compared to asmCrypto.js, not to mention the ease of adding support for additional algorithms:

[code]

Unfortunately, adding a streaming interface hits a couple of implementation issues because the `sha2` crate (and the rest of the Rust

[2018-06-26 20:10] elpiel commented on #275
I already implemented: String - length, trim, trimLeft, trimRight, trimStart and trimEnd
I will continue and update the comment about which ones I am working on.

[2018-06-27 04:46] gaurikholkar commented on #275
I will take `Math.floor()`

[2018-06-27 06:53] belfz commented on #275
I'll take `Array.prototype.every()` next.

[2018-06-27 07:09] Hywan commented on #275
I take `Boolean`.

[2018-06-27 07:14] Hywan commented on #275
@fitzgen I take `Date.UTC` and `Date.now`.

[2018-06-27 08:06] xeqlol commented on #275
I'm going to pick **WeakSet.xx**.

[2018-06-27 19:18] alexcrichton commented on #329
Thanks for the report! Here we'll likely just want to add support for `self` as it should have a simple-enough translation to JS. In that sense I think for now you can work around this with an internal `Option` and otherwise this is a TODO for wasm-bindgen to implement!

[2018-06-27 19:40] acdha commented on #329
Thanks for confirming that I wasn't missing something obvious. The experience has otherwise been pretty awesome, with a substantial performance win over asmCrypto.js!

[2018-06-27 20:02] jevancc commented on #329
Hi, I also have the same issue in my project.

My solution is to implement the self-consuming method as a non-member function. For your example it could be:
[code]
Then you can pass your object to this function as an argument.  Notice that the member `ptr` of the consumed object on JS side will be set to `0`. Make sure that you won't use it after passing to this function.

[2018-06-27 21:42] acdha commented on #329
I ended up kludging this with a Cell in https://github.com/acdha/wasm-hashing/commit/6bb246dd7b1ab420aeacc8031a787b4df238002c which is ugly (I wanted to see if there was a cleaner generic way to handle that boilerplate, although trait impls appear not to be supported yet) but was enough to confirm that I'm getting competitive performance with other hash implementations. I need to review that code

[2018-06-27 21:54] fitzgen opened #337 "Add github issue/PR templates"
Empirically, I have found that these tend to lead to better issues being filed and PRs being sent.

Here is the rust-bindgen issue template: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/.github/ISSUE_TEMPLATE.md

Here is wasm-pack's PR template: https://github.com/rustwasm/wasm-pack/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2018-06-27 23:13] ohanar commented on #14
My proposal is two-fold. First, for `Option`
[code]
In Javascript, people generally don't have doubly nullable types (i.e. nested `Option`), so there is no obvious conversion for `Some(Some(7))` or `Some(None)`. Rather than try to have a perfect representation on the Javascript side, I think we should more closely match convention. There is also a bit of precedent for this in `serde_json`, where `

[2018-06-27 23:31] ohanar commented on #14
Also, if this sounds like a good approach, I would be happy to do the work to implement it.

[2018-06-28 00:44] turboladen commented on #309
For future lurkers... I ran into this same thing where I was in business with:

[code]

...but as soon as I removed the `pub` from the module declaration in `lib.rs`, I started getting the same as reported here. Had me scratching my head because all of the things in `other_module` were marked `pub`. Once I made made the module `pub` again I was 👍 .

[2018-06-28 05:08] xeqlol commented on #275
JSON bindings are also picked. 🚀

[2018-06-28 07:06] jannikkeye commented on #275
I'll have a go at Map.size() for starters.

[2018-06-28 07:53] seako commented on #275
🤚 I'm working on Array.find

[2018-06-28 09:16] jannikkeye commented on #275
I'm also going to work on Set.xx.

[2018-06-28 11:15] xtuc commented on #233
That make sense @alexcrichton.

I'm part of the wg for ESM in Node and indirectly for browser as well, interop between CJS and ESM is a concern there. I think that using ESM by default is the way to go since they are usable from CJS and will be default in the JS ecosystem at some point.

@mbalex99 Webpack supports now ESM by default, I don't see an issue there.

---

One issue is see is for Node w

[2018-06-28 11:17] xtuc commented on #231
Note that instantiateStreaming is not available on Node.

I can recommend you to look at the output of Webpack: https://github.com/webpack/webpack/blob/586f9a21768e8bbc6bead6e564a6c7981a42f2d8/examples/wasm-simple/README.md (open the details).

[2018-06-28 11:19] jannikkeye commented on #275
I'll have a go at Symbol.xx next.

[2018-06-28 15:19] autodidaddict commented on #275
Should probably update the instructions to remind people to `npm install` after checkout before attempting to run the tests.

[2018-06-28 16:09] autodidaddict commented on #275
What is the pattern for dealing with a variadic function? For example, `Math.hypot` can take 2, 3, 4, ... n parameters

[2018-06-28 16:59] fitzgen commented on #14
Given the back-and-forths on this issue, and its potential impact on a large group of downstream users of wasm-bindgen, I think we should make this an RFC (your comment is pretty close to what we envision a lightweight RFC to be already, @ohanar). This way, we can solicit feedback from the larger group.

I am working on writing up the template RFC and all that right now, will ping back here again

[2018-06-28 18:00] loovjo opened #346 "Extern function with an underscore as argument name causes panic saying "unsupported pattern in foreign function""
Minimal example:

[code]

This is probably not the intended behaviour as the extern block compiles fine without the bindgen attribute.

[2018-06-28 18:35] alexcrichton commented on #235
Support for this error comes from this block of code --

https://github.com/rustwasm/wasm-bindgen/blob/2f465d3d2329055bfd16148fa2fa095cfbe21688/crates/cli-support/src/lib.rs#L252-L275

Empirically that doesn't seem to be working out much in practice, and I think that it's due to the fact that the "schema version" written down there must be hand-modified, and I often forget to do so when making a r

[2018-06-28 18:37] alexcrichton commented on #261
Thanks for the report! If `fetch` doesn't work, what's the best way to load resources dynamically via the `file://` url? If it's small enough we can probably just include it inline in the output

[2018-06-28 18:38] alexcrichton commented on #89
Fixed in https://github.com/rustwasm/wasm-bindgen/pull/268 I believe, thanks @FreeMasen!

[2018-06-28 18:38] #89 closed

[2018-06-28 18:40] alexcrichton commented on #172
We've now got a guide as of https://github.com/rustwasm/wasm-bindgen/pull/276, which should solve this!

[2018-06-28 18:40] #172 closed

[2018-06-28 18:41] jsheard commented on #261
Maybe inline the wasm in `--debug` mode, and `fetch()` it in release?

[2018-06-28 19:48] ohanar commented on #14
@fitzgen Sounds good!

[2018-06-28 20:02] alexcrichton commented on #201
I've started a branch at https://github.com/rustwasm/wasm-bindgen/tree/used to game out the usage of `#[used]` to hopefully overcome the restrictions here, although it's not quite working yet and I haven't had a chance to dig in

[2018-06-28 20:03] alexcrichton commented on #309
@turboladen I think that issue is https://github.com/rustwasm/wasm-bindgen/issues/201

[2018-06-28 20:06] alexcrichton commented on #309
@steveklabnik hm I'm a little confused and I wonder if this could be a roundabout version mismatch or wasm-pack bug? We have an example [in this repository](https://github.com/rustwasm/wasm-bindgen/blob/master/examples/hello_world/src/lib.rs) with your exact example above, and it's tested to work on CI

If you check out the master branch of this repo does the example work? Or does your installed t

[2018-06-28 20:45] alexcrichton commented on #224
Thanks for opening an issue for this, I'd meant to do so a long time ago and hadn't gotten around to it!

I think there's a lot of design space here and I think it's also gonna be pretty difficult to solve all the constraints (depending on how many we'd like to bring on). I definitely think that wasm-bindgen needs a story for "hey I wrote a small snippet of JS and I'd like to include it here".

I

[2018-06-28 20:58] lukewagner commented on #224
I definitely like the idea of being able to include arbitrary bits of JS (written as ESMs) in the crate and the original comment is a great use case.  My default assumption is that said glue wouldn't be injected into the wasm-bindgen-generated glue ESM.  You'd just have either:
```a.wasm --imports--> wbg-glue.js --imports--> rand.js```
or, if no wasm-bindgen glue was actually necessary:
```a.wasm

[2018-06-28 21:22] alexcrichton commented on #261
I'd personally prefer to investigate something like [XMLHttpRequest](https://stackoverflow.com/questions/30008114/how-do-i-promisify-native-xhr) to see if that works with `file://` urls

[2018-06-28 21:38] belfz commented on #275
@autodidaddict I am afraid there's no pattern yet (unless I'm wrong). In case of fixed number of optional parameters (eg. a second parameter being a config object - see [Object.create() as an example](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/create)), I was thinking that maybe using Rust's `Option` type could be a good idea. For fully variadic functio

[2018-06-28 21:51] brisad commented on #275
Hi!
New to wasm, but I'd love to help out and learn things along the way.

I can take `String.prototype.toLowerCase()` and `String.prototype.toUpperCase()`.

[2018-06-28 22:16] brendankenny commented on #233
It seems like there's two issues going on:
- `--no-modules` could support *both* the browser and node if the individual `--browser` and `--nodejs` flags aren't given. Today `--no-modules` supports just browsers, but with a simple environment conditional it could `require()` instead of using global utilities, `fs.readFileSync()` instead of `fetch()`, and write to `module.exports` instead of `self.w

[2018-06-29 01:06] #346 closed

[2018-06-29 01:08] #320 closed

[2018-06-29 01:09] #329 closed

[2018-06-29 05:24] David-OConnor opened #353 "proc_macro tokenstream dependency broken"
[code]

[code]

[2018-06-29 08:41] xtuc commented on #233
@brendankenny thanks for taking the time to clarify that and I agree. Similar discussions are going on in a few other places, let's try to keep them in one place.

It seems that a Webpack loader for wasm-bindgen is the way to go :innocent:

It might be worth going through the RFC process https://github.com/rustwasm/rfcs to have a clear idea of what to do here.

While I agree, I don't think we shou

[2018-06-29 11:37] chinedufn commented on #353
Vaguely recall seeing this a while ago and if I remember correctly I just needed to update to the latest nightly.

[2018-06-29 14:21] alexcrichton commented on #353
Indeed updating dependencies should do the trick here! If it doesn't though please let us know!

[2018-06-29 14:21] #353 closed

[2018-06-29 15:11] David-OConnor commented on #353
I believe I'm running the latest nightly: rustc 1.28.0-nightly (e3bf634e0 2018-06-28).

[2018-06-29 15:23] alexcrichton commented on #353
@David-OConnor have you tried `cargo update -p proc-macro`?

[2018-06-29 17:37] turboladen commented on #309
Ah, thanks @alexcrichton !

[2018-06-29 18:16] alexcrichton commented on #309
Hm I've also tried out the instructions in the OP and can't reproduce :(

[2018-06-30 18:53] alexcrichton commented on #201
Ok I've ironed out various kinks in the branch and it looks like two more things are still needed to implement this:

1. First we need to upgrade LLD with `--gc-sections`. Otherwise the binaries keep too much information (a bunch of function pointers). Without `--gc-sections` we can't turn this on by default as it'll regress wasm sizes too much.
2. Second, it doesn't actually work! [As we can see

[2018-06-30 22:17] belfz commented on #275
I'll take `Object.setPrototypeOf()` and `Object.values()`.

[2018-07-01 01:30] kzvi opened #357 "The 'imports::versions' test fails on OSX"
I don't know why but here is the output: https://gist.github.com/kzvi/bf225ec60343397938dd5fbd97479678

OS: OSX 10.13.5
Node: `v10.5.0`
NPM: `6.1.0`
rustc: `rustc 1.28.0-nightly (e3bf634e0 2018-06-28)`
cargo: `cargo 1.28.0-nightly (e2348c2db 2018-06-07)`

[2018-07-01 12:38] akryvomaz commented on #275
I'm working on ```Function.prototype.bind()```, ```decodeURIComponent()``` and ```encodeURIComponent()```

[2018-07-01 13:51] jhenninger opened #360 "Depend on specific/minimum Node.js version for tests?"
I was wondering why some tests (namely the date.toLocale* methods) were failing for me locally and it turns out the Node.js version is the culprit. Examples:

[code]

[code]

Now I don't understand why the second example is green on Travis/Appveyor (which appear to be using Node 10+) when [the expected output of `toLocaleDateString` matches neither of the strings I got above](https://github.com/ru

[2018-07-01 15:00] jonathan-s commented on #275
@jhenninger You are correct in that there are a couple of bindings that take i32, but should take f32 or possibly f64. (The i32 was a bug that I happened to introduce). You're welcome to fix that, otherwise I was going to get to that today :)

[2018-07-01 16:20] jonathan-s commented on #360
I'm not sure that it's due to the version of Node necessarily, rather it appears it is something that you need to require when installing / compiling node. [See here](https://nodejs.org/api/intl.html#intl_options_for_building_node_js)

So instead of the current way installing node in Travis it should probably be `nvm install -s 10.5 --with-intl=full-icu --download=all` or perhaps one of the other

[2018-07-01 17:38] sendilkumarn commented on #360
@jhenninger yes @jonathan-s is correct. I too faced the same error and it is based on the OS. That is why it works well in CI without any issues.

[2018-07-01 18:10] jhenninger commented on #360
Thanks for clearing that up! (I'm on Arch Linux and the 10.5.0 version was installed using pacman, all other versions using nvm).

Besides the locale issue there are other version differences that can affect the tests though. E.g. `String.prototype.trimStart` and ` trimEnd` don't exist in in Node 8.x.

[2018-07-01 21:54] belfz commented on #275
Taking `Object.isExtensible()`, `Object.isFrozen()`, `Object.isSealed()` and `Object.preventExtensions()` next :)

[2018-07-01 22:38] jhenninger commented on #275
@jonathan-s I don't know whether to change them to f32 or f64 :)

[2018-07-01 22:43] jonathan-s commented on #275
@jhenninger I'm not entirely sure either, but I have a hunch that you are correct. I believe that @fitzgen will know whether it would be desirable to use f64 for the math methods rather than f32.

[2018-07-01 22:50] autodidaddict commented on #275
Keep in mind Math.imul requires integers. The JavaScript tests fail on
floats.

On Sun, Jul 1, 2018, 6:43 PM Jonathan Sundqvist <notifications@github.com>
wrote:

[2018-07-02 01:02] Pauan commented on #224
I had written some posts covering this problem in a lot of detail (and offering a good solution):

https://github.com/rustwasm/team/issues/92#issuecomment-374898503
https://github.com/rustwasm/team/issues/36#issuecomment-362454792
https://github.com/rustwasm/team/issues/36#issuecomment-364712488

I hope they're helpful.

[2018-07-02 09:37] gaurikholkar commented on #275
I'll pick up `String.prototype.endsWith()` and `String.prototype.lastIndexOf()`

[2018-07-02 14:11] alexcrichton commented on #360
I'd personally be in favor of aggressively following the newest standard and binding as many functions as it contains, regardless of whether the actual runtime supports the method. This matches what the `libc` crate does and it puts the onus on users to do version detection of their runtime (e.g. Node, Chrome, Firefox, etc).

Version detection tends to be really tricky and highly specialized, so w

[2018-07-02 14:12] alexcrichton commented on #357
It looks like there's some errors there about node dependencies, perhaps `npm install` or the equivalent is required?

[2018-07-02 14:53] sendilkumarn commented on #357
@alexcrichton I think it is mostly because of using`require` and webpack bundling. We need to add in extra parameters and supply it through the configuration file

[2018-07-02 17:03] Jibbow opened #367 "[Question] Convenient way of accessing complex structs from memory in wasm"
Hi all,

I am currently learning Rust+WebAssembly and I came across a common problem. When accessing the `memory` of my wasm application from JavaScript I use Uint8Arrays and so on which, works fine most of the time. But this becomes quite complex when I have a struct or even an `Vec` of structs in my memory. For now, I am extracting the fields of the structs manually by utilizing e.g. Uint8Arrays

[2018-07-02 17:41] turboladen commented on #126
I came here wondering the same. Heading over to IRC for the first time in a while...

[2018-07-02 18:37] fitzgen commented on #275
@jhenninger @jonathan-s for floating point numbers, we should use `f64`.

1. It is what JavaScript uses for numbers by default, so there is less conversions happening

2. As a general rule of thumb, when in doubt, is is better to use a wider number representation.

For things that specifically take integers rather than floats, I think we should generally use `i32`, because JavaScript numbers can r

[2018-07-02 19:40] brisad commented on #275
I can take `Number.isInteger()`, `Date.prototype.getDate()`, and `Array.prototype.values()`.

[2018-07-02 19:58] sendilkumarn commented on #357
I think we should add in `webpack.config.js` and supply `target: node`.  I will first try this locally and confirm.

[2018-07-02 19:59] jhenninger commented on #275
@autodidaddict Are you sure about that? The `Math.imul` tests pass if I change the binding to f64. If I understand correctly, the arguments to a function imported from the "JS side" will always be converted to f64, no matter what.

@fitzgen @jonathan-s  I'll change all `Math.*` bindings that take `i32`s and `f32`s right now to `f64`, except for the functions that specifically take `i32`s

Also tak

[2018-07-02 20:03] sendilkumarn commented on #360
Thanks @alexcrichton for the clarification. With that I think the ticket can be closed.

@jhenninger feel free to re-open if you have any further comments or issues with this.

[2018-07-02 20:03] #360 closed

[2018-07-02 20:17] fitzgen opened #368 "js_globals::Date::to_locale_date_string test failing locally"
Even with the latest node 10

[code]

it fails locally for me:

[code]

I saw some comments go by my email about icu not being built unless a build flag was passed or some such, and that seems related.

Perhaps we should loosen the locale-related tests to just assert that a string is returned or something? It seems like multiple folks are running into this issue.

[2018-07-02 20:21] jonathan-s commented on #368
I'll take a stab at this and see if I can make both travis and local machine agree with each other.

[2018-07-02 21:05] alexcrichton commented on #257
For anything that needs `'static` then this translates in wasm-bindgen to `&Closure<FnMut<(...)>>`, but anything that doesn't need `'static` this'll translate to a usual `&mut FnMut(...)`

[2018-07-02 21:09] alexcrichton commented on #357
@sendilkumarn hm I think that's [already done](https://github.com/rustwasm/wasm-bindgen/blob/4ceaf3e0f47442db01ac3bdb1220b5f706bf958f/tests/all/main.rs#L72)?

[2018-07-02 22:01] alexcrichton commented on #367
Indeed it'd be great to support this! This is similar in spirit to https://github.com/rustwasm/wasm-bindgen/issues/111 but perhaps not the exact same.

Currently as Rust objects that live in JS are actually just wrappers around an integer pointer. The underlying Rust object, however, is typically `RefCell<T>` rather than just a bare `T` for safety. The bindings would have to be tweaked for an arra

[2018-07-03 06:40] ohanar commented on #368
I get failures for `to_locale_date_string` and `to_locale_string` locally. The only locale for which my local machine has agreed with travis is `en-US`.

[2018-07-03 06:52] jannikkeye commented on #242
I have a question about this macro usage:

[code]

Does the macro implement the traits for each type in there or for vectors of type T ie. u8, i8 etc.?

[2018-07-03 10:29] Jibbow commented on #367
Yes, that's exactly what I had in my mind @fitzgen !

I guess a good starting point would be an enhanced and automatically generated JavaScript class for the structs exported from Rust that accepts a location in memory and wraps access to the struct's fields in a nice way by hiding calls to array views.

I am not sure if I can grasp the whole implications of such a feature, but as far as I underst

[2018-07-03 10:34] rail44 commented on #275
I've just started working on `Symbol` .

[2018-07-03 14:22] alexcrichton commented on #242
@jannikkeye ah so with the `vectors!` macro each type in there [expands to implementations of](https://github.com/rustwasm/wasm-bindgen/blob/9339a55f3eb4d294a0d001d509238bfa4a0ece8f/src/convert.rs#L221-L294):

* `IntoWasmAbi for Box<[T]>` - you can pass `Box<[T]>` and `Vec<T>` to JS
* `FromWasmAbi for Box<[T]>` - you can take `Box<[T]>` and `Vec<T>` as an argument from JS
* `IntoWasmAbi for &[T]`

[2018-07-03 16:36] alexcrichton commented on #367
Ah so the readonly piece is sort of about reentrancy across the language boundary (a fancy way of saying JS calls Rust which calls JS which calls back into Rust). That's a case where you can relatively easily violate Rust's guarantees about `&mut` pointers and cause weird crashes. Rust is centered around catching as many of these crashes ahead of time!

In any case though the read-only is mostly j

[2018-07-03 17:03] jonathan-s opened #376 "Make sure that any rust code in the documentation compiles"
We have lots of documentation for wasm-bindgen in [markdown](). There are a fair amount of code snippets in rust. As wasm-bindgen changes, we want to make sure that these code snippets stay up to date.

The best way to do that seems to be with something like the following crate https://github.com/budziq/rust-skeptic

[2018-07-03 17:17] fitzgen commented on #367
This is perhaps another candidate for an [RFC](https://github.com/rustwasm/rfcs), once we [agree on an RFC process](https://github.com/rustwasm/rfcs/pull/1)

[2018-07-03 20:33] akryvomaz commented on #275
Working on all ```Generator``` methods.

[2018-07-03 20:50] #357 closed

[2018-07-04 07:17] jannikkeye commented on #242
@alexcrichton thank you for the clarification. I will start working on this later today, as I think it will be helpful to everyone starting out with warm-bindgen.

[2018-07-04 07:53] srenatus commented on #275
I'm looking into `Proxy`.

[2018-07-04 09:07] jannikkeye commented on #275
Just started working on `Reflect.

[2018-07-04 09:28] liigo commented on #275
Taken `parseInt`, `parseFloat`, `Number.parseInt`, `Number.parseFloat`.

[2018-07-04 13:31] Hywan commented on #275
@fitzgen `Date.now` and `Date.UTC` can be [checked](https://github.com/rustwasm/wasm-bindgen/issues/275#issue-333464373) now :-).

[2018-07-04 13:48] Hywan commented on #275
I took `ArrayBuffer::new`, `::is_view` and `::slice`.

[2018-07-04 19:57] jhenninger commented on #275
Right now all Math bindings return `Number`. Is that good practice? Or should we return plain `f64`s instead?

[2018-07-04 20:46] ohanar commented on #244
Fixed by #303.

[2018-07-04 20:46] #244 closed

[2018-07-05 11:08] myfreeweb commented on #185
Related to this: would be great to have a `--modules-but-not-wasm-as-modules` mode :) that would

- generate all the project-specific glue (`__exports.my_cool_function`) in an ES Module
- but *without* trying to `import '*.wasm'`
  - instead, just have the `function init(wasm_path)` from the no-module mode in the module
- and the module should import common glue from the published common module su

[2018-07-05 14:04] sonovice opened #391 "Low performance compared to stdweb"
I have implemented the same algorithm (some audio feature extraction) 3 different times:

- pure JS ([online](http://sonovice.github.io/driftmeter/js))
- Rust using stdweb ([online](https://sonovice.github.io/driftmeter/rust-stdweb/demo))
- Rust using wasm-bindgen ([online](https://sonovice.github.io/driftmeter/rust-wasm-bindgen/dist))

(see code [here](https://github.com/sonovice/driftmeter))

In

[2018-07-05 15:06] Pauan commented on #391
@sonovice How big are these `Vec<f32>`?

In stdweb a `TypedArray` is a *reference type*, which means that it actually exists entirely in JavaScript: Rust only contains a *pointer* to it (which is just an `i32`). So when you call the `process_audio` function it only needs to pass an `i32` to Rust (which is extremely fast and constant time).

But with wasm-bindgen, you're receiving a `Vec<f32>`, so

[2018-07-05 15:11] Pauan commented on #391
Oh, nevermind, I just noticed that you call `buf.to_vec()`, which *also* does a linear copy. So I'm fresh out of ideas. 😅

[2018-07-05 15:51] alexcrichton commented on #391
Are you sure you used wasm-bindgen with optimizations? The [instructions](https://github.com/sonovice/driftmeter/tree/e17d0d44f0f2c35ac34c7f9bc487ded116a36d05/rust-wasm-bindgen) in your README compile with release but use the debug binary

[2018-07-05 16:49] fitzgen commented on #279
@myfreeweb because that has non-zero code size overhead implications. Something like ~40K to include all of the `std::fmt` and `std::panicking` infrastructure last time I checked.

[2018-07-05 16:49] fitzgen commented on #279
And we have an opt-in solution right now with the `console_error_panic_hook` crate.

[2018-07-05 16:54] sonovice commented on #391
@alexcrichton You were right, I overlooked that somehow. Now the performance is comparable.

Is there any way (in the wasm-bindgen version) to actually improve performance even more? For me it seams that a lot of initialization (loading the same constant filterbank, creating the FFT processor) is done over and over again at every call to the function. Plus a lot of memory is copied as far as I can

[2018-07-05 17:15] alexcrichton commented on #391
@sonovice certainly! Instead of something like:

[code]

you may want to instead do:

[code]

and that way you can share state between all invocations on `Context`

Copying memory is certainly also very important to consider with wasm performance! The main way to solve this is to ensure that everything stays in wasm's linear memory the entire time. For example you could avoid returning a `Vec<u32>

[2018-07-05 17:41] sonovice commented on #391
@alexcrichton Thank you so much for the input! I am still having a hard time to actually use it from the JS side. What would I have to change to make use of the Context struct?

[2018-07-05 18:40] alexcrichton commented on #391
@sonovice once the wasm is loaded you'd do something like:

[code]

and then later on you'd call:

[code]

and I think that'd work?

[2018-07-05 19:29] ZerothLaw commented on #275
Taking Array.find.

[2018-07-05 19:48] alexcrichton commented on #391
@sonovice as an example [here's a whitespace-ignoring diff](https://gist.github.com/alexcrichton/3afce9c35ddc24fd14857dd91a168920) of what I applied locally which avoids recreating `RFft1D` and avoids moving the `results` array in and out of wasm memory

[2018-07-05 20:21] sonovice commented on #391
@alexcrichton Wow, that answer just highly exceeded my hopes. Thanks for doing all the heavy lifting. CPU usage dropped by almost 3%!

[2018-07-05 20:21] #391 closed

[2018-07-05 23:27] fitzgen opened #398 "Support feature detecting if an API is available"
To get cross-browser functionality working, JS code often does things like

[code]

We should support this kind of feature detection somehow.

-----------------------------------------------------------

Strawman: add a `#[wasm_bindgen(feature_detect = function_name)]`-style attribute:

* `function_name` would be the name of a function with signature `fn() -> bool` that returns `true` if the thing

[2018-07-06 05:17] alexcrichton commented on #398
This got me thinking! I managed to get https://github.com/rust-lang-nursery/rand/pull/541 working with what we've got today on crates.io!

I'm not entirely sure how much we want to bake in, from what I've seen everyone does feature detection slightly differently so we may want to just be sure to enable various patterns rather than trying to bless one?

[2018-07-06 08:11] rail44 commented on #275
Now, we can write bindings for getter/setter of static props, such as `Math.PI` .
https://github.com/rustwasm/wasm-bindgen/pull/373

[2018-07-07 12:02] matiasinsaurralde commented on #275
I'm taking `Intl`and its properties.

[2018-07-07 16:00] toVersus commented on #275
Taking ```Date::parse```, ```getHours```, ```getMilliseconds```, ```getMinutes```, ```getMonth```, ```getSeconds``` and ```getTime```.

[2018-07-07 21:31] NAlexPear commented on #275
I'd like to try tackling `Array.prototype.forEach`.

[2018-07-08 09:50] akryvomaz commented on #275
Working on ```isFinite()```, ```Number.isFinite()``` and ```Number.isSafeInteger()```

[2018-07-08 15:59] alexcrichton opened #421 "Support creating `Uint8ClampedArray` views into wasm's memory"
This [first came up](https://github.com/rustwasm/wasm-bindgen/pull/419#issuecomment-403296031) with #419 but some APIs on the web specifically take `Uint8ClampedArray`, so we should support taking a view into wasm's memory with this type of array! Today there's no easy way to create a `Uint8ClampedArray` which doesn't copy data from wasm's memory into a temporary buffer.

A strawman is something l

[2018-07-08 16:01] alexcrichton opened #422 "Should `extern "C" { ... }` be disallowed?"
I've noticed in a few locations that we're annotating APIs with:

[code]

but under the hood there's not actually any semblance of "C"! In fact, it's somewhat more accurate to say something like:

[code]

but that's a bit wordy and we shouldn't require that. Should we specifically deny `extern "C"`?

[2018-07-08 16:03] alexcrichton opened #423 "Should lifetimes on JS values be supported"
This [first came up](https://github.com/rustwasm/wasm-bindgen/pull/419#issuecomment-403296031) on #419, but one web API looks (sort of) like this:

[code]

Here we're creating an [`ImageData`](https://developer.mozilla.org/en-US/docs/Web/API/ImageData) while also passing a buffer of memory to its contructor. Presumably an `ImageData` retains a handle to the array passed in to later get rendered, w

[2018-07-09 07:05] limira opened #425 "#[wasm_bindgen] in crate with #![deny(missing_docs)]?"
Sorry because this is a simple question. But I am unable to find the answer myself! If my crate require docs: `#![deny(missing_docs)]`, there are errors cause by `#[wasm_bindgen]`:

[code]
Error message:
[code]
How can I supply `doc` for them? Or just simply hide them with `#[doc(hidden)]`?

[2018-07-09 09:20] toVersus commented on #275
Taken ```Date.getTimezoneOffset```, ```getUTCDate```, ```getUTCDay```, ```getUTCFullYear```, ```getUTCHours```, ```getUTCMilliseconds```, ```getUTCMinutes```, ```getUTCMonth``` and ```getUTCSeconds```.

[2018-07-09 14:55] alexcrichton commented on #422
Hm I guess that answers the question for us, alas!

[2018-07-09 14:55] #422 closed

[2018-07-09 15:11] alexcrichton commented on #425
Ah I don't believe there's anything you can do here, but it's definitely a [bug in wasm-bindgen](https://github.com/rustwasm/wasm-bindgen/pull/428)!

[2018-07-09 16:38] alexcrichton commented on #30
Ah indeed I think this is done now!

[2018-07-09 16:38] #30 closed

[2018-07-09 17:39] fitzgen commented on #421
The goal being giving JS borrows of wasm memory, rather than copies, right?

[2018-07-09 17:49] fitzgen commented on #423
I find that the most natural way to expose lifetimes to JS is to take a JS callback and say "the data passed to this callback may only be used while the call is active". This is not always super Rust-y, and not always applicable, but it is generally clear how to use the thing correctly from the JS side.

When JS owns something that borrows something else, it gets more difficult.

At the end of the

[2018-07-09 17:50] alexcrichton commented on #421
Indeed!

[2018-07-09 18:01] #425 closed

[2018-07-09 18:04] fitzgen commented on #421
From a least-surprise, zero-cost perspective, I'd think that we should never copy by default, and that copying is something that one opts into rather than out of.

Also, clamping seems unrelated to copying, unless I am misunderstanding something about typed arrays.

[2018-07-09 18:41] fitzgen opened #432 "Unforgeable attributes need to be `#[wasm_bindgen(structural)]`"
https://heycam.github.io/webidl/#Unforgeable

Emphasis mine.

This is currently breaking my tests for #409 so I might fix it in that PR. Filing for posterity though.

[2018-07-09 19:46] fitzgen commented on #432
Fix for this is in that PR.

[2018-07-09 23:35] #432 closed

[2018-07-10 13:43] toVersus commented on #275
Sorry, I took ```Date.setDate()```, ```setFullYear```, ```setMilliseconds```, ```setMinutes```, ```setMonth```, ```setMonth```, ```setSeconds``` and ```setTime```.

[2018-07-10 15:01] dorayakikun commented on #275
I'd like to try tackling `Array.prototype.map` .

[2018-07-10 15:53] David-OConnor opened #439 "Vectors not working in structs"
I'm receiving the following error:
`
the trait `std::marker::Copy` is not implemented for `std::vec::Vec<u32>`
`

for this struct:

#[wasm_bindgen]
pub struct Mesh{
    pub tris: Vec<u32>,
}

If I change tris' type to u32, the error goes away.

[https://rustwasm.github.io/wasm-bindgen/feature-reference.html](This page) lists Vectors and slices of supported integer types as supported.

[2018-07-10 16:07] alexcrichton commented on #439
Thanks for the report! Currently though public struct fields are a special case in that they only work with `Copy` types. This should definitely be better documented!

[2018-07-10 16:11] David-OConnor commented on #439
Thanks; removing pub on the field fixed it

[2018-07-10 17:08] #57 closed

[2018-07-10 17:59] fitzgen opened #441 "Add IndexedDB and web-sys example to `examples/` and guide"
General info on IndexedDB: https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API

* [ ] Add an example to `examples/` that shows off working with IndexedDB
* [ ] Add a subsection to "web-sys >> examples" in the guide that includes this example

[2018-07-10 18:04] fitzgen opened #442 "Add WebSocket and web-sys example to `examples/` and the guide"
General info on web sockets: https://developer.mozilla.org/en-US/docs/Web/API/WebSockets_API

* [ ] Add an example to `examples/` that shows off working with web sockets
* [ ] Add a subsection to "web-sys >> examples" in the guide that includes this example

[2018-07-10 18:09] fitzgen opened #443 "Add WebAudio support to web-sys"
This is a tracking issue for adding support for the web audio API to the `web-sys` crate.

General info on web audio: https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces we need to support:

* [ ] `AudioContext`
* [

[2018-07-10 18:17] fitzgen opened #444 "Add 2D canvas support to web-sys"
This is a tracking issue for adding support for the canvas 2D API to the `web-sys` crate.

General info on canvas 2D: https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces we need to support:

* [ ] HTMLCanvasElement
* [

[2018-07-10 18:21] fitzgen opened #445 "Add a WebGL and web-sys example to `examples` and the guide"
General info on WebGL: https://developer.mozilla.org/en-US/docs/Web/API/WebGL_API

* [ ] Add an example to `examples/` that shows off working with WebGL
* [ ] Add a subsection to "web-sys >> examples" in the guide and include this example

[2018-07-10 18:27] fitzgen opened #446 "Add a DOM manipulation with web-sys example to `examples/` and the guide"
General info on the DOM: https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model

* [ ] Add an example to `examples/` that shows off working with the DOM
* [ ] Add a subsection to "web-sys >> examples" in the guide that includes this example

[2018-07-10 18:31] fitzgen opened #447 "Add HTML elements' interfaces to web-sys"
This is a tracking issue for adding support for all the HTML element interfaces to the `web-sys` crate.

General info on HTML interfaces: https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model#HTML_interfaces

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces w

[2018-07-10 18:33] fitzgen opened #448 "Add SVG elements' interfaces to web-sys"
This is a tracking issue for adding support for adding the SVG elements' interfaces to the `web-sys` crate.

General info on SVG interfaces: https://developer.mozilla.org/en-US/docs/Web/API/Document_Object_Model#SVG_interfaces

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces

[2018-07-10 18:38] fitzgen opened #449 "Add the fetch API to web-sys"
This is a tracking issue for adding support for the fetch API to the `web-sys` crate.

General info on the fetch API: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces we need to support:

* [ ] `fetch()`
* [x] `Heade

[2018-07-10 18:43] fitzgen opened #450 "Add console support to web-sys"
This is a tracking issue for adding support for the console API to the `web-sys` crate.

General info on the console API: https://developer.mozilla.org/en-US/docs/Web/API/Console

How to add support for new Web APIs to `web-sys`: https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html

## Interfaces

Here is a list of interfaces we need to support:

* [ ] `Console`

## Exampl

[2018-07-10 18:56] fitzgen commented on #275
Everyone who has been adding bindings to JS global APIs and is looking to step up to *the next challenge level* :zap::

We now have a `web-sys` crate that is mechanically generated from WebIDL interface definitions that we've taken from various web standards. Right now, we are opting into generating bindings for various webidl files. We need help opting into more, extending the webidl frontend, an

[2018-07-10 22:42] teovoinea commented on #444
I’d like to pick this up! 😊

[2018-07-11 06:36] ohanar commented on #255
FYI, I'm working on this (I don't believe it actually depends on #246, but I'm looking at that too).

[2018-07-11 06:36] ohanar commented on #246
FYI, I'm working on this.

[2018-07-11 08:11] jannikkeye commented on #450
Building `web-sys` after moving the Console webidl file to `enabled` results in the following console output. I wasn't able to figure out if its an error in the file or the parser or the web-sys crate.

[code]

[2018-07-11 09:18] brisad commented on #449
While `Headers` does show up in the docs, it does not have any methods. Should it still be added like that (without tests), or should I check into why `wasm_bindgen_webidl` doesn't export the methods? I see a bunch of warnings of unsupported definitions when building.

[2018-07-11 11:45] toVersus commented on #275
I picked up ```Date.setUTCDate```, ```setUTCFullYear```, ```setUTCHours```, ```setUTCMilliseconds```, ```setUTCMinutes```, ```setUTCMonth``` and ```setUTCSeconds```.

[2018-07-11 16:23] fitzgen commented on #450
@jannikkeye, can you minimize the test case and file a bug upstream?

[2018-07-11 16:30] fitzgen commented on #152
Talked with @alexcrichton about this a little yesterday. I think there are two separate axis involved with supporting bindings to JS things that have single inheritance relationships (not broaching cross language inheritance):

1. Up and down casting between derived and base types
2. Functions that are generic over some base type (and do they use static or dynamic dispatch for invocations of base

[2018-07-11 18:02] ohanar commented on #152
@fitzgen For number 1, I am really quite fond of how `stdweb` does things: upcasts use the `From` trait, and downcasts use the `TryFrom` trait (well, actually a version of `TryFrom` that they include in their own crate, since the real `TryFrom` seems to be in continual stabilization hell).

Regarding number 2, one alternative the previous proposal of using a trait hierarchy like `stdweb`, is to us

[2018-07-11 18:35] fitzgen commented on #152
@ohanar, deref doesn't actually work for (2). I think I didn't explain clearly enough. Consider the following example:

Some JS:

[code]

And some wasm-bindgen bindings to that JS:

[code]

And a function that takes a `Base` reference and calls its `method` method:

[code]

When we invoke `call_method(&derived.upcast_to_base())` do we expect `Base::method` or `Derived::method` to be called? There

[2018-07-11 18:41] fitzgen opened #458 "Consider mechanism to allow whitelisting certain WebIDL constructors as "no throw""
Follow up to discussion in #457

Right now, we are forced to conservatively assume all WebIDL constructors can throw.

We could whitelist certain constructors that are known never to throw with either:

* some configuration options set in the `web-sys` crate's build script and passed through the webidl frontend, or

* modifying webidl files to add our own `[WasmBindgenNoThrowConstructor]` extended

[2018-07-11 19:10] migerh commented on #450
I'm not entirely sure since I'm rather new to webidl but it seems that `const` can only appear in an `interface`: https://heycam.github.io/webidl/#idl-constants

But in console.webidl it appears inside the namespace console: https://github.com/rustwasm/wasm-bindgen/blob/3578a83fe2a4c2ad9be8bfaa26258a8a646e05ab/crates/web-sys/webidls/available/Console.webidl#L14-L76

[2018-07-11 19:16] migerh commented on #450
In case I'm wrong, here's a minimal example to reproduce the issue with webidl-rs:

[code]

[2018-07-11 20:01] ohanar commented on #152
@fitzgen Sure, I understand that, but I don't see how that problem exists in this context, at least for targeting WebIDL (which is our primary target here).

I put together a [playground](https://play.rust-lang.org/?gist=47a7f1177586284a0e6abdacd5e4af21&version=stable&mode=debug&edition=2015) with what I think you are suggesting for traits. I put a couple of comments in there, and I'm wondering if

[2018-07-11 21:10] walfie commented on #446
Not sure if anyone else has run into this problem, but it looks like the webidl crate has issues parsing declarations like `interface InterfaceNameHere;`

e.g., in `Node.webidl`:
https://github.com/rustwasm/wasm-bindgen/blob/3578a83fe2a4c2ad9be8bfaa26258a8a646e05ab/crates/web-sys/webidls/available/Node.webidl#L13-L14

Trying to build the web-sys crate with this IDL file in the `enabled` directory

[2018-07-11 21:30] fitzgen commented on #450
Two thoughts:

1. This particular constant is `ChromeOnly`, so I think we can safely comment it out and get on with our lives.

2. Might be worth filing that issue upstream with both the webidl crate and the spec anyways.

[2018-07-11 21:37] fitzgen commented on #446
@walfie it is fine to just comment it out and leave a comment about why it is commented out.

`Node.webidl` also has C pre-processor `#ifdef`s, so we will want to remove those too -- in this particular case, I think we want to assume that the `#ifdef`'s condition is false and remove the things within it as well.

[2018-07-11 22:36] chinedufn commented on #445
@fitzgen if it's a helpful resource at all I've been working on a `wasm-bindgen` + `WebGL` visualizer for meshes / rigs that I'm exporting from Blender

https://github.com/chinedufn/blender-exporter/tree/master/mesh-visualizer

https://github.com/chinedufn/blender-exporter#running-the-mesh-visualizer-locally

Would also be happy to work on a more stripped down example if no one else is already on

[2018-07-11 22:43] fitzgen commented on #445
Neat!

I don't. I'm hoping for something that is pretty self contained, since examples shouldn't require a lot of unrelated context. Maybe a mandelbrot or julia set visualization? Even just drawing a triangle could work.

[2018-07-12 00:15] fitzgen commented on #152
RFC for defining single inheritance relationships, upcasting, and downcasting: https://github.com/rustwasm/rfcs/pull/2

(aka bullet (1) from my last comment)

[2018-07-12 02:38] David-OConnor commented on #439
Related Q: How do you extract a value from a struct passed via bindgen to JS? The object I see when printing to console.log() contains a ptr field of a large integer, and a very deep recursive structure containing values like <prototype>, free, constructor, bind, call etc. Eg, how can I make  `mesh.tris` work, eg returning a number[].

[This page in the official guide](shows examples with structs)

[2018-07-12 06:57] chinedufn commented on #445
Gotcha!

I think the goal would be to demonstrate the following in the simplest way possible (open to other goals!):

1. Passing data to the GPU
2. Linking a shader program
3. A request animation frame render loop

A triangle would sure be simple and it would hit on 1 and 2, but not 3.

So one step up from that that would also hit on 3 might be rendering a cube with lighting (just so that you can

[2018-07-12 12:52] arunlakshman commented on #446
@walfie : The same error occurs when adding `WebSocket.webidl` to available folder

[code]

[2018-07-12 15:42] alexcrichton commented on #439
@David-OConnor ah that's got [its own separate bug](https://github.com/rustwasm/wasm-bindgen/issues/222) for defining JS getters in Rust

[2018-07-12 15:57] fitzgen commented on #445
We could also just make the triangle spin. Lighting requires a little bit more context and background knowledge, I think.

[2018-07-12 16:23] fitzgen commented on #152
Data! Boriz Zbarsky very kindly hacked up Firefox's WebIDL code generator to dump information about overrides. Here is what he passed along to me:

------------------

Some notes about exclusions:

Excluded because static methods/attributes don't really suffer the same issues with overrides due to the way they are invoked.

These are situations where:

[code]

Excluded because it doesn't seem foot

[2018-07-12 16:49] alexcrichton commented on #152
Nice investigation! I'd reach a similar conclusion too :)

[2018-07-12 18:36] David-OConnor commented on #439
@alexcrichton Perhaps the solution, assuming there's an obstacle to exposing fields directly, is to serialize the struct, pass it to JS, then deserialize into an object. This assumes no methods.

[2018-07-12 21:09] alexcrichton commented on #439
Oh currently the main obstacle in a sense is that it's not clear what to do if the field isn't `Copy` because JS gets just a snapshot and mutating that isn't clear you're not mutating the original Rust value. For example in JS if you did `mesh.tris.push(3)` it wouldn't necessarily be reflected back in the `tris` field in Rust.

[2018-07-13 03:20] blm768 commented on #445
I've got my own WebGL-based project that would benefit greatly from having proper WebGL bindings instead of the ad-hoc stuff I've cobbled together. I could probably contribute a few tests to get things started.

[2018-07-13 04:55] David-OConnor commented on #439
That makes sense. One way to handle this is to send one-way structs to JS, that don't call back to the Rust code. I got it working like this, using serde:

Rust:
[code]

JS:
[code]
No methods, but can be fed into a constructor for a JS object that has methods, or just used as-is, optionally by declaring it with a Typescript interface.

[2018-07-13 08:10] jrakow commented on #259
I am looking at this.

[2018-07-13 11:47] jrakow opened #465 "Cannot get tests to work"
I am currently checking out the webidl crate, but all the tests fail for me.
Even though they are fine on travis.

I have attached the complete build process.
In this case, I only tested the `simple::method` test, but all the other tests panic as well.

Here is also the last travis build:
https://travis-ci.org/rustwasm/wasm-bindgen/jobs/403197340#L1374

Apparently, the panic is `procedural macro A

[2018-07-13 12:56] jrakow commented on #465
Also, the nightly version used by travis does not work for me.
It fails with the same error.
[code]

[2018-07-13 15:22] alexcrichton commented on #439
@David-OConnor oh we already have those apis actually!

https://github.com/rustwasm/wasm-bindgen/blob/1a8490146d42e877e72c72e0d558ebe8e939e1f2/src/lib.rs#L153-L206

[2018-07-13 15:23] alexcrichton commented on #465
Thanks for the report! The test suite isn't great at reporting this right now but Node 10+ is required currently

[2018-07-13 15:32] jrakow commented on #465
Great. I knew it was something simple like that.

[2018-07-13 15:32] #465 closed

[2018-07-13 16:18] David-OConnor commented on #439
@alexcrichton  Sick!

[2018-07-13 17:39] chinedufn commented on #445
Great idea on just making a triangle spin. Perfect! I'll try to make some time for this this weekend but not 100% certain yet.

One question:

Is it possible to depend on the `web-sys` crate in an example right now? Would be great to make separate PRs as I go to add the bits of the API that I need instead of [hard coding](https://github.com/rustwasm/wasm-bindgen/blob/6561fba94731634559cb3f27ff00e9

[2018-07-13 18:20] fitzgen commented on #445
@chinedufn Although `web-sys` is not published to crates.io yet, you can use a relative dependency in `examples/webgl/Cargo.toml`:

[code]

Note that we may be putting the cart ahead of the horse by working on an example before we've enabled bindings for the WebGL interfaces, however :)

[2018-07-13 18:50] jonathanKingston commented on #446
I think there are dependencies on #246 and #241 until those are fixed I don't think many in this list will be possible. For example Element seems possible now, without having tests but to use it and test it needs Document.

Ah great, this fixes building Document.

However I see that returning DOMString's from functions like `Element.getAttribute` doesn't work.
[crates/webidl/src/util.rs](https://g

[2018-07-13 18:56] alexcrichton commented on #446
Oh @fitzgen may have been the one that actually did that work, but for returning a `DOMString` nowadays I think we have one of two choices: `String` or `JsString`. The former is immediately useful within Rust (it's just a plain ol' Rust type!) but the latter can be more efficient in some circumstances by avoiding copying. I'd personally lean towards just returning a bare `String`, personally. (but

[2018-07-13 20:46] fitzgen commented on #446
I think we actually want to switch to using `JsString` and let users decide whether they want to make a copy or not. We shouldn't be doing potentially expensive operations implicitly behind the scenes.

This fits with the philosophy of `web-sys` being thin, zero-cost bindings that don't attempt to push ergonomics or conventions that we've been talking about in https://github.com/rustwasm/rfcs/pull

[2018-07-13 20:47] fitzgen commented on #446
FWIW, returning `String` was not implemented at the time that code was written, nor was `JsString`.

[2018-07-13 20:49] alexcrichton commented on #446
Oh so one thing I just remembered is this [possible feature](https://github.com/WebAssembly/host-bindings/blob/master/proposals/host-bindings/Overview.md#export-return-value-binding-types) in the host bindings proposal which means that we *shouldn't* be using `anyref` for these APIs (the equivalent of `JsValue` or `JsString`) and should instead be using `String`, because that way when we call into

[2018-07-13 20:55] fitzgen commented on #446
Rust strings are al;ways UTF-8, but JS strings (and I *thought* DOMStrings, but I am less sure) are UCS-2-with-mismatched-surrogates. It seems like we would need a new Rust String type (or re-use `OsString`?) that matches what the DOM expects. Which also sounds like a bit of a mess.

[2018-07-13 20:58] alexcrichton commented on #446
True, but it looks like [host bindings account for this](https://github.com/WebAssembly/host-bindings/blob/master/proposals/host-bindings/Overview.md#import-argument-binding-types) in that they define strings as utf-8.

It naively looks like host bindings are enabling functionality that's fundamentally not possible in JS today (like calling things with utf-8 trings), which would be nice! I'm not s

[2018-07-14 04:12] #259 closed

[2018-07-14 07:26] limira opened #472 "Question: Give JS an `&Element`?"
I am new to Rust, so the question maybe simple. The app below works. But I don't understand `wasm-bindgen` enough to know if it is good or not!? I want to keep an instance of `Element` on the Rust side to use it later so I just pass an `&Element` to JS. You can skip all lines until the first comment:

[code]
Another question: If I want to have a second closure named: `clear_handler` (for a second

[2018-07-14 08:52] jonathanKingston opened #473 "Consider ignoring to build editor files inside enabled webidls directory"
Currently vim (and others) creates editor files when playing with `webidls/enabled` files.

When running tests I get the following error:
[code]
Ignoring files that don't end in webidl would limit the impact of this issue.

[2018-07-14 09:38] dorayakikun commented on #275
I picked up `Array.prototype.findIndex`,  `Array.prototype.splice` and `Array.prototype.to_locale_string`.

[2018-07-14 16:04] #473 closed

[2018-07-14 17:20] blm768 commented on #445
Yeah; I'm concerned about that as well. From the bit of testing I just did, it looks like getting the full bindings supported may be non-trivial; these bindings are an order of magnitude larger than the currently enabled ones, and not everything is showing up in the docs, so it seems likely that we'll have to add some features to the `webidl` crate.

[2018-07-14 20:41] fitzgen commented on #445
Yep, that's expected. The plan is to drive forward the `wasm-bindgen-webidl` crate based on what we actually need to generate bindings for these APIs.

[2018-07-14 20:46] #246 closed

[2018-07-15 19:38] derekdreery commented on #450
If you comment out the incorrect `const`, then it builds, but you still don't have access to console functions because they are defined like this:

[code]

which I'm guessing means "these are exposed on the (`window`/`worker`/...) prototype as `console`, which has class name `Console`.

So should web-sys be something like

[code]

and then, how do you stop name collisions from functions with the s

[2018-07-15 19:44] migerh commented on #450
@derekdreery That's basically what is suggested in #253. I think getting webidl namespace support first would be very helpful to get the Console.webidl up and running properly.

[2018-07-15 20:21] derekdreery commented on #450
Thanks for linking the issue :)

[2018-07-15 21:18] Pauan commented on #224
By the way, the above posts are a little outdated (you should mentally replace `rustc` with `wasm-bindgen`, and `#[wasm_import_module = "./foo.js"]` with `#[wasm_bindgen(module = "./foo.js")]`), but the general idea should still be correct.

[2018-07-16 09:12] derekdreery commented on #253
I'm looking at this and I don't think the `backend::Program` supports modules yet. Is this correct, and how would you modify the data structures to incorporate modules? Would you need the ability to nest modules (I would say yes, since you can have namespaces within namespaces)?

[2018-07-16 13:23] migerh commented on #253
The webidl grammar does not allow nested namespaces. Inside a namespace only readonly attributes and regular operations are allowed.

I had a look at this issue myself recently. Mostly just looking and trying to understand the existing code base. Here's what I got so far: I added support for parsing NonpartialNamespaces and added an AST node to store the namespace name and operations defined in th

[2018-07-16 14:08] derekdreery commented on #253
I had a look too but I didn't get as far as you. Is your code online somewhere?

[2018-07-16 14:31] alexcrichton commented on #446
@jonathanKingston I think that's close yeah! Whether we choose `JsValue` or `String` I think we'll want to be consistent (make sure to use one or the other in various cases). I think you've also bound optional strings, right? Should those be wrapped in `Option`?

[2018-07-16 14:36] alexcrichton commented on #472
Thanks for the report! On master you can add `#[derive(Clone)]` to `type Element` (or any of the types imported), and on crates.io currently you have to do so via `impl Clone for Element` manually [like so](https://github.com/rust-lang-nursery/rand/blob/d625b180832910c4090506398689d4d60fb567f6/src/lib.rs#L933-L938).

Would that solve the issue here?

[2018-07-16 14:50] aiwenar opened #483 "Duplicate definitions for enums in generated bindings"
When a `wasm_bindgen` annotated enumeration is defined in a module, any item from that module is used somewhere else in a crate, and crate was compiled in release mode, then `wasm-bindgen` generates JS constant for that enumeration once for definition, plus once for every other module where an item from the same module as enum is used. This does not happen when compiled in debug mode.

Last tested

[2018-07-16 15:10] limira commented on #472
Thank you very much!
The remaining question is:
[code]
Or I should:
[code]
then, use `clone` to pass a copy?

[2018-07-16 15:11] alexcrichton commented on #472
When importing a JS API (like `append_child`) either `&` or not is equivalent in JS, so it's up to you! There's somewhat of a different performance characteristic (who decrements the refcount) but that probably won't matter too much in most contexts.

[2018-07-16 15:13] limira commented on #472
Thank you very much!

[2018-07-16 15:13] #472 closed

[2018-07-16 15:46] derekdreery commented on #253
thankyou :)

[2018-07-16 19:12] jonathanKingston commented on #446
Cool, I just implemented the `Option` wrapper I wasn't sure how `Result` worked at the time. https://github.com/jonathanKingston/wasm-bindgen/commit/1e0c24f912572193f78435ddd44b3656cf8992b0#diff-36286bf7018525389e71dc45dc3ea135 Although I think additional work is likely required for solving #14 and more tests etc.

This now outputs:
[code]
Are you suggesting the return type and parameter types sho

[2018-07-16 19:28] allindier opened #484 "Wasm validation errors with certain floating point math"
I've been running into a kind of peculiar issue with floating point math when using wasm bindgen.  I've provided a simplified example below that seems to have the exact problem.  What occurs is that when I try to load the wasm into the browser (using webpack) I get a console error that says:

`CompileError: wasm validation error: at offset 169: expected 'anyfunc' element type`

After backtracking

[2018-07-16 20:01] derekdreery commented on #253
I'm glad you posted that. I'd independently duplicated a lot of your code :P. I'm not sure how to generate tokens for the module, but I'm guessing it will be like a struct/interface, in that there are an unknown collection of interior objects (in this case functions) inside an enclosing object (in this case mod). I'll have a look to see if I can finish your work if you like, or i'll leave it to yo

[2018-07-16 20:38] alexcrichton commented on #483
I've filed https://bugs.llvm.org/show_bug.cgi?id=38184 for the upstream LLVM report. I'll submit a local fix to wasm-bindgen shortly

[2018-07-16 20:51] alexcrichton commented on #446
Oh nah I was mostly suggesting in the sense that on one path it'd return `Option<JsValue>` whereas on the other path it'd return `String`. It's ok to not expect an argument `&str` to match a return of `String`!

I should also point out that optional arguments largely aren't implemented today so that may want to hold off a bit for now

[2018-07-16 21:02] alexcrichton commented on #484
Thanks for the report! I'm unfortunately unable to reproduce with the above code though, could you perhaps gist a repo which includes your webpack config and a lock file for the npm dependencies as well as Rust dependencies?

[2018-07-16 21:37] #483 closed

[2018-07-16 22:53] David-OConnor commented on #197
Same issue. I'll post most info if I can narrow it down.

[2018-07-16 23:48] alexcrichton commented on #197
@David-OConnor oh dear sounds bad! If you've got a reproduction feel free to file a new issue at any time!

[2018-07-17 05:37] blm768 commented on #445
I've got an extremely minimal test in [my branch](https://github.com/blm768/wasm-bindgen/tree/webgl); it basically just creates a `WebGLRenderingContext` and passes it to a function that does nothing with it. It seems like getting code generation working for the constants and the `WebGLContext.clear*` functions would be a reasonable starting point. I'm not familiar enough with the WebIDL stuff yet

[2018-07-17 11:00] bnjbvr opened #488 "Can't compile hello world example with rustc nightly"
I get the following (contradictory) message when trying to compile the hello world example:

[code]

Am I doing something wrong here?

[2018-07-17 13:39] data-pup commented on #275
I can try binding `String.prototype.lastIndexOf()` :smile_cat:

[2018-07-17 14:08] migerh commented on #488
Looks like the solution can be found here: 504c775c6ce882e5

Using

    #![feature(use_extern_macros, wasm_custom_section, wasm_import_module)]

instead of

    #![feature(proc_macro, wasm_custom_section, wasm_import_module)]

helped.

[2018-07-17 14:18] alexcrichton commented on #488
Indeed thanks for the report and for the info @migerh, should be fixed on master!

[2018-07-17 14:18] #488 closed

[2018-07-17 14:47] allindier commented on #484
https://gist.github.com/allindier/7223efe89cfe1d289fb3e9ce2864d970

Thanks for taking a look!

[2018-07-17 15:36] alexcrichton commented on #484
Ok thanks! It looks like this was a webpack issue as I verified the raw output of wasm-bindgen is a valid wasm module, and after updating webpack (removing `package-lock.json` and re-running `npm install`) it seems to work. Can you confirm updating webpack fixes the issue?

[2018-07-17 16:22] allindier commented on #484
Yeah, that fixed the issue on my end.  Thanks!

[2018-07-17 16:22] #484 closed

[2018-07-17 16:46] fitzgen commented on #445
@blm768 just a note: rather than modifying `.webidl` files, we should be extending support in the webidl frontend crate.

In general, we are happy to make small incremental progress, enabling `.webidl` files if they don't break the crate, even if we aren't generating bindings for all the things described therein yet.

[2018-07-17 16:55] dignifiedquire opened #492 "the exported function `__wbindgen_global_argument_ptr` is required to generate bindings but it was not found in the wasm file"
Hey, I was just updating the library from an older version and some of my code, but am running now into this:

[code]
My versions are
[code]

any idea what I am doing wrong?

[2018-07-17 16:56] dignifiedquire commented on #492
The code this is trying to build is here: https://github.com/dignifiedquire/cryptasm/blob/update/src/lib.rs

[2018-07-17 17:15] dignifiedquire commented on #492
I suspect this is a regression on `master`, installing `0.2.11` from crates.io it compiles & builds fine now.

[2018-07-17 17:39] alexcrichton commented on #492
Thanks for the report! This should be fixed in https://github.com/rustwasm/wasm-bindgen/pull/494

[2018-07-17 18:31] jsheard opened #495 "Zero-garbage memory transfers"
In WebGL 1.0, functions for uploading data to a buffer or texture look like this:

    void bufferData(GLenum target, BufferSource? srcData, GLenum usage);

This is usable from wasm_bindgen but comes with a catch, as the JS bindings have to allocate a subarray of wasm memory to isolate the slice being passed to `srcData`, therefore every upload operation puts pressure on the JS garbage collector.

[2018-07-17 21:47] jsheard commented on #495
Binding the function that way gives us zero-**copy** transfers, but the subslice is still a full JS object that needs to be garbage collected even though it's pointing to data in an existing buffer. That's specifically why WebGL 2.0 added those new function variants, so more demanding apps can avoid thrashing the GC with 100,000s of subslice objects per second.

This is certainly a low-priority is

[2018-07-17 21:54] alexcrichton commented on #495
Aha sorry I misunderstood! That makes perfect sense though. I think we could tweak it to just take `&JsValue`, right? That way the same JS value would be passed in each time?

[2018-07-17 21:56] #492 closed

[2018-07-17 22:19] jsheard commented on #495
So, something like this?

[code]

which could be used like this

[code]

where `JsValue::memory_u8()` is a special value that maps to the current cached `Uint8Array` wrapping the wasm memory. That sounds like it should work.

[2018-07-17 22:40] chinedufn commented on #445
Ah so my thinking was to just [hard code the APIs](https://github.com/rustwasm/wasm-bindgen/blob/master/examples/dom/src/lib.rs#L19-L24) and replace them with web-sys as we had then but cool waiting works just fine too!!

[2018-07-17 23:04] alexcrichton commented on #495
Indeed that's what I was thinking!

I'm not sure exactly how to expose importing your own memory, but adding a various function on `JsValue` or somewhere in `wasm_bindgen` should be more than appropriate.

[2018-07-17 23:25] alexcrichton commented on #495
Ah right yes, true!

[2018-07-18 01:12] blm768 commented on #445
That makes sense. My modifications were just a quick hack to keep errors in the generated bindings from terminating the test, but now that I've got a better handle on what's going on, I'll look into implementing support for `[NoInterfaceObject]` before I put these changes into a PR.

[2018-07-18 05:32] blm768 opened #498 "wasm-bindgen-webidl doesn't seem to support typedefs"
It appears that `wasm_bindgen_webidl::compile_ast` removes all `typedef`s via `remove_undefined_imports`, which prevents `typedef` bindings from being emitted. This occurs even when working with `typedef`s that directly reference defined types, such as:

[code]

[2018-07-18 12:46] data-pup commented on #275
I can try tackling `Map.prototype.forEach()` and `Set.prototype.forEach()` today :)

[2018-07-18 14:35] toVersus commented on #275
I just picked up ```String.prototype.repeat()```.

[2018-07-18 16:31] derekdreery opened #502 "Add webidl `optional` support to web-sys"
Currently `optional` parameters are forced. I think they should be an `Option<T>`.

This depends on #14 to generate the correct glue code, provided the way options are represented in the end is compatible with these APIs.

Also, in the spec, `optional` parameters can have a default. This doesn't really affect the rust function, but it could be mentioned in some generated documentation, perhaps.

W

[2018-07-18 16:50] derekdreery opened #503 "Add webidl variadic (`...`) support to web-sys"
Like `optional` this requires deciding how to represent this in rust. It could be a slice (so `...any` becomes `&[JsValue]`, etc.), or a varargs function. Since varargs isn't implemented yet ([tracking issue]), probably best to go with a slice.

Example of a variadic function in WebIDL (Console API):

[code]

[tracking issue]: https://github.com/rust-lang/rust/issues/44930

[2018-07-18 19:29] fitzgen commented on #498
It *should* only remove aliases of undefined types.

For example, your snippet should work OK:

[code]

But this example should not:

[code]

Are you seeing cases that should work but aren't? If so, can you construct a failing test in `crates/webidl/tests/all/*`? Thanks!

[2018-07-18 19:42] fitzgen commented on #502
What rust-bindgen does is pretty sucky, and I hope we can come up with something better. Even just a better mangling algorithm would be an improvement, eg

[code]

[2018-07-18 20:03] derekdreery commented on #502
I can do this for now. I'm doing the console API, and maybe having a concrete implementation to see will aid bikeshedding.

[2018-07-19 01:13] jonathanKingston commented on #446
I removed the Optional changes in the current PR but it looks like #507 adds the code to make this actually work. I can try this out once both get landed.

[2018-07-19 16:50] fitzgen commented on #498
Doh, I totally did it backwards and we are always removing `TypeAlias`es.

Check out `ImportedTypes for ast::TypeAlias` in `crates/backend/src/defined.rs`. It is calling `f` on the `dest` (aka the alias name) rather than on the `src` type.

@blm768 fixing this bug should be as easy as s/`f(&self.dest)`/`f(&self.src)`/ right there. Would you like to make that change and submit a PR that includes yo

[2018-07-19 18:33] alexcrichton opened #513 "Automatic documentation generation for web-sys bindings"
It'd be awesome if we could automatically hook up something like `Element::class_name` to the [MDN docuementation for the method](https://developer.mozilla.org/en-US/docs/Web/API/Element/className)!

[2018-07-19 19:03] jonathanKingston opened #514 "Add iterable support for webidl"
In web-sys to get a functional DOM implementation `iterable<Node?>` is needed by `NodeList`.

https://heycam.github.io/webidl/#dfn-iterable-declaration which is supported by `webidl::ast::Iterable`.

`pub fn get_elements_by_name(&self, element_name: &str) -> NodeList`

[2018-07-19 19:44] #502 closed

[2018-07-19 20:38] migerh commented on #253
@derekdreery Maybe we can crack this together :) I can now generate something that at least somewhat resembles the suggestion above. Two issues are open atm:

* In the bindings.rs the js_namespace is enclosed with quotes. wasm-bindgen can't parse that. For now I'm patching this manually by removing the quotes from the generated bindings.rs.
* The test can't find the functions inside the module alt

[2018-07-19 20:39] blm768 commented on #498
I figured it might be that simple. Of course, that wouldn't handle the case of "chained" typedefs, but those should be considerably rarer. Anyway, I should be able to work on that tonight.

[2018-07-19 20:44] fitzgen commented on #498
Double d'oh. We should have:

[code]

[2018-07-19 20:46] derekdreery commented on #253
ooh awesome. I've made some progress too, I'm not on my computer atm but
will post my updates when I am.

On Thu, Jul 19, 2018 at 9:38 PM, Michael Gerhaeuser <
notifications@github.com> wrote:

[2018-07-19 20:49] fitzgen commented on #498
We also might need to make `remove_undefined_imports` a fixed point algorithm to properly handle types referencing aliases that reference types that end up getting removed...

[code]

[2018-07-19 20:51] fitzgen commented on #498
`rust-bindgen` has to do a few different fixed point algorithms, and they all implement this trait: https://github.com/rust-lang-nursery/rust-bindgen/blob/master/src/ir/analysis/mod.rs#L71-L127

[2018-07-19 21:13] alexcrichton opened #517 "Travis regularly times out on "npm ci""
I'm not really sure why but Travis will regularly time out with `npm ci` not emitting output for 10 minutes. This seems to happen sporadically but fairly regularly. Some example logs are:

* https://travis-ci.org/rustwasm/wasm-bindgen/jobs/405978557
* https://travis-ci.org/rustwasm/wasm-bindgen/jobs/405978581
* https://travis-ci.org/rustwasm/wasm-bindgen/jobs/405964606
* https://travis-ci.org/rust

[2018-07-19 23:18] fitzgen opened #519 "Publish the `js-sys` crate"
I think we have enough bindings written that it would be useful to publish now. Especially since it is a separate crate from `wasm-bindgen` now.

Things we need to do first:

* [ ] Do a once over of the bindings to double check we aren't returning `Number` objects and all that

* [ ] Decide on a version. Do we want to match `wasm-bindgen` or start at `0.1.0`?

[2018-07-19 23:21] fitzgen commented on #519
I think we should probably reset to 0.1.0 since the whole point of a separate crate is the freedom to publish independently and not be super tied together.

[2018-07-19 23:22] fitzgen commented on #275
Folks who have been active in this thread may have an opinion to share here: https://github.com/rustwasm/wasm-bindgen/issues/519

[2018-07-19 23:29] data-pup commented on #519
Assuming that wouldn't have any sort of negative ergonomic effect on people using these crates, resetting to 0.1.0 makes sense to me, especially if they are separate. That said, my opinion is not strongly held by any means, and would defer to y'all's opinions on it :)

[2018-07-19 23:33] alexcrichton commented on #519
Sounds good to me! (along with 0.1.0)

[2018-07-20 01:51] blm768 commented on #498
Actually, on a second review, it looks like [the WebIDL spec](https://www.w3.org/TR/WebIDL-1/#idl-typedefs) doesn't permit `typedef`s to reference each other, so we may be safe there. But `TypeAlias::src` is a `syn::Type`, not an `Ident`, so it looks like some interface refactoring may be necessary.

[2018-07-20 02:49] ohanar commented on #498
Actually, I just noticed the following line:

So we should probably not be including these typedefs at all, but replacing all their appearances with their underlying type.

[2018-07-20 03:17] fitzgen commented on #498
That's ok, we implement `ImportedTypes` for `syn::Type`: https://github.com/rustwasm/wasm-bindgen/blob/master/crates/backend/src/defined.rs#L123

[2018-07-20 04:25] blm768 commented on #498
Oh; I missed that one. That would take care of it.

While I was thinking about the problem, though, it occurred to me that instead of storing a `syn::Type` in `TypeAlias::src`, we could have a `TypeKind` enum that roughly mirrors the one in the `webidl` crate but is more specifically tailored to `wasm-bindgen`'s features. It seems like that would allow us to eventually generate bindings for other

[2018-07-20 05:21] alexcrichton commented on #242
Done with https://github.com/rustwasm/wasm-bindgen/pull/383, yay!

[2018-07-20 05:21] #242 closed

[2018-07-20 05:22] alexcrichton commented on #235
I'm going to close this for now as I've started seeing this error in practice, so let's hope it's correctly implemented this time around!

[2018-07-20 05:22] #235 closed

[2018-07-20 09:59] derekdreery commented on #253
Unimportant observation: I wonder if we should use `ImportModule` rather than `ImportNamespace`, since we are generating modules from our ast (this seems to be the pattern the other variants take).

[2018-07-20 10:08] derekdreery commented on #253
If you want to look at my WIP it's at [derekdreery/wasm-bindgen#wip-namespace-and-console](https://github.com/derekdreery/wasm-bindgen/tree/wip-namespace-and-console).

Something I find helpful is to run `rustfmt` on the output of the build process, at `target/wasm32-unknown-unknown/debug/build/web-sys-xxx/out/bindings.rs` (where `xxx` is the metadata hash for your build). You can then view it as

[2018-07-20 14:34] jonathanKingston commented on #514
To add `for_each` support we will need to support https://github.com/rustwasm/wasm-bindgen/issues/257

@fitzgen part of me things `NodeList` and others should just implement [Iterator](https://doc.rust-lang.org/std/iter/trait.Iterator.html). I know this isn't the correct DOM API however the interface describes some of the same methods.
I don't know enough about the abstraction across the buffer bu

[2018-07-20 15:43] alexcrichton commented on #271
I'm gonna close this for now until we get some more info on it, but we can always reopen once there's info!

[2018-07-20 15:43] #271 closed

[2018-07-20 15:43] alexcrichton commented on #279
This is being done in https://github.com/rustwasm/wasm-bindgen/pull/524

[2018-07-20 15:44] alexcrichton commented on #232
I'm gonna close this for now as there's not a huge amount to do without a reproduction, but if it can be reproduced please let me know!

[2018-07-20 15:44] #232 closed

[2018-07-20 15:54] varkor commented on #232
Ah, sorry, I forgot to get round to this. I'll try to do so soon.

[2018-07-20 16:02] alexcrichton commented on #232
No worries, and thanks!

[2018-07-20 16:16] alexcrichton commented on #209
I'm gonna close this for now because wasm-bindgen is focused on JS, but it'd be neat to see how this plays out for other languages in the future!

[2018-07-20 16:16] #209 closed

[2018-07-20 16:20] alexcrichton commented on #42
This is now more-or-less done! In the sense that this issue itself isn't too useful any more and further work items are tracked at https://github.com/rustwasm/wasm-bindgen/labels/frontend%3Awebidl

[2018-07-20 16:20] #42 closed

[2018-07-20 16:21] alexcrichton commented on #14
I believe this is now effectively done in https://github.com/rustwasm/wasm-bindgen/pull/507 and more types can be implemented in follow-ups!

[2018-07-20 16:21] #14 closed

[2018-07-20 17:00] #211 closed

[2018-07-20 17:01] #221 closed

[2018-07-20 17:14] alexcrichton commented on #514
Interesting! I think I'd personally be on board with the strategy of using `Iterator` in Rust and just defining it for iterable types where it makes sense. For example could `get_elements_by_name` return something like `impl Iterator`?

Returns from functions should support `Option<T>`, yeah, but do you have an example of a function that didn't work for you?

For now I think it's ok to avoid an RF

[2018-07-20 17:22] Pauan commented on #514
I don't think `get_elements_by_name` should return `impl Iterator`, because that would prevent using useful methods (like `length`, or indexing).

Instead I think the best course of action is to return `NodeList` (and then implement `Iterator` for `NodeList`).

[2018-07-20 17:29] Alexendoo commented on #517
You can use `npm ci --verbose` to see what operation it is hanging on

[2018-07-20 19:17] alexcrichton commented on #519
Some things I've noticed working with this crate:

* Strings are somewhat inconsistent, sometimes arguments are [`&str`](https://github.com/rustwasm/wasm-bindgen/blob/13cee9e2644bccd56cf02535f6ced8600974710c/crates/js-sys/src/lib.rs#L210), others are [`JsString`](https://github.com/rustwasm/wasm-bindgen/blob/13cee9e2644bccd56cf02535f6ced8600974710c/crates/js-sys/src/lib.rs#L1406)
* It's inconsiste

[2018-07-21 06:34] blm768 commented on #498
Another reason to consider using a custom type is that `syn` seems to be really picky about its execution environment. I keep running into errors like these after trying to go through `syn::Type`'s implementation of `ImportedTypes`:
[code]

[2018-07-21 06:46] David-OConnor opened #528 "Interference between function calls"
I'm running into a problem where replacing a JS function with a bindgen/Rust one in either of two places works properly, but combined produces bogus results. These are called repeatedly in a loop. Even if the second one is called but not saved, this anomaly occurs. I suspect it may be due to memory overlapping. The Book mentions .free(), but this does not appear to work on the output Float32Arrays

[2018-07-21 13:34] Twinside opened #530 "How to export an opaque pointer/handle to JS?"
Is it possible to pass a handle/opaque pointer to a rust struct to javascript, without exposing its
content?

Right now I've tried the following:

[code]

But it doesn't work. I guess I can do it by manually like in [the manual](https://rustwasm.github.io/wasm-bindgen/design/exporting-rust-struct.html) but I'd like to avoid it if possible

[2018-07-21 15:36] alexcrichton commented on #530
Thanks for the report! Do you want to expose `WrappedEnv` to JS? If you do that and it doesn't have any `#[wasm_bindgen]` annotated impl blocks or public fields it should only have a `free` function for JS to free it when necessary. Does that work for your use case?

[2018-07-21 15:37] alexcrichton commented on #528
Thanks for the report! Do you have a snippet I can reproduce with? This may be a use-after-free if something is deallocated too eagerly in JS perhaps, although it could certainly also be a bug in the generated bindings!

[2018-07-21 15:55] alexcrichton commented on #498
@blm768 oh no need to worry about that panic, it's expected for now. Otherwise having a custom type seems reasonable to me! I wouldn't bank too much on generating bindings for other languages, but if it makes the code cleaner for now feel free!

[2018-07-21 19:13] twilco commented on #275
Just finishing up `Number.isNaN()`.

[2018-07-21 22:54] teovoinea commented on #444
Is there a story for handling mutliple constructor functions? Right now doing a `cargo build` on `CanvasRenderingContext2D.webidl` errors with

[code]

which makes sense based on the idl

https://github.com/teovoinea/wasm-bindgen/blob/729e67423b8a27f89b40de295fcaf1f93dbf1b50/crates/web-sys/webidls/enabled/CanvasRenderingContext2D.webidl#L392-L399

[2018-07-22 03:40] nevi-me opened #535 "error: cannot find attribute macro `wasm_import_module` in this scope"
I'm trying to get Hello World working, but came across the below issue. I've looked at similar issues on this repo, but can't determine if it's related to #488

[code]

## `src/lib.rs`

[code]

## `rustup show`

[code]

[2018-07-22 04:12] alexcrichton commented on #535
Thanks for the report! Should be fixed for the latest nightly now

[2018-07-22 05:34] blm768 commented on #498
Well, after playing with it a bit, I'm not totally sure about *cleaner* anymore. I thought we'd be able to get away without having to go from `syn::Type` to `proc_macro2::Ident`, but we basically end up needing to do that in the `macro` crate. On the one hand, it feels more "type-safe", but it's also expanding the code size. Only about 150 more lines so far, but I'm not even quite done with the `b

[2018-07-22 15:04] huangjj27 commented on #376
Due to [this issue](https://github.com/alexcrichton/proc-macro2/issues/104), compiling the start example failed.

[2018-07-22 16:34] David-OConnor commented on #528
It's [here](https://github.com/David-OConnor/dimensions), but kind of a mess. I'll post here if I find a solution.

[2018-07-22 16:49] belfz commented on #275
Taking `Object.preventExtensions()` next.

[2018-07-22 16:56] belfz commented on #275
I'll take `Object.is()` next.

[2018-07-23 04:10] twilco commented on #275
Finished `Math.hypot()`.

[2018-07-23 09:36] jonathanKingston commented on #514
[code]
Where `value_type` is `Node?` from the webidl.

I may put in a preliminary PR in with item and some of the other bits so then I can concentrate on the iterator here.

[2018-07-23 14:18] alexcrichton commented on #376
@huangjj27 ah ok thanks! What you'll need to do to update that is:

* Run `rustup update nightly`
* Run `cargo update`
* Change `#![feature(proc_macro, wasm_custom_section, wasm_import_module)]` to `#![feature(use_extern_macros)]`

and you should be good to go!

[2018-07-23 14:18] alexcrichton commented on #376
Ah, and also likely run `cargo install -f wasm-bindgen-cli`

[2018-07-23 14:29] alexcrichton commented on #528
Neat! I was able to poke around, but @David-OConnor I didn't see anything weird per se, was there a particular sequence of steps needed to trigger the bug?

[2018-07-23 15:04] #260 closed

[2018-07-23 15:05] alexcrichton commented on #514
Ok sounds good to me, I can certainly help debug failures in a PR :)

[2018-07-24 00:52] David-OConnor commented on #528
Looping through the funcs multiple times seems to be what triggers it.

[2018-07-24 04:07] twilco commented on #275
Finished `Math.min()` and `Math.max()`.

[2018-07-24 15:46] alexcrichton commented on #528
Ah I'm still not having much luck with a reproduction :(

If you get a chance though and manage to narrow it down I'd love to help debug!

[2018-07-24 16:03] alexcrichton commented on #517
Hm well this hasn't happened in awhile that I've seen, so maybe the verbose output actually helps us! In any case we should be set next time it times out to investigate further, thanks @Alexendoo!

[2018-07-24 16:03] #517 closed

[2018-07-24 16:32] derekdreery opened #544 "Support rust modules in `wasm_bindgen_backend`"
In `web-sys`, if all functions are in the global namespace there may be name clashes, since in javascript they are namespaced. If the AST supported modules, then the javascript namesapces could be mapped to rust modules.

An alternative is to mangle names so `console.clear()` in javascript becomes `console__clear` (or whatever) in rust. Instinctively I think modules are better but I don't know if

[2018-07-24 18:44] fitzgen commented on #519
I think these should always be `&JsString`. That way, we can let users choose if/when to make the copy from the JS heap into wasm linear memory. When host bindings are a thing that is actually happening, we can revisit to match what is fastest for them.

I think we should use by-ref to avoid ref-count noise.

I don't think this needs to block publishing 0.1.0, since there are just so many optional

[2018-07-24 21:09] alexcrichton commented on #519
I'm less certain about using `&JsString` all over the place, it's actually a lot faster to use `&str` if you don't reuse the `JsString` elsewhere because that way you only cross the wasm boundary once instead of N + 1 (where N is the number of strings). I'm not sure how often one is used over the other, but I'm personally partial to a strategy where we support both (through methods like `fn parse(

[2018-07-24 21:12] derekdreery commented on #544
I don't know what I'm talking about here.

[2018-07-24 21:12] #544 closed

[2018-07-25 01:36] chinedufn opened #545 "LLVM ERROR with `__wasm_bindgen_unstable`"
Hey!

wasm-bindgen has been working great for me so far - thanks!

I'm in the middle of publishing the first version of a crate and got some build errors during `cargo publish` (that I didn't get during weeks of `cargo build`) so updated to the latest nightly tried again.

Now for build / publish attempts I get the following error after running `cargo build -p virtual-dom-rs` in my cargo workspace

[2018-07-25 06:40] Twinside commented on #530
I think that would work, I also give what I ended up with as a (I hope) temporary workaround:

[code]

[2018-07-25 15:31] toVersus commented on #519
This is quite trivial thing, but can we resolve the inconsistency whether semblance of "C" should be [declared](https://github.com/rustwasm/wasm-bindgen/blob/cefe1681ab37091ca07080fe1234390e5b5aff47/crates/js-sys/src/lib.rs#L47) or [not](https://github.com/rustwasm/wasm-bindgen/blob/master/crates/js-sys/src/lib.rs#L764), which @alexcrichton pointed out before in #422? I am using ```rustfmt``` and

[2018-07-25 16:03] fitzgen commented on #519
@toVersus I personally agree we should just switch to using `rustfmt` for styling, but it definitely isn't a blocker for publishing the `js-sys` crate.

[2018-07-25 16:13] #545 closed

[2018-07-25 17:30] David-OConnor commented on #528
I've narrowed it slightly: I was incorrect about the loop being required to trigger it. Eg the example TS example `bug_tester` func above will trigger it with just the two rust function calls. I believe the lib.rs in the repo above, in combo with the boilerplate required to call the funcs from JS is enough to reproduce.

Scenarios:
Call rust/WASM func A alone: Returns result A
Call rust/WASM func

[2018-07-25 17:43] fitzgen opened #549 "Duplicate symbol linker errors when doing `cargo test -p js-sys --target wasm32-unknown-unknown`"
On latest rust nightly and master `wasm-bindgen`, if I try to run the new wasm test runner, I get this:

[code]

+cc @alexcrichton -- any idea what's up here?

[2018-07-25 18:58] derekdreery opened #551 "Support `#[wasm_bindgen]` from within rust `mod`s."
# Motivation

I'm looking at how to implement enough of the webidl to wasm compiler to use the `console` webidl definition. It uses the `namespace` construct which is not yet handled. There are two approaches one could take to creating the rust-js glue that I can think of:
 - name mangling (`namespace_function`, e.g. `console_log` in rust (or some other mangling strategy))
 - using rust modules (`

[2018-07-25 20:16] fitzgen commented on #551
Agreed that we would want to translate webidl namespaces into modules.

I'm unsure what this issue is supposed to cover that #253 doesn't?

[2018-07-25 20:54] fabricedesre opened #553 "Add support to allow "extends" when exposing a Rust struct as a JS class."
Unless I missed it in the docs, there is no such feature currently.

[2018-07-25 20:59] fitzgen commented on #553
Thanks for filing an issue! Discussion about how to implement / support inheritance is happening at https://github.com/rustwasm/rfcs/pull/2 right now.

[2018-07-25 20:59] #553 closed

[2018-07-25 21:59] alexcrichton commented on #530
Hm does this work?

[code]

[2018-07-26 00:15] fitzgen commented on #519
Will publish tomorrow, if anyone has any last minute concerns, now is your time to voice them!

[2018-07-26 01:10] AugmentedFifth opened #560 "LTO no longer appears to work with wasm-bindgen"
I may just be doing something wrong, but it appears that turning on LTO gives `wasm-bindgen` a hard time resolving imports. Although I can compile, use `wasm-bindgen`, `wasm-gc`, etc. without any warnings or errors, I end up at runtime with messages like `Module not found: Error: Can't resolve 'env'` with the two offending lines in the resulting .wasm being:

[code]

Setting `lto = false` in Cargo

[2018-07-26 01:14] alexcrichton commented on #560
Thanks for the report! I think this is due to https://github.com/japaric/libm/issues/129 which is being fixed in upstream https://github.com/rust-lang/rust/pull/52724. Unfortunately there's no great workaround for now except `lto = false`, but it should hopefully be fixed soon!

[2018-07-26 10:00] derekdreery commented on #551
I'd forgotten that in that issue you describe converting namespaces into rust modules, so the first part of this issue is redundant.

The other part is that we can split the task into creating the AST, and the codegen. I can do the first part, but I still need to look more at the codegen side of things to understand it all.

[2018-07-26 16:02] viktorku opened #563 "Exported functions no longer visible in JS"
Hi there!

I think I've hit a regression in the latest 0.2.14 release as I basically can't call any exported function from JS into Rust anymore.

Here's the module on 0.2.13:

<img width="387" alt="screen shot 2018-07-26 at 17 51 47" src="https://user-images.githubusercontent.com/14088269/43273564-104783a2-90fd-11e8-9f0e-4dad18a59b16.png">

notice my `init` and `start` export and all the boilerpla

[2018-07-26 20:53] alexcrichton commented on #563
Thanks for the report! @viktorku what version of the `wasm-bindgen` CLI tool do you have installed? You may need to update it to 0.2.14 as well I think

[2018-07-26 23:04] fitzgen commented on #275
Surprised no one has taken on `RegExp` yet -- anyone want to give it a try?

[2018-07-26 23:13] alexcrichton commented on #528
@David-OConnor hm I'm still not entirely sure what's going on, can you provide a minimal example that removes a lot of the extra boilerplate which reproduces in a standalone fashion? That'll help me poke around and try to see what's what!

For example functions that return `Vec<f32>` look like this in the generated JS code:

[code]

The `slice()` should already be baked in and data copied out?

[2018-07-27 01:59] David-OConnor commented on #528
Updated Rust Nightly and bindgen cli and... the issue went away!

[2018-07-27 02:16] alexcrichton commented on #528
Ok great! Let's assume fixed then!

[2018-07-27 02:16] #528 closed

[2018-07-27 08:38] brisad commented on #275
@fitzgen I can take it :)

[2018-07-27 09:42] viktorku commented on #563
It seems it's resolved in 0.2.15 ;)

[code]

If I downgrade to 0.2.14:

[code]

My `wasm-bindgen-cli` was at `0.2.12` tho, so you're right. But that version works good with `wasm-bindgen` at `0.2.15`...

[2018-07-27 09:48] viktorku commented on #563
This probably deserves a separate issue, but when I try to upgrade `wasm-bindgen-cli` I always get this compilation error. When I did upgrade it to `0.2.12` last week, I had to clone and build `tempfile` from source (I thought that was failing upstream for some reason), and only when I built it successfully, I was able to upgrade `wasm-bindgen-cli`. Very weird. Is this some intricate bug in the de

[2018-07-27 11:30] yoshuawuyts opened #569 "links to self in docs aren't resolving correctly"
## Problem

In https://rustwasm.github.io/wasm-bindgen/web-sys/supporting-more-web-apis.html, the link https://rustwasm.github.io/web-sys/testing.html does not resolve to anything.

Instead it's meant to link to https://rustwasm.github.io/wasm-bindgen/web-sys/testing.html, but it's missing the `/wasm-bindgen/` piece of the path.

There are more instances of this occurring on the same page, which p

[2018-07-27 12:57] TimNN commented on #513
Were you thinking about just linking to the MDN page or including part of it as rust comments?

[2018-07-27 14:20] derekdreery commented on #563
I haven't looked at the code, but `imp` normally indicates different implementations for different platforms. What platform are you compiling on?

[2018-07-27 14:22] #551 closed

[2018-07-27 14:24] derekdreery opened #570 "Lots of malformed WebIDL files"
A lot of the WebIDL files are malformed in the same way: they have an interface declaration like so:

[code]

which is not valid WebIDL. The valid equivalent is

[code]

We could either change all the webidl files to be correct, or adapt the parser to handle the above form.

[2018-07-27 14:29] jrakow commented on #570
The conclusion in #446 is:

[2018-07-27 14:32] alexcrichton commented on #513
Oh nothing as fancy as scraping words, just mdn URLs!

[2018-07-27 15:08] joelgallant commented on #275
I'll take `Array.prototype.splice`

[2018-07-27 15:41] alexcrichton commented on #563
Ok thanks for the info @viktorku! In that case I think I'm going to close this.

I also think for that build failure @derekdreery hit the nail on the head, you're likely running into https://github.com/rust-lang/cargo/issues/2507 where `.cargo/config` mentions the default target is wasm perhaps?

[2018-07-27 15:41] #563 closed

[2018-07-27 15:41] alexcrichton commented on #570
Indeed! We should update the documentation for web-sys to reflect this as well!

[2018-07-27 15:48] alexcrichton commented on #569
Thanks for the report!

[2018-07-27 15:48] #569 closed

[2018-07-27 15:50] #570 closed

[2018-07-28 05:09] alexcrichton commented on #549
I'm gonna close this as I think it's due to the previous comment, but can continue to dig in if it reproduces!

[2018-07-28 05:09] #549 closed

[2018-07-28 05:10] alexcrichton commented on #560
Alright I'm gonna close this now that fixes should be upstream, just waiting on a new nightly now!

[2018-07-28 05:10] #560 closed

[2018-07-28 11:19] jonathanKingston opened #576 "DOMString attributes from webidl"
In HTMLButtonElement there is [formAction](https://developer.mozilla.org/en-US/docs/Web/API/HTMLButtonElement#Properties) this returns `undefined` if it's not assigned to a form which is a problem as it can't be represented by DOMString currently.

[code]

Web IDL:
[code]

So the options that I can see are:
- Allow all DOMString's in rust to represent blank string (I personally think this is a foo

[2018-07-28 11:34] jonathanKingston commented on #576
Hmm ignore me, I think I was checking the prototype when testing locally. It returns a document.location.

[2018-07-28 11:34] #576 closed

[2018-07-28 12:53] afdw commented on #444
What do you think, which names in Rust should be used for constructors/functions with same names, but different argument types? Should they be generated from types names? Or manually annotated somewhere?

[2018-07-28 16:38] alexcrichton commented on #444
The current thinking is that we'd do something programmatic like:

* First constructor is named `new`
* Second constructor with arg `foo` is named `new_with_foo`
* Third constructor with arg `foo` and `bar` is named `new_with_foo_and_bar`
* etc...

And at least see how far that gets us, although we're also ok commenting out the duplicate constructors for now!

[2018-07-28 16:44] afdw commented on #444
The problem is that for WebSockets all 4 overloads of method `send` are useful, and they have same argument names:
[code]

[2018-07-28 16:55] alexcrichton commented on #444
Aha yes! For that we may want to just special case/edit the WebIDL perhaps? Or maybe we can include the type name in the method name? (aka `send_dom_string(data)`, etc)

[2018-07-28 16:56] afdw commented on #444
Yes, and that is exactly what I am asking.

[2018-07-28 20:38] alexcrichton commented on #444
The WebIDL is taken from Gecko's source tree I believe. There's no current consensus on how to solve this issue. Ideally it'll be handled in the `webidl` crate with the code it generates, and editing the WebIDL itself would be a last resort, yes.

[2018-07-28 20:49] afdw commented on #444
I am currently working on a prototype of an implementation of automatically generated names.

[2018-07-28 21:13] dgollahon commented on #275
I was about to try adding `Object.freeze`, but looks like it was added in 01ff04d8 and should be checked off.

[2018-07-28 22:19] afdw commented on #444
https://github.com/rustwasm/wasm-bindgen/pull/579

[2018-07-29 00:54] brisad commented on #275
How should the names of the `RegExp.$1-$9` properties be encoded? And how do we refer to the JS names? `js_name = $1` won't parse.

[2018-07-29 05:31] alexcrichton commented on #275
@brisad a good question! For that we should probably support `js_name = "$1"` in addition to `js_name = foo`, want to open an issue for that?

Once we've got that mapping then I think picking any reasonable name for them in Rust should be fine.

[2018-07-29 09:00] brisad commented on #275
@alexcrichton Sure thing! I'll open an issue.

[2018-07-29 11:44] jonathanKingston commented on #513
Some improvements on what I just submitted:

- [ ] Mock arguments to setters like `input.accept = "val";` based on their type.
- [ ] Explain arguments to methods like: `document.querySelector('val')` or `document.querySelector(selectors)`
- [ ] Scrape code examples from MDN, use ESTree to translate them to Rust.
- [ ] Provide a mode that checks for 404's on links and omits them if they don't exist

[2018-07-29 15:54] jonathanKingston opened #582 "Simplify optional argument generated interface by using `Into` trait"
WebIDL has the possibility of having `attribute DOMString? crossOrigin;`
There are 46 attribute definitions in `available/` and `enabled/` that would benefit from this (once long and other attribute types are supported).

[code]
Could be simplified to:
[code]

By changing the implementation to:
[code]

There are many more methods that would benefit:

[code]

Could be: `node.is_same_node(node)` ins

[2018-07-29 16:12] #513 closed

[2018-07-29 16:14] alexcrichton commented on #582
Perhaps yeah! Although the webidl bindings are intentionally intended to be low-level rather than ergonomic. There's a whole host of reasons they're not super ergonomic to use, this only being one of them!

I'd personally be inclined to avoid this for now, leaning on concrete types in the low-level bindings and community abstractions to make it less boiler-plate-y

[2018-07-29 17:18] jonathanKingston commented on #582
Yeah OK, I'm going to close this for now :+1: thanks for the super fast explanation!

[2018-07-29 17:18] #582 closed

[2018-07-29 20:40] brisad opened #583 "Support quoted strings as js_name values"
In addition to supporting `js_name = foo` we should also support a quoted variant like `js_name = "$1"`. This is needed to be able to create bindings for the methods `$1-$9` in `RegExp`. (#275)

[2018-07-29 20:42] brisad commented on #583
I'm interested in working on this, unless it too hard for a beginner?

[2018-07-29 21:11] brisad opened #584 "Cannot properly create setters when js_name is provided"
While attempting to create the binding for `regexp.lastIndex` with the following code,
[code]
I got the following error when compiling:

Since the method is called `set_last_index` this error appears to be invalid. And according to https://github.com/rustwasm/wasm-bindgen/pull/580#discussion_r205978745 `js_name = lastIndex` is correct.

[2018-07-29 23:15] alexcrichton commented on #583
This should be hopefully not too hard to implement! The parsing happens [around here](https://github.com/rustwasm/wasm-bindgen/blob/f5f541337cacfd09c997ce1a9b7623712d72a475/crates/macro-support/src/parser.rs#L241-L246) and we probably just want to store an enum of either an `Ident` or a `String`

[2018-07-29 23:17] alexcrichton commented on #584
Aha! Turns out there's some sneaky syntax here, instead of `js_name` the `setter = lastIndex` syntax is supported. That being said, both should probably be supported! (or we should deprecate one of them)

[2018-07-30 12:45] derekdreery opened #588 "Support extern bindings (imports) from within rust modules."
To support functionality like the following:

[code]

This is an attempt to split the issues #253, #254, #450, possibly others, into 2 parts - the codegen part and the AST transform part.

It would also be useful functionality, to allow rust developers to put their bindings into something other than the global namespace.

[2018-07-30 14:33] alexcrichton commented on #588
Note that this is supported today so long as `console` is `pub` ([which is a bug](https://github.com/rustwasm/wasm-bindgen/issues/201)). Are you thinking though that the macro itself should generate a module?

[2018-07-30 14:45] derekdreery commented on #588
Yeah I was thinking of generating something like

[code]

or something else, I've not really figured out how wasm-bindgen joins the imports yet.

[2018-07-30 17:51] alexcrichton commented on #517
Looks like we hit this first on https://travis-ci.org/rustwasm/wasm-bindgen/jobs/409944853

[2018-07-31 10:39] derekdreery commented on #588
I've looked again, and I think this is probably a duplicate of that other issue.

[2018-07-31 10:39] #588 closed

[2018-07-31 14:59] twilco opened #595 "`web-sys` tests do not load in Chrome"
Running `cargo test --target wasm32-unknown-unknown` in the `web-sys` directory results in this output:

[code]

Which is fine.  But when you go to the URL provided in the last line in Chrome, all you see is a message that says "Loading scripts...".  In the console, there is the following error:

[code]

The tests display as expected in Firefox.

[2018-07-31 15:50] jonathanKingston commented on #595
I fixed this in: https://github.com/rustwasm/wasm-bindgen/pull/596

[2018-07-31 15:58] alexcrichton commented on #595
Thanks so much @jonathanKingston!

We can figure out later on I think how to test APIs that are Chrome or Firefox-only. This does raise an interesting question about how firefox-specific the WebIDL is, but let's see over time!

[2018-07-31 15:58] #595 closed

[2018-07-31 23:05] hybrisCole opened #597 "WebRTC and WebSockets"
Hello,

I've been researching about wasm/rust interop, I want to use it on some real-life situation, so I was thinking in make a WebRTC and/or WebSockets servers using wasm, does this makes any sense at all? Regards

[2018-08-01 00:59] Pauan commented on #597
In order to access WebSockets inside of WebAssembly, you would have to run your code on Node.js, and you also need to create some shims (using the `wasm-bindgen` attribute).

That does work, though it will probably be a lot easier (and faster) to just write an ordinary Rust server (without WebAssembly). There are [a few WebSockets libraries](https://crates.io/search?q=websocket&sort=recent-downloa

[2018-08-01 01:13] hybrisCole commented on #597
Nice :), well now having in mind that it would make sense on the client side, what would be the best future-proof approach now that Host Bindings is coming up next? would I have to rewrite a lot of code if I do it via wasm-bindgen? or would it be stdweb a better solution? thx

[2018-08-01 02:00] chinedufn commented on #597
Haven’t done this yet (plan to soon actually) so forgive any slight mistakes here but:

The rust wasm book has an example of accessing a Vec of binary data from JS

https://rustwasm.github.io/book/game-of-life/implementing.html

So you could probably store your web socket message as a Vec<u8> And send that over.

Better yet if you could send over a u8 slice and not allocate.

But tl:dr pass your b

[2018-08-01 02:09] hybrisCole commented on #597
@chinedufn thx for the insights, so it seems this is feasible, I'll try to keep digging more 👍

[2018-08-01 06:01] sciyoshi commented on #197
Looks like the info here could be relevant: https://github.com/rust-lang-nursery/rand/issues/478#issuecomment-392371963

[2018-08-01 16:12] alexcrichton commented on #75
Support for this is added in https://github.com/rustwasm/wasm-bindgen/pull/600

[2018-08-01 16:13] alexcrichton commented on #18
Experimental support for this is now in the repository and future work is tracked with a [label](https://github.com/rustwasm/wasm-bindgen/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Afrontend%3Atypescript+), so I'm gonna close this for now

[2018-08-01 16:13] #18 closed

[2018-08-01 16:14] alexcrichton commented on #116
Unfortunately I'm not sure there's much we can do about this upon reflection, so I'm going to close

[2018-08-01 16:14] #116 closed

[2018-08-01 16:15] alexcrichton commented on #152
With https://github.com/rustwasm/rfcs/pull/2 now in FCP I'm gonna close this in favor of that RFC, any more discussion should definitely happen there!

[2018-08-01 16:15] #152 closed

[2018-08-01 16:17] alexcrichton commented on #255
I believe this was done in https://github.com/rustwasm/wasm-bindgen/pull/460 (yay!)

[2018-08-01 16:17] #255 closed

[2018-08-01 16:17] alexcrichton commented on #279
Done now with the `wasm_bindgen_test` crate!

[2018-08-01 16:17] #279 closed

[2018-08-01 16:18] alexcrichton commented on #367
I'm gonna close this for now as I think the question was answered, but we can of course file follow-up issues if necessary!

[2018-08-01 16:18] #367 closed

[2018-08-01 16:43] alexcrichton opened #601 "Improve #[wasm_bindgen] errors with `compile_error!`"
Right now the procedural macro simply panics if anything goes wrong, but this is pretty bad! The error messages coming out look pretty opaque at times and are often quite subpar, especially in that they're pointing to the wrong items.

I've just realized, however, that the procedural macro can generate `compile_error!` invocations which gives us the ability to generate custom compiler errors as we

[2018-08-01 17:48] mkane0814 commented on #601
Yes please! These errors have been really frustrating to work around. Does anyone know what causes them?

[2018-08-01 18:12] alexcrichton opened #603 "Migrate `wasm_bindgen` crate's tests to `wasm_bindgen_test`"
The test framework is shaping up quite nicely now, so we should purge the last and final use of `wasm-bindgen-test-project-builder`! The steps for this will be to:

* ~~First, wait for https://github.com/rustwasm/wasm-bindgen/pull/602 to merge~~
* Next, select a test module (for example `tests/all/foo.rs`) to migrate. Comment here so make sure work isn't duplicated!
* Move the file to `tests/wasm/

[2018-08-01 20:52] alexcrichton commented on #75
https://github.com/rustwasm/wasm-bindgen/pull/600 merged!

[2018-08-01 20:52] #75 closed

[2018-08-02 14:52] alexcrichton commented on #583
@brisad ah true! We probably will need to add a function that modifies the symbol name to avoid dollar-signs. It may be able to use the `ShortHash` type already there to just have a unique identifier at the end

[2018-08-02 18:39] roddyaj opened #612 "wasm-bindgen 0.2.15 fails to produce JS bindings"
wasm-bindgen 0.2.14 works fine, but switching to 0.2.15 produces no Javascript bindings.  The following is a simplified example:

Cargo.toml:
[code]

src/lib.rs:
[code]

I'm building with: `cargo +nightly build --release --target wasm32-unknown-unknown && wasm-bindgen target/wasm32-unknown-unknown/release/rust_bucket.wasm --out-dir target`

With wasm-bindgen = "=0.2.14" I get target/rust_bucket.js

[2018-08-02 18:43] fitzgen commented on #612
If you remove the `wasm_custom_section, wasm_import_module` features, does it work?

Are you on the latest nightly rust? `rustup update nightly`

[2018-08-02 18:44] fitzgen commented on #612
(Because these should not be necessary anymore.)

[2018-08-02 18:44] alexcrichton commented on #612
Additionally, you may want to make sure that `wasm-bindgen --version` (the CLI tool version) matches the `wasm-bindgen` crate version in Cargo.toml (if they're mismatched it can cause bugs)

[2018-08-02 18:52] roddyaj commented on #612
I ran `rustup update nightly` and I'm on 1.29.0-nightly.  I've now removed wasm_custom_section, wasm_import_module features.  I still see the error.  I am, however, on wasm-bindgen 0.2.14 according to `wasm-bindgen --version` (even after I run `cargo update -p wasm-bindgen`).

[2018-08-02 18:55] alexcrichton commented on #612
@roddyaj can you try running `cargo install -f wasm-bindgen-cli` to see if it fixes the error for you? Eventually all this version juggling will be handled by `wasm-pack` so this sort of error should be a thing of the past!

[2018-08-02 19:26] roddyaj commented on #612
OK thank you that fixed it!

[2018-08-02 19:36] #612 closed

[2018-08-02 19:36] fitzgen opened #613 "Publish the web-sys crate"
As discussed in today's WG meeting, we are aiming for publishing an initial release of the `web-sys` crate for the Rust 2018 Release Candidate milestone. That's 6 weeks from now: 2018-09-13.

What needs to be done before we ship an initial release of `web-sys`?

### Goals

* [x] Namespaces support: https://github.com/rustwasm/wasm-bindgen/issues/253
* [x] Remove all typedefs: https://github.com/ru

[2018-08-02 19:42] fitzgen opened #614 "Publish an initial release of wasm-bindgen-futures"
As discussed in today's WG meeting, we are aiming for publishing an initial release of the `wasm-bindgen-futures` crate for the Rust 2018 Release Candidate milestone. That's 6 weeks from now: 2018-09-13.

What needs to be done before we ship an initial release of `wasm-bindgen-futures`?

* [x] Once over of public API. I think this is probably quite close to being ready to ship as-is, and can have

[2018-08-02 19:46] fitzgen opened #615 "Publish a `wasm-bindgen-test` for use as an internal detail within `wasm-pack test`"
As discussed in today's WG meeting, we are aiming for publishing an initial release of the `wasm-bindgen-test` crate to be used as an unstable implementation detail within a `wasm-pack test` command for the Rust 2018 Release Candidate milestone. That's 6 weeks from now: 2018-09-13.

What needs to be done before we publish `wasm-bindgen-test` for use by `wasm-pack test`?

+cc @alexcrichton @ashleyg

[2018-08-02 20:00] fitzgen opened #616 "User-facing documentation overhaul"
As discussed in today's WG meeting, we are aiming for a docs overhaul / focus on being a good reference for the Rust 2018 Release Candidate milestone. That's 6 weeks from now: 2018-09-13.

Use case: generally, when I am looking up wasm-bindgen docs, I am not trying to read a whole thing, I am trying to figure out whether some specific X is supported, or how Y rust thing gets translated into JS or

[2018-08-02 20:05] ohanar commented on #613
Namespaces and inheritance have been on the top of my todo list when I get a moment. Inheritance is needed for many useful bindings (my plan for the moment was to basically treat them like mixins until we decide on how we want to expose the hierarchy).

[2018-08-02 20:52] fitzgen commented on #613
@ohanar good call! Added an item about implementing inheritance from the RFC.

I think we should hold off on mixins or traits for base methods until we have another accepted RFC, since we *definitely* don't want to ship something as big as that until we are fairly sure it will be stable and not undergo a bunch of churn. That means that if we want to include something like that for the initial web-

[2018-08-02 22:53] fitzgen commented on #615
And here is the `wasm-pack` half: https://github.com/rustwasm/wasm-pack/issues/248

[2018-08-02 23:11] alexcrichton commented on #614
The [current API](https://rustwasm.github.io/wasm-bindgen/api/wasm_bindgen_futures/) is *extremely* conservative, providing basically only these things:

[code]

in that sense I'd be comfortable with the public API as-is, but I think a prerequisite for publishing should be some more documentation and/or at least one usage example in a larger context. Right now the documentation for how to use is v

[2018-08-02 23:15] alexcrichton commented on #616
I think that just about covers it all!

[2018-08-02 23:27] alexcrichton commented on #613
Another checklist item (which I don't think we have a tracking issue for yet) is a lack of constructors, for example [`HtmlDivElement`](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.HtmlDivElement.html) doesn't have any constructor methods generated, but the WebIDL [lists the `HTMLConstructor`](https://github.com/rustwasm/wasm-bindgen/blob/4a7876934921f9dac560074ec87e45a2ce072b22/crat

[2018-08-02 23:38] alexcrichton commented on #613
One last thing I think we'll want to do is to set up headless testing for Chrome as well on CI to ensure that we don't get things that are too Firefox-specific

[2018-08-03 00:30] alexcrichton commented on #601
I think this is effectively done now, yay!

[2018-08-03 00:30] #601 closed

[2018-08-03 00:37] mandeepbrar opened #618 "Support merging of wasm files via binaryen"
Tried merging two wasm files containing wasm-bindgen with binaryen wasm-merge. It worked, but when i run the wasm bindgen cli on the merged file, the resulting javascript is not created properly. The resulting javascript only contains functions from one file.

[2018-08-03 02:55] Yuyz0112 opened #619 "Meet "unsupported optional argument Ref" when set attribute"
I'm trying to add some test for the `HtmlTableElement` in `web-sys` crate.
In the interface there is attribute called caption.
[code]
and if use a setter to set this attribute
[code]
I meet the error
[code]

Does this means that we cannot set an optional attribute which is ok in JS?

[2018-08-03 03:42] ohanar commented on #613
@fitzgen I would definitely say the inheritance RFC needs to happen then. The most popular proposal of using traits (like stdweb), doesn't match the current API, since all methods would be on traits rather than directly on the types, so implementing such a proposal would require comparable churn.

[2018-08-03 03:47] ohanar commented on #613
One last thing that I just thought of, is that typedefs should be removed. The spec makes it clear that these should not be exposed in language bindings. With the first pass in the webidl frontend, it should be quite straightforward to process them there.

[2018-08-03 03:56] ohanar opened #620 "use weedle instead of webidl-rs"
(See #506 for prior experimental implementation of this issue.)

There are currently a number of issues with weedle that need to be addressed upstream before we can really use it.
- Currently weedle never errors. This can be easily fixed as it is a small oversight, but the best context you could give at the moment without more thorough changes is pointing to the definition block that failed.
- Wee

[2018-08-03 04:57] alexcrichton opened #621 "WebIDL: Support the HTMLConstructor attribute"
Right now we're not processing it which means a lot of types don't have constructors!

There may be some assorted constructor attributes that also need special handling as well, will require some investigation.

[2018-08-03 04:58] alexcrichton opened #622 "web-sys: Add Chrome headless testing to CI"
We'll want to edit the travis config to download `chromedriver` and also probably Chrome itself. We should the configure js-sys and web-sys tests to both run with `geckodriver` and `chromedriver` on CI, ensuring that tests pass in both Firefox and Chrome.

[2018-08-03 05:00] alexcrichton opened #623 "WebIDL: Remove all typedefs in early passes"
[According to](https://github.com/rustwasm/wasm-bindgen/issues/613#issuecomment-410136314) @ohanar, even the WebIDl spec says we shouldn't expose them!

[2018-08-03 05:01] alexcrichton opened #624 "WebIDL: enable bindings that take `Option<scalar>`"
Right now support for things like `Option<u32>` isn't implemented, so we'll need to implement that first to enable the bindings in https://github.com/rustwasm/wasm-bindgen/tree/master/crates/web-sys/webidls/unavailable_option_primitive

[2018-08-03 05:02] alexcrichton opened #625 "WebIDL: Enable bindings that have unusual enum names"
Need to make sure this folder is empty! https://github.com/rustwasm/wasm-bindgen/tree/master/crates/web-sys/webidls/unavailable_enum_ident

[2018-08-03 05:02] alexcrichton commented on #613
I've updated the OP and filed dedicated issues for the items mentioned here!

[2018-08-03 05:29] alexcrichton commented on #619
Oops this looks like a bug! I think it should be fixed in https://github.com/rustwasm/wasm-bindgen/pull/626

[2018-08-03 05:30] alexcrichton commented on #618
Thanks for the report! I believe in theory this should work as long as things don't conflict, but this also depends on what the merge process does with custom sections. Do you have an example of the wasm-merge to poke around with?

[2018-08-03 05:31] alexcrichton commented on #618
Also in general Rust code can't be merged with another wasm module because it's not necessarily relocatable (static data is all at fixed addresses). To that end fully supporting this may require toolchain support.

[2018-08-03 05:35] ohanar commented on #621
So the WebIDL spec doesn't specify the HTMLConstructor anywhere. Is there anything special about these constructors?

[2018-08-03 05:39] ohanar commented on #623
To quote the first paragraph of [the WebIDL spec](https://heycam.github.io/webidl/#idl-typedefs):

[2018-08-03 05:42] alexcrichton commented on #621
Perhaps not! It sounds like we may be able to treat it as a normal constructor perhaps? (I'm not too knowledgeable of what it is either!)

[2018-08-03 08:30] #619 closed

[2018-08-03 10:38] afdw commented on #624
I'm currently working on this one.

[2018-08-03 13:43] afdw commented on #625
Will just renaming to `"none"` whenever it is named `""` work?

[2018-08-03 14:24] alexcrichton commented on #625
That sounds reasonable to me! It looks like these are enum values with the empty string, which I think naturally translates to `Foo::None` in Rust. I think though that we'll specifically want to handle the empty string case where enums are processed rather than the general location where identifiers are manufactured.

[2018-08-03 16:54] fitzgen commented on #613
@ohanar

Couple things:

1. We definitely need a more fleshed out design than "using traits like stdweb" ;) If you want to start a draft/WIP RFC that we can collaborate on and discuss, that would be super helpful in pushing this forward!

2. I could see a *potential* universe where we shipped without any base-traits inheritance method stuff, only shipped with normal methods, and then as a non-brea

[2018-08-03 17:12] fitzgen commented on #621
I am confused

![html-constructor](https://user-images.githubusercontent.com/74571/43655990-ae8e4af6-9705-11e8-88e2-9b897ed1e19b.png)

[2018-08-03 17:13] fitzgen commented on #621
https://html.spec.whatwg.org/multipage/dom.html#htmlconstructor

[2018-08-03 19:11] alexcrichton commented on #621
Interesting! Does that mean that there's nothing actually to do here?

[2018-08-03 19:24] fitzgen commented on #621
I *think* so. I find that series of steps somewhat impenetrable. I tried a bunch of things, and I couldn't get anything that wouldn't throw an error.

[2018-08-03 19:25] alexcrichton commented on #621
Ok cool!

[2018-08-03 20:08] eminence commented on #549
Quick note:  I'm seeing this, using the latest nightly and wasm-bindgen from the latest git master branch.  In my case I see it trying to build a small wasm project.

[code]

This weekend I'll work on making a reproducer that I can share.  But I just wanted to update this issue in the meantime.

[2018-08-03 20:38] alexcrichton commented on #549
@eminence oh dear that sounds bad! Do you know if there's two `wasm-bindgen` entries in your `Cargo.lock`?

[2018-08-03 20:39] eminence commented on #549
Ahh, indeed their is:

[code]

[2018-08-03 20:40] alexcrichton commented on #549
Ah ok, that'd definitely cause problems! Do you know what's introducing the git dependency in your build? (or maybe you're using git but a different crate is using crates.io?)

[2018-08-03 20:54] eminence commented on #549
it's probably the console_error_panic_hook crate, which has a wasm-bindgen dependency.

This is my project's dependencies:

[code]

If I remove the `console_error_panic_hook` dependency, everything links OK.    I could also work around this by adding a patch entry for wasm-bindgen:

[code]

[2018-08-03 20:55] alexcrichton commented on #549
Ok yeah that sounds about right! I also agree that `[patch]` should solve the issue as well

[2018-08-03 20:56] eminence commented on #549
ok great.  thank you for the help @alexcrichton  !

[2018-08-03 20:59] #624 closed

[2018-08-03 22:41] #625 closed

[2018-08-04 03:35] #231 closed

[2018-08-04 05:06] Pauan commented on #621
I believe they just exist so that [custom elements](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_elements) can work:

[code]

My understanding of the spec is that `new HTMLDivElement()` and `HTMLDivElement()` should both throw errors.

So indeed they cannot be created directly (only indirectly by creating a new `class` that extends from them).

[2018-08-04 11:50] #623 closed

[2018-08-04 13:51] afdw commented on #248
From the link in the issue body:

In some cases there are replacement operations:
[code]
But in some cases there are no:
[code]
[code]

So probably they should be always generated, despite the specification says otherwise?

[2018-08-04 14:35] afdw commented on #498
This issue is probably suppressed by #623 (at least the main issue, one that is in the title).

[2018-08-04 14:46] alexcrichton commented on #498
Indeed, thanks @afdw!

[2018-08-04 14:46] #498 closed

[2018-08-04 15:17] alexcrichton commented on #248
@afdw hm I'm not sure I understand, but the spec may also be confusing me. The spec mentions five operations but only lists four in the table above, and additionally I don't think a replacement operation is one of the one it lists? (unless it's the elusive fifth)

How would we generate bindings though for missing operations?

[2018-08-04 15:43] afdw commented on #248
Yes, it also confuses me.

From my understanding, the spec says that for special operations with empty name no bindings should be generated if the target language does not support that kind of operation.

It means that these futures will be missing to the user of the bindings. And I think that the spec assumes that there are replacement operations, that such operations are only syntactic sugar, no

[2018-08-04 15:48] alexcrichton commented on #248
Aha that makes sense! FWIW in [the spec](https://heycam.github.io/webidl/#idl-special-operations) the "Example 15" makes me think that it's actually not possible for getters/setters to be named, but rather a named getter/setter is actually sugar for an unnamed getter/setter plus the actual function itself. In that sense I think we'll always have to deal with the getters/setters not having names!

[2018-08-04 15:48] #622 closed

[2018-08-04 17:33] alexcrichton commented on #620
I've attempted to do this in https://github.com/rustwasm/wasm-bindgen/pull/639

[2018-08-04 17:41] Cyres opened #641 "Accessing filesystem"
Is there a way to read a file into the rust program? I'm in an std-environment, but this isn't supported as far as I can see.

[code]

The file was copied with [`copy-webpack-plugin`](https://www.npmjs.com/package/copy-webpack-plugin) at the desired address, so i can open it with `localhost:8080/assets/models/cube.obj`.

[2018-08-04 18:16] alexcrichton commented on #641
If the file is available at compile time you can use `include_str!` or `include_bytes!` to import it as a literal into your program, but otherwise wasm has no support for reading the filesystem so you'll need to do something different on the web or use node.js's functions in Node

[2018-08-04 18:32] Pauan commented on #641
If you need to load the file at runtime (rather than compile-time), you can use either of these JavaScript APIs:

* [`fetch`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) (new but not supported by all browsers)
* [`XMLHttpRequest`](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/Using_XMLHttpRequest) (old but supported by all browsers)

There is work bein

[2018-08-04 20:05] fitzgen commented on #621
I tried with custom elements that extend HTMLElement and HTMLDivElement and
couldn't get it to work. I could be doing it wrong, but in this scenario it
also seems like rust code wouldn't be calling the html element constructors
explicitly anyways.

If you can find a snippet that shows what is supposed to be going on, and
works, then we can definitely reopen!

On Fri, Aug 3, 2018, 10:06 PM Pauan <n

[2018-08-04 22:36] brisad commented on #583
@alexcrichton I'm attaching a WIP PR to get some comments on whether I'm on the right track or not.

Instead of making it an enum like you said I just changed it to a `String` instead, as I couldn't see the use for `Ident` anymore. Let me know if that's a bad idea.

To modify the shim name, I simply filtered on ASCII alphanumeric chars to make it a valid identifier. That way the name will likely s

[2018-08-04 22:57] Cyres commented on #641
Unfortunately, the files have to be loaded dynamically. (My files are quite large and not all are always needed). Anyway, thanks for the recommendations. Until the functions can be used from Rust, I will use them from JS.

[2018-08-04 22:57] #641 closed

[2018-08-05 00:26] alexcrichton commented on #583
@brisad ah I wouldn't worry much about validation, what you've got in #646 looks good to me strategy-wise!

[2018-08-05 00:27] alexcrichton commented on #618
@mandeepbrar unfortunately I think these modules just fundamentally can't be merged together. They both have static data in the same location, and `wasm-merge` doesn't know how to disambiguate that.

[2018-08-05 03:05] Pauan commented on #621
@fitzgen

[code]

This is only relevant [after wasm-bindgen gets the ability to create JS classes in Rust](https://github.com/rustwasm/wasm-bindgen/issues/210).

[2018-08-05 03:07] Pauan commented on #621
If it's still not working for you, try Chrome. MDN has this big disclaimer:

[2018-08-05 07:30] jgregory553142 opened #649 "Propagate bindings to depending crate"
Hello,

For my project I use two crates A and B. Crate B contains functions that are marked with `#[wasm_bindgen]`. Crate A is built into a wasm-library using wasm-bindgen, and it depends on crate B.

When I build crate B on its own, the JavaScript bindings are correctly generated. But when I build crate A, the annotations for the functions in crate B seem to be ignored.

What do I need to do to b

[2018-08-05 15:46] alexcrichton commented on #649
Thanks for the report! I think this is an unfortunate limitation of how LLD works (the linker for wasm code).

Currently if you're linking to a library LLD doesn't actually load the library *unless* you use something from it. If you're exporting functionality from B there's likely nothing else pulling it in to link to it, so LLD doesn't end up pulling in the functionality.

You can see a longer ex

[2018-08-05 15:59] alexcrichton commented on #603
I'm working on `import_class.rs`

[2018-08-05 18:38] Pauan commented on #613
If nobody else wants to, I can write up a trait-inheritance RFC.

I can sympathize with that, but I think that will be the least of concerns for a JavaScript user trying to learn Rust (they will struggle much more with other stuff).

Especially since it's as easy as just slapping `use web_sys::traits::*` at the top of your file and you're good to go.

[2018-08-05 19:25] jonathanKingston commented on #613
The only way that I know of to create these are through `document.createElement`

Currently the crate doesn't support the `or` webidl keyword in argument position:
[code]
So my priorities would be:
- [ ] Supporting `document.create_element`
- [ ] Exposing `document: Document` or a simple way to create without using `#[wasm_bindgen]`
- [ ] Allowing upcasting `create_element()` result to `HtmlDivEle

[2018-08-05 19:44] alexcrichton commented on #613
@jonathanKingston ah excellent points! The `or` keyword is the "union" type I believe which is currently unsupported. We don't really have a way to express union types in a great way (that works well with wasm-bindgen), so what I think we should do is have a pass over the WebIDL which basically "expands" union types. For example the method:

[code]

would become

[code]

we already have code to ha

[2018-08-05 22:55] afdw commented on #613
Yes, but what to do with unions in other positions (for example, return types)? Looks like supporting it would require expressing them as Rust enums.

[2018-08-06 01:26] alexcrichton commented on #613
Ah I didnt know they showed up in return positions! For that we probably have no choice but and enum or custom struct

[2018-08-06 08:43] ctjhoa commented on #275
@fitzgen `Array.prototype.splice` has been done https://github.com/rustwasm/wasm-bindgen/pull/571

[2018-08-06 14:06] #583 closed

[2018-08-06 15:27] #620 closed

[2018-08-06 17:07] fitzgen commented on #621
Woops, yeah I was only trying in Firefox.

I think we can reopen this, but that it should not block Rust 2018 / Release Candidate.

[2018-08-06 17:16] fitzgen commented on #613
We *could* punt in that case and do `JsValue` too.

[2018-08-06 17:45] fitzgen commented on #613
@jonathanKingston,

Good call! I'll file an issue and make it a blocker.

I think exposing `pub fn window() -> Window` should be good enough, because then one can do `window().document().whatever()`.

And it saves us from having to special case every single global property.

What do y'all think?

Yep, this is part of implementing RFC #2.

Something like the eventual example for https://github.com/

[2018-08-06 17:47] fitzgen commented on #613
@Pauan,

That would be awesome!

[2018-08-06 17:49] fitzgen opened #658 "Generate bindings for `document.createElement`"
Right now, we aren't emitting bindings for `document.createElement`. I haven't dug in as to why we aren't doing that yet.

We should make sure that we are, since it is such a fundamental DOM API. We should also add some sanity tests for it.

+cc @jonathanKingston

[2018-08-06 17:52] fitzgen opened #659 "Expose a getter for the global window"
I think we could do something like

[code]

inside `crates/web-sys/src/lib.rs` and consider that the entry point to all globally exposed properties and methods.

[2018-08-06 17:59] alexcrichton commented on #659
Currently the way to do this would look like:

[code]

but importing via a `static` is a little sketchy and I think I'd prefer to get something like a bare `getter` you've mentioned @fitzgen to work, that makes more sense to me.

[2018-08-06 18:48] alexcrichton commented on #603
Done now!

[2018-08-06 18:48] #603 closed

[2018-08-07 02:43] #248 closed

[2018-08-07 14:44] acdha commented on #329
@alexcrichton I just picked this project up again and wanted to see if my original code would work (e.g. using `pub fn hex_digest(self) -> String`) using wasm-bindgen 0.2.15. It compiles but webpack fails with this error:

[code]

[2018-08-07 14:54] alexcrichton commented on #329
Oh dear, sounds bad! That should be fixed in https://github.com/rustwasm/wasm-bindgen/pull/662

[2018-08-07 15:04] acdha commented on #329
Thanks for the rapid response!

[2018-08-07 16:00] alexcrichton commented on #241
I was looking into this today while looking at the warnings generated by `web-sys`'s build script, and it looks like we're currently ignoring 388 definitions of dictionaries which probably means we're missing up to 388 APIs!

In that sense I think it'd be good to try to get this sorted for `web-sys`'s first release. All dictionaries are basically `Object` newtype wrappers, so we may want to simply

[2018-08-07 16:43] Pauan commented on #241
Can't it use a custom implementation of `is_instance_of`, similar to what `JsValue` does?

[2018-08-07 16:54] alexcrichton commented on #241
It could yeah! That would involve having some sort of way to change the generated implementation, and since we use the backend directly we also don't necessarily have to stabilize a user-facing interface.

[2018-08-07 17:03] fitzgen commented on #241
Can you make the case for why we would want `extern` types for dictionaries instead of exported Rust types (which would ideally not emit JS bindings, only appear on the Rust side)?

I agree, but what you have written up doesn't look like an `Object` newtype wrapper. What if we actually just emitted normal newtypes over `Object` that have constructors with parameters for each of the dictionary memb

[2018-08-07 17:11] Pauan commented on #241
I like this idea.

That seems inconsistent with `JsValue`, which always returns `true`.

It's a tricky situation, but I would personally expect it to return `true` if the object is an actual `Object` (no duck-typing for properties), and `false` otherwise.

[2018-08-07 17:31] ohanar commented on #241
I prefer the original desugaring idea. I feels a bit more ergonomic to construct, especially in the case of required fields. Given that dictionaries are primarily for method arguments (if not exclusively), constructing them is the main interaction users will have with them, so that should be what is prioritized in their API.

Also, it matches up with [Mozilla's C++ reflections for WebIDL Dictionar

[2018-08-07 18:18] fitzgen commented on #616
More of this just landed in #661

[2018-08-07 20:15] alexcrichton commented on #241
I really like @fitzgen's [idea](https://github.com/rustwasm/wasm-bindgen/issues/241#issuecomment-411129556) as well. I like the idea of not "importing" a type that doesn't actually exist and that way there's no need to deal with `instanceof` and such like that. That, and you can pull out an `Object` if you need to (as that's what it actually is).

Do we need to also generate the ability to access

[2018-08-08 15:33] jgregory553142 commented on #649
Ah thank you very much for the hint. That might work for me, but for now I have decided to just include the exported functions also in the depending crate. Seemed to be the easiest and least hacky solution, and also makes the structure of my project actually nicer.

[2018-08-08 15:33] #649 closed

[2018-08-08 15:47] Tarnadas commented on #376
Thx @alexcrichton,
I had the exact same problem as @huangjj27 and your comment resolved my issue.

[2018-08-08 17:40] gnzlbg commented on #615
So I followed the steps here https://github.com/rustwasm/wasm-bindgen/blob/master/crates/test/README.md

And got the following error: https://gist.github.com/gnzlbg/bce2a1020dde236e28d466311e4697c8

System is MacOSX 10.13.6
I installed node via homebrew: `brew install node`, which installed the version 10.8.0

My `Cargo.toml` looks like:

[code]

and in my `wasm-test` binary crate, I have a `.carg

[2018-08-08 18:39] Pauan commented on #613
@fitzgen Done: https://github.com/rustwasm/rfcs/pull/3

[2018-08-08 18:46] fitzgen commented on #613
Incredible! Thanks @Pauan !

[2018-08-08 21:32] fitzgen opened #668 "`js_class = "..."` does not work with `constructor`"
This means one can't bind to a constructor for a renamed import type.

Shouldn't be too hard to add to support in the macro parser at `crates/macro-support/src/parser.rs` and maybe also expand the constructor ast type in `crates/backend/src/ast.rs`.

For example, these bindings

[code]

should work with this JS:

[code]

[2018-08-08 23:10] fitzgen opened #670 "Add `extends = ...` attributes to `js-sys` types"
We should add all the inheritance relations for global JS types to `js-sys`.

We can use this snippet of JS to log the prototype chain for something, eg `Uint8Array`:

[code]

Pasting that snippet in a browser's devtools console logs:

[code]

So we would add `#[wasm_bindgen(extends = Object, extends = TypedArray)` to `Uint8Array`'s import definition and a corresponding test to the appropriate fil

[2018-08-09 02:11] alexcrichton commented on #615
Looks like @gnzlbg's issue was https://github.com/rustwasm/wasm-bindgen/pull/667, thanks for the PR!

[2018-08-09 07:57] gnzlbg commented on #615
Yes, @fitzgen was very helpful on IRC, thanks!

[2018-08-09 14:38] Cyres commented on #614
Is this also possible in the other direction? I.e. calling a function from Rust and return the promise as future?

[code]
always results in

wasm-version: 0.2.15 (157ba0066)

[2018-08-09 14:41] alexcrichton commented on #614
@Cyres ah that has to do with futures in general, not so much the support here. You can't `poll` a future outside the context of a "task", and it's true yeah that `wait` won't work on wasm because it can't block. Once you have a future you'll need to keep using futures and plumb them throughout.

[2018-08-09 14:43] Cyres commented on #614
So long story short I cannot get the result of my fetch in Rust directly? Feels, that I need a buffer thing at JS side then, which can then be pulled from Rust.

[2018-08-09 14:51] alexcrichton commented on #614
Sort of, yeah. The only way to execute a Rust future is to convert it to a JS promise. You don't necessarily have to interface with JS per se, but you will have to take a future and then convert it to a `Promise` at some point to execute it.

[2018-08-09 15:56] Cyres commented on #614
Thanks for the response. Is there a reason by the way, why `feature 0.1.20` is used instead of 0.2 or feature-preview?

[2018-08-09 17:48] fitzgen commented on #614
Because it is the stable version of `futures` right now. Once 0.3, the next stable version, is released, then we can update to that version.

[2018-08-09 23:28] fitzgen commented on #614
Also added some sanity tests in #680 -- I think we can publish this crate after that lands and we do a new release of js-sys to get the promise bindings!

[2018-08-10 00:55] alexcrichton commented on #614
Sounds good to me!

[2018-08-10 14:12] derekdreery opened #684 "Minimum rust version"
Is there a policy on the minimum version of rust these crates should compile on. I'm wondering what features I can use.

[2018-08-10 14:15] huangjj27 commented on #376
@alexcrichton I'm sorry that I forgot to give you the feedback that your advice solved my issue that day, And thank you very much!

[2018-08-10 14:27] alexcrichton commented on #684
Heh no policy yet! Everything currently requires nightly so you're free to use the latest-and-greatest features :)

[2018-08-10 14:27] #684 closed

[2018-08-10 17:11] fitzgen commented on #253
I think we can use an alternative codegen tactic for namespaces, the equivalent to:

[code]

Details here: https://github.com/rustwasm/wasm-bindgen/pull/678#issuecomment-412145357

[2018-08-10 21:15] fitzgen commented on #275
***We are super close to finishing here!*** Let's get `js-sys` across the finish line, there isn't that much left.

Thanks to everyone involved thus far :)

Here is a summary of our status at the moment / what is still left:

* I think we can largely ignore the various constant properties on `Math`, and `Infininity` and `NaN` since Rust has equivalent constants and I can't see a use case for using

[2018-08-10 22:13] quelledanielle commented on #275
@fitzgen I’ll try whichever `String` methods you think are easy :P

[2018-08-10 22:31] fitzgen commented on #275
Great! Let me know if you have any questions!

[2018-08-10 22:32] fitzgen commented on #275
(See the unchecked checkboxes for `String` at the top of this issue; I think they are all good candidates!)

[2018-08-11 05:34] kraai commented on #670
It seems like the `extends` attribute isn't necessary for `Promise`.  The following test passes without any changes to `lib.rs`:

[code]

Should it be marked as complete, should the test be added, or should the `extends` attribute and test be added anyway?

[2018-08-11 05:52] #668 closed

[2018-08-12 09:16] lnicola opened #688 "Structs break debug builds"
Take the code from https://rustwasm.github.io/wasm-bindgen/whirlwind-tour/basic-usage.html and add the following:

[code]

Rebuild and load the HTML page. There are no errors in the console, but the module never finishes loading (so there's no alert box). Rebuild with `--release`, and it works.

[2018-08-12 09:35] LukasKalbertodt opened #689 "Provide own JS code to load and instantiate the WASM file"
Hi there!

I've been playing with `wasm-bindgen` for some time now and I think I'm missing a feature. Please note that I don't have any previous experience with NPM and webpack as well as very little experience in JS. So I might just have missed something.

Anyway, as I understand it there are basically three different ways to generate the JS shim:

- **normal**:
  - Uses ES6 `export` statements t

[2018-08-12 10:10] lnicola opened #690 "wasm validation error"
Start from the book guide, replace the code with

[code]

, build as release (because of #688).

Firefox output:

[code]

Chrome output:

[code]

[2018-08-12 10:15] lnicola commented on #690
Possibly related: https://github.com/xtuc/webassemblyjs/issues/407.

For code that exhibits this issue I get the `LEB128 encoding changed, this might lead to bugs` message.

[2018-08-12 10:17] lnicola commented on #690
Duplicate of https://github.com/webpack/webpack/issues/7760.

[2018-08-12 10:17] #690 closed

[2018-08-12 10:59] thomaseizinger commented on #275
I would give the `Intl.DateTimeFormat` stuff a try :)

[2018-08-13 08:28] LukasKalbertodt opened #693 "Add `namespace` and `function` to .d.ts file when in --no-modules mode"
I tried using the TS declaration file in the `--no-modules` mode. Example:

[code]

Results in this file:

[code]

But since this isn't a module anymore, I can't import it in my TS file via `import ...;`. Instead, I think, the correct was is to use namespaces. If I modify the file from above:

[code]

I can simply place this modified file next to my real TS file and it works (as in I can call `was

[2018-08-13 09:03] derekdreery commented on #253
Implemented as modules in #678 .

[2018-08-13 09:03] derekdreery commented on #254
Implemented by #678

[2018-08-13 09:12] derekdreery opened #694 "Support exporting Rust functions as variadic JS functions"
Support the following example

[code]

callable from javascript as

[code]

You could implement the transformation in javascript as

[code]

This is ~~a prerequisite for implementing #503~~ the reverse of #503.

[2018-08-13 11:30] gnzlbg commented on #615
could we do a wasm-bindgen minor release to avoid using this from git ?

[2018-08-13 14:43] eminence commented on #443
I took a look at this over the weekend.  Nearly all of these interfaces are "enabled", but many of them are incomplete due to lack of dictionary support (#241).   But once that is fixed up, I'll be happy to develop some Web Audio examples

[2018-08-13 17:49] fitzgen commented on #615
Yes, hopefully today or tomorrow.

[2018-08-13 17:53] fitzgen commented on #670
Good catch! The example test I provided only tests the dynamic JS behavior with `instanceof`, which doesn't exercise the code emitted by `extends = ...` at all :-p Instead we should do something like this:

[code]

That bottom bit is the new bits, and that should fail to compile without the `extends = ...` attributes!

[2018-08-13 18:21] fitzgen commented on #443
Yeah, most of these issues domain-specific webidl issues I filed are half out of date because of the big PR that just enabled everything. As you point out, a lot of functionality is still missing for various reasons, so we can use them as tracking issues for whatever is blocking the interfaces being functional and usable. I also think the examples will be really great to get in tree, and we can ev

[2018-08-13 20:41] #658 closed

[2018-08-13 21:28] ohanar commented on #253
We still need support for namespace attributes, although that shouldn't be much work at this point. I'm going to leave this open for now.

[2018-08-13 21:42] fitzgen commented on #615
0.2.16 is published!

[2018-08-13 21:43] fitzgen commented on #615
I think we can close this issue -- I didn't realize that we had already published `wasm-bindgen-test` when I filed this issue. I think all the remaining work is needed in wasm-pack and in documentation.

[2018-08-13 21:43] #615 closed

[2018-08-13 21:44] fitzgen commented on #614
This is complete! :tada: :taco: :tada:

[2018-08-13 22:02] withoutboats commented on #614
Do you anticipate any issues arising from the change to the `futures` API? I'm thinking especially of the explicit `Context` argument, but maybe there are other problems. This integration is very valuable!

[2018-08-13 22:06] fitzgen commented on #614
I expect that @alexcrichton is the most appropriate person to answer this question. I'm not super familiar with the incoming changes to `futures` other than that it won't always be a `Result` anymore, which I love :)

[2018-08-13 22:06] #614 closed

[2018-08-13 23:35] alexcrichton commented on #614
@withoutboats an excllent point! I doubt though that the 0.3 release will cause many problems for us. The [code](https://github.com/rustwasm/wasm-bindgen/blob/master/crates/futures/src/lib.rs) is quite small and should be very easily portable to 0.3!

[2018-08-14 00:30] alexcrichton commented on #693
Thanks for the report! I definitely agree that `--no-modules` emits broken TS, and it'd be great to fix!

Would you like to send a PR for this?

[2018-08-14 00:38] #254 closed

[2018-08-14 00:38] alexcrichton commented on #254
👍

Thanks @derekdreery!

[2018-08-14 00:42] alexcrichton commented on #689
Thanks for the report! It really is a bumer that wasm modules aren't supported as native ES modules yet, it does indeed add all sorts of pain like this!

One thing I might recommend for this use case though is a tool like `wasm2es6js` in this repository. You can use that to translate a wasm module to an ES module (sort of) and perhaps something like that could be used in your use case?

I'm not su

[2018-08-14 00:43] alexcrichton commented on #694
Seems plausible to me! I think though that this is the opposite of #503, right? (this is about defining something in Rust whereas that's about importing something defined in JS)

[2018-08-14 00:46] thomaseizinger commented on #275
Given my experience with that, I would also do the remaining `Intl` bindings!

[2018-08-14 04:51] quelledanielle commented on #275
I’ll take the rest of `String` 🙂

[2018-08-14 05:03] alexcrichton commented on #249
Done in https://github.com/rustwasm/wasm-bindgen/pull/640!

[2018-08-14 05:03] #249 closed

[2018-08-14 05:03] alexcrichton commented on #253
@ohanar perhaps we could open a separate issue for that with some updated instructions?

[2018-08-14 06:03] alexcrichton commented on #241
I've started working on this locally, hope to have a PR up by tomorrow

[2018-08-14 06:41] ohanar commented on #241
What about using a builder pattern here? I think this is basically an extension of what was previously proposed, the main difference being that setters return a mutable reference to self (or something along those lines). It would make constructing dictionaries more convenient.

I think many/most fields in dictionaries are optional (all fields are optional, unless they specify otherwise), so making

[2018-08-14 06:55] alexcrichton commented on #241
Good idea @ohanar! After learning everything was optional-by-default that's what I started implementing as well :)

The constructor currently is generated as only requiring the required arguments, and all optional arguments can be specified through builder methods.

[2018-08-14 11:45] rylev opened #700 "Using JS Module inside Webpack Project"
This is probably a webpack issue, but I wanted to confirm here.

Using a wasm-bindgen I built a library that I want to include as a dependency in another webpack based project. I added a package.json file to the output from wasm-bindgen and set the generated js file as the main file. Finally, I set the directory where my generated files and this package.json are located as the location in my webpa

[2018-08-14 11:48] xtuc commented on #700
Yes that's a current Webpack limitation. It means that you need to `import("../wasm-bindgen-thing")` instead of using the `import x from "..."` syntax.

[2018-08-14 11:52] rylev commented on #700
@xtuc I think I wasn't clear. I am using the `import("../wasm-bindgen-thing")` syntax and never importing the wasm-bindgen-thing using the `import x from "wasm-bindgen-thing"` syntax.

[2018-08-14 11:55] rylev commented on #700
If I reduce my webpack project down to just `import('../../../wasm-bindgen-thing').then(module => console.log(module))` where the `wasm-bindgen-thing` is just the straight output from wasm-bindgen, I get the same error.

[2018-08-14 11:59] rylev commented on #700
Main project - src/index.ts:
[code]
dmg_01_js:

[code]

webpack config:

[code]

[2018-08-14 13:16] LukasKalbertodt commented on #693
@alexcrichton I'm not sure if I'll find time to work on this. But regardless: could you maybe list the main files and functions involved in generating the TS declarations? Knowing where to start looking makes it way easier to start working on this -- for me or anyone else :)

[2018-08-14 15:36] xtuc commented on #700
Since the index uses a dynamic import, your bundle is splited and everything can be synchronous then. The example you posted seems fine to me, I'm just wondering if TypeScript would transform the `import()` to something else? could you please try with JS?

[2018-08-14 15:39] alexcrichton opened #701 "WebIDL: Support the BufferSource type"
We've currently got a number of fields/methods that aren't bound because the `BufferSource` type isn't recognized. [Defined by the spec](https://www.w3.org/TR/WebIDL-1/#h-common-buffersource) this type is basically `TypedArray or DataView or ArrayBuffer`. We unfortunately don't have a great way to bind this type tight now!

How should we support this type? Should we just take `&JsValue` and call i

[2018-08-14 16:39] rylev commented on #700
@xtuc you might be right. I switched to js and it worked. I can try to find out what the typescript loader is doing

[2018-08-14 16:57] xtuc commented on #700
Yeah that would be very helpful for us

[2018-08-14 18:58] fitzgen commented on #701
For inputs, we can overload these similar to other unions.

For outputs, we can probably use `JsValue` and call it a dat.

+cc @afdw

[2018-08-14 19:15] alexcrichton opened #704 "Prototype WeakRef support with a SpiderMonkey shell polyfill"
https://gist.github.com/tschneidereit/51dd7d5b51e16e21f8281b111fe638d1 is a polyfill for the upcoming `WeakRef` proposal, and we're definitely going to want to make use of it to avoid the need to manually call `free` on Rust structs exported to JS.

We should add an option to wasm-bindgen (probably an env var for now) to tailor output of wasm-bindgen for the SpiderMonkey JS shell and use these wea

[2018-08-14 19:15] alexcrichton commented on #704
cc @tschneidereit

[2018-08-14 20:42] alexcrichton commented on #693
Sure! Almost all the JS generation [happens here](https://github.com/rustwasm/wasm-bindgen/blob/master/crates/cli-support/src/js/mod.rs). Right now the `typescript` field of the context builds up the Typescript that's generated. It's all a bit of a mess in the sense that it's not too structured, but it shouldn't be to hard to add some structures and postprocessing around there

[2018-08-15 00:47] Pauan commented on #704
I might be wrong, but my understanding is that the WeakRef proposal does not guarantee that the destructors will run in a timely manner, so there could be an arbitrary amount of time before the object is garbage collected, so it would still be useful to manually call `free` to guarantee fast and deterministic cleanup.

[2018-08-15 13:57] gnzlbg opened #707 "rust-wasm-bindgen-test --version errors"
There should be a way to query the rust-wasm-bindgen-test version (e.g. 0.2.16) currently. Same for other tools probably.

[2018-08-15 15:11] alexcrichton commented on #618
I'm going to close this because I don't think it's a wasm-bindgen specific issue, but broader discussion may be good as well on internal forums!

[2018-08-15 15:11] #618 closed

[2018-08-15 20:16] eminence commented on #450
Now that #678 has landed, what's left to do for this issue?

[2018-08-16 00:13] fitzgen opened #712 "Only mangle overloaded method names with the overload's extra argument names"
[code]

should generate methods named

1. `foo(arg: bool)`
2. `foo_using_extra(arg: bool, extra: &JsValue)`

but right now it generates

1. `foo_using_arg(arg: bool)`
2. `foo_using_arg_and_extra(arg: bool, extra: &JsValue)`

This is too wordy.

For a real world example, see `CanvasRenderingContext2D.prototype.arc`:

![arc](https://user-images.githubusercontent.com/74571/44179912-80c5cb00-a0ae-11e8

[2018-08-16 00:14] fitzgen commented on #712
Also, I prefer `with` to `using`, but I don't car *that* much...

[2018-08-16 01:00] limira opened #714 "#[wasm_bindgen] on `impl {}` produces duplicate function in wasm-bindgen-test"
Hi,
I am trying to implement some tests for my crate using `wasm-bindgen-test`. If I have `#[wasm_bindgen]` on an `impl ... {...}`, the test failed because of duplicate definition of:
[code]
[Here is the code that cause the problem](https://gitlab.com/limira-rs/simi/blob/wasm-bindgen-test/simi/tests/wasm/counter.rs). (Note that it is on branch `wasm-bindgen-test`, not on master.) If I uncomment li

[2018-08-16 01:29] #444 closed

[2018-08-16 20:06] #241 closed

[2018-08-17 08:26] limira opened #718 "Reorganize web-sys items into modules?"
Should items in `web-sys` crate be reorganized into modules like this:
[code]
Most of them can be classified automatically, for example, in `HTMLDivElement.webidl`:
[code]
then, `HTMLDivElement` will be grouped into Rust's module `html_elements`?

[2018-08-17 11:35] storyfeet opened #719 "Cannot compile proc-macro2 v1.4.13"
When I try to compile a bindgen project
I get the following errors.

[code]
I have tried this with bindgen at various versions of bindgen in my project and none of them work.

Is this a because of a nghtly change?

Is there something I need to do differently ,or do you need to point to a different version of proc_macro?

Thanks

[2018-08-17 14:32] limira commented on #719
I encountered this too. Update to the latest Rust nightly and use wasm-bindgen 0.2.17 solve the problem!

[2018-08-17 14:38] dtolnay commented on #719
The proc-macro2 crate does not support old nightly compilers.

[2018-08-17 15:12] twilco commented on #275
Hey @quelledanielle - how goes `String`?  I found a use for `String.localeCompare` in a personal project, so looking forward to a release with that one included.

[2018-08-17 15:12] derekdreery commented on #659
Out of curiosity, why is using a `static` sketchy?

[2018-08-17 15:27] derekdreery commented on #718
I think that the idea is that web_sys is like `libc`, in that it just exposes everything with minimal overhead. That means that abstractions can be tested as crates. If this crate chose a particular abstraction it would become the de-facto standard and would stifle any innovation.

I'm not a decision maker though so I may be wrong.

[2018-08-17 22:04] quelledanielle commented on #275
@twilco I'm planning on working through them tomorrow so I'll do that one first :)

[2018-08-18 06:42] csharad opened #722 "wasm-bindgen-futures v0.2.17 not published"
Crate `wasm-bindgen-test v0.2.17` depends on the `wasm-bindgen-futures v0.2.17` which is not yet published.

[2018-08-18 19:33] liamcurry opened #725 "How to extend a JS class?"
Hi there! This is probably a noob question so please feel free to close this issue.

I'm experimenting with creating React components in Rust and I'm trying to wrap my head around how this might work.

React recommends creating components with ES6 classes like so:

[code]

It's also possible to create React components with plain JS objects using the `create-react-class` package (although creating

[2018-08-19 00:28] thomaseizinger commented on #275
Are you using a Node version > 10? I can recommend using `nvm` which is
short for node version manager. Allows you to easily install and switch
between node versions!

On Sun, 19 Aug 2018, 02:23 Danielle Pham, <notifications@github.com> wrote:

[2018-08-19 00:54] quelledanielle commented on #275
@thomaseizinger I am using nvm, but assumed I qualified as "most users" 😂 Thanks anyway!

[2018-08-19 10:32] tschneidereit commented on #704
I agree that it's good to also provide a way to manually free memory. The idea isn't to use finalizers as some kind of RAII mechanism; if you know when to call `free`, then you should definitely do that.

However, there are a lot of situations where you simply cannot know when you should free a resource. E.g. if you have data associated with a DOM node whose lifetime you don't control—when do you