[2019-02-19 21:41] Pauan commented on #1269
Incidentally, your original closure...

[code]

...would get compiled into something like this:

[code]

Since you used the `move` keyword it moved `err_sender` and `task` into the closure struct.

And since `Sender::send` consumes `self`, that means the closure implements `FnOnce` (not `FnMut`).

You'll note that the `FnOnce` trait has a `call_once` method which accepts `self` (not `&mut self`!).

[2019-02-19 21:52] dakom commented on #1269
heading to bed, but I did read it over (to hopefully iterate on in my sleep!) and it _does_ make sense.. much more so than when I last read up on this on the user's forum... so that's progress :D

one thing I think I understand but not 100% sure is this part:

Is the idea that once something consumes itself, it means the parent must also be consuming itself too, since it can't have a non-existent

[2019-02-19 22:03] Pauan commented on #1269
Yes, the value must always exist. Rust does not have undefined values (except for `unsafe` code, of course).

The reason `.take()` works is that it's replacing the value with `None`. So it still has a value, it's just a useless value.

That's very different from having *no* value, which would be undefined behavior.

Yes, but it's actually the other way around:

1. The Rust compiler looks at the cl

[2019-02-20 09:20] AlbanMinassian commented on #1268
Thank you for the answer.

[2019-02-20 09:20] #1268 closed

[2019-02-20 15:58] alexcrichton commented on #908
Ok I think we fixed the original issue that cropped up here and we should have a path forward to fixing any other incompatibilities in the future, so for now I think this is probably just an unfortunate fact of life!

[2019-02-20 15:58] #908 closed

[2019-02-20 15:59] alexcrichton commented on #1049
I'm gonna close this for now as I don't think this is a problem for wasm as-is today, but if it comes up we can definitely add a fix!

[2019-02-20 15:59] #1049 closed

[2019-02-20 16:00] alexcrichton commented on #1062
I'm gonna close this as this matches the WebIDL we have, so I don't think we're going to be changing this. I do think, however, that an improvement in the ecosystem to create more ergonomic wrappers around the web-sys primitives would be a great thing to have!

[2019-02-20 16:00] #1062 closed

[2019-02-20 16:02] alexcrichton commented on #1209
To follow up with this, @xtuc did this end up getting fixed in webpack?

[2019-02-20 16:30] xtuc commented on #1209
@liamcurry it works with `webpack@4.29.5`.

[2019-02-20 16:42] alexcrichton commented on #1209
Thanks @xtuc!

[2019-02-20 16:42] #1209 closed

[2019-02-20 16:42] xtuc commented on #1267
Indeed, Webpack's transformation breaks the Wasm module.

[2019-02-20 17:27] alexcrichton commented on #1249
I've posted a rename for our own `Context` in https://github.com/rustwasm/wasm-bindgen/pull/1280

[2019-02-20 17:42] dbrgn commented on #1249
Thank you!

Feel free to close this issue, unless it should stay open to discuss further namespacing / name mangling.

[2019-02-20 17:53] alexcrichton commented on #1249
Ok I think in that case I'll go ahead and close

[2019-02-20 17:53] #1249 closed

[2019-02-21 10:04] bwasty opened #1283 "Guide: nightly requirement outdated?"
The [Basic Usage](https://rustwasm.github.io/wasm-bindgen/whirlwind-tour/basic-usage.html#basic-usage) chapter of the guide says nightly Rust is required, but so far I've been using it on stable, following the [rustwasm book](https://rustwasm.github.io/book/). Does anything still require nightly?

[2019-02-21 15:35] lrlna opened #1284 "Add `#[wasm_bindgen(ignore)]` to ignore a `pub` field and not generate getters/setters for it"
Hello!

I am attempting to use a HashMap inside a wrapper struct, but running into a conversion error.
Code to reproduce:
[code]
Running `wasm-pack build` causes this error:

[code]

I know  [the guide on Arbitrary Data Structures](https://rustwasm.github.io/wasm-bindgen/reference/arbitrary-data-with-serde.html) mentions to remove the `#[wasm_bindgen]` macro around the struct, but doing that also

[2019-02-21 15:42] alexcrichton commented on #1283
Ah yes this is indeed outdated! Would you be interested in sending a PR to fix this?

[2019-02-21 21:51] bakkot opened #1286 "js-sys crate fails to mark many throwy methods with `catch`"
The js-sys crate has a [comment](https://github.com/rustwasm/wasm-bindgen/blob/74a39ce6185f03bbe1dabc5bf8c752377caf28b2/crates/js-sys/src/lib.rs#L39-L40) which reads

[code]

And this is indeed used in some places throughout. But there are a great many methods which can throw and which are not marked with `catch`. For example, `isFinite(Symbol())` throws in JS, but [the implementation of `isFinite

[2019-02-21 21:57] fitzgen commented on #1284
Hey @lrlna -- thanks for filing an issue.

Right now, whenever there is a `pub` field on a `#[wasm_bindgen]` struct, we generate a corresponding getter and setter for the ES6 class. In your example, this results in type errors because `HashMap`s can't be sent between wasm and js (unless you serialize/deserialize like you are doing elsewhere in the example).

We could add a `#[wasm_bindgen(ignore)]

[2019-02-21 22:05] fitzgen commented on #1286
In general, we don't mark things with `catch` that would only throw due to type errors that we can prevent at compile time, and we don't bother with "someone messed with the prototype chain" either.

It seems, though, that `isFinite` should be annotated with `catch` indeed!

It would be helpful for us though!

--------------------

Adding `catch` post-facto would be a breaking change. Alternativel

[2019-02-21 22:06] fitzgen commented on #1286
Oh, and thanks for filing an issue @bakkot!

[2019-02-21 22:22] bakkot commented on #1286
Can you also comment on whether you'd worry about these?

- `new Uint8Array(-1)`
- `Object.getPrototypeOf(null)`
- `Array.from({ get length(){ throw 0; } })`
- `[{ toString(){ throw 0; } }].toString()`
- `Object.defineProperty([0], '0', { get: () => { throw 0; } }).forEach(() => {})`

These are typical examples of the more common categories of possibly-throwing functions, I think.

[2019-02-21 23:00] dbrgn commented on #1271
I'll try to explain my use case:

I work on a "compose area" project, a content editable div that allows to type text, to insert emoji, to autocomplete usernames, and things like that. https://github.com/threema-ch/compose-area

It has its own internal state datastructure: https://github.com/threema-ch/compose-area/blob/40f6ddbc4f7a026f1ef81fd6c3a4150628cc877c/src/state.rs#L5-L17 Every input event

[2019-02-21 23:56] chinedufn commented on #1271
Cool! Thanks for explaining!

Right now `wasm-bindgen-test` takes your test compiles it to Wasm and then runs it in a browser or Node.js and print the relevant info back to your terminal.

So the only way to then access a webdriver from that test would be to have `wasm-bindgen-test` run a server and effectively give your test something that could talk to that server in order to make that server th

[2019-02-22 01:09] dbrgn commented on #1271
That's already supported by WebDriver / Selenium. And WebDriver is a [W3C recommendation](https://www.w3.org/TR/webdriver1/) supported across multiple browsers while rust-headless-chrome / puppeteer currently only works with Chrome. (I'm sure Puppeteer has a lot of exciting use cases, but cross-browser testing isn't one that's currently one of them.)

Your idea with the setup and test sounds inter

[2019-02-22 01:37] chinedufn commented on #1271
Makes sense!!

[2019-02-22 04:08] liamcurry opened #1287 "Should web_sys::Headers allow opaque bytes?"
I'm writing some code to convert an [`http::Request`](https://docs.rs/http/0.1.16/http/request/struct.Request.html) to a [`web_sys::Request`](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.Request.html), and I noticed in the `http` crate there is a struct [`HeaderValue`](https://docs.rs/http/0.1.16/http/header/struct.HeaderValue.html) with this note:

The functions for [`web_sys::Heade

[2019-02-22 05:59] LegNeato commented on #1272
I'm seeing the same thing on High Sierra:

[code]

[2019-02-22 18:03] fitzgen commented on #1286
Our `Uint8Array::new` that takes `JsValue` should be `catch`. The `new_with_length` should not since it takes an unsigned integer.

Yes, we should have `catch` on this.

Should be `catch`

Should be `catch` since it is expected that `toString` is customized and who knows if it is buggy and can throw

I think this one falls into the "messing with ~~prototypes~~ common properties" category. Not some

[2019-02-22 18:25] fitzgen commented on #1287
The [Web IDL for `Headers#set`](https://fetch.spec.whatwg.org/#headers-class) takes a `ByteString` which is ["the set of all possible sequences of bytes"](https://heycam.github.io/webidl/#idl-ByteString), so yes it seems we should allow passing arbitrary slices here.

However, we translate `ByteString` to `&str` in our Web IDL frontend. I can't remember if there is a particular reason for that, or

[2019-02-22 18:39] bakkot commented on #1286
Thanks! One more example: detached array buffers. Consider:

[code]

Should [ArrayBuffer's `slice`](https://github.com/rustwasm/wasm-bindgen/blob/74a39ce6185f03bbe1dabc5bf8c752377caf28b2/crates/js-sys/src/lib.rs#L433-L434) be marked with `catch`?

[2019-02-22 18:44] fitzgen commented on #1286
Probably, yeah.

[2019-02-22 19:18] ApoorvaJ opened #1289 "Line numbers absent in panic stack traces"
I am unsure whether this is a bug, a limitation, or me making a mistake somewhere.

**Summary**

If code panics, I do not get line numbers in the stack trace. I am using the `console_error_panic_hook` crate.

**Observed output**

<details><summary>On Firefox 65, I get the following output:</summary>

[code]

</details>

<details><summary>On Chrome 72, I get the following output:</summary>

[code]

[2019-02-23 04:41] bakkot commented on #1286
OK, here's the omissions I noticed at a first glance. I may have missed some.

In each case I've listed one or more examples which cause the relevant API to throw.

---

[`is_finite`](https://github.com/rustwasm/wasm-bindgen/blob/5788e7d2c4e8bb125ebaff9191726a188f2114d0/crates/js-sys/src/lib.rs#L95)

[code]
----
[`Array.from`](https://github.com/rustwasm/wasm-bindgen/blob/5788e7d2c4e8bb125ebaff919

[2019-02-23 04:49] bakkot opened #1290 "Minor js-sys inconsistencies"
In [reading over](https://github.com/rustwasm/wasm-bindgen/issues/1286#issuecomment-466616218) the [source for js-sys](https://github.com/rustwasm/wasm-bindgen/blob/5788e7d2c4e8bb125ebaff9191726a188f2114d0/crates/js-sys/src/lib.rs), I noticed a few small inconsistencies.

- The `reduce` and `reduceRight` methods on Array name their reducer argument "predicate", which is weird; it's a reducer, not

[2019-02-24 06:14] sendilkumarn commented on #1267
@bwasty This will work if you remove the `start`. We are working on a fix now at https://github.com/xtuc/webassemblyjs/pull/493

[2019-02-24 16:23] chinedufn opened #1292 "Converting a File or Blob into a byte slice &[u8]"
I'm tryin to implement drag and drop and I'd like to go get the byte slice for the file that is uploaded.

I can easily get a [File](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.File.html) or [Blob](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.Blob.html), but I'm unsure about how to convert them into a byte slice.

Is there a way to do that right now?

Thanks!!

[2019-02-24 16:28] chinedufn commented on #1292
Hmm this is a classic case of jumping to wasm-bindgen instead of doing some thinking...

Did a quick google and it turns out that you can convert a blob into a typed array using a `FileReader`.

I'll give that a stab https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.FileReaderSync.html

[2019-02-24 16:28] #1292 closed

[2019-02-24 16:57] chinedufn commented on #1292
Just in case anyone else comes here.. it ended up looking like this:

[code]

[2019-02-25 01:17] tyleranton opened #1293 "Typo in guide under JS Objects in Rust"
There is a typo in one of the sections under "Contributing to wasm-bindgen".

Under "JS Object in Rust"

should be

[2019-02-25 01:30] tyleranton commented on #1276
I'd like to take on this issue as my first code contribution! I just need some guidance on where to go and what to look at.

[2019-02-25 14:49] roccomuso commented on #905
I'm having this issue too (https://github.com/rustwasm/create-wasm-app/issues/67).

@alexcrichton electron inherits this limit from chrome itself and there's no will to get rid of this limit.

[2019-02-25 15:04] lrlna commented on #1284
Ohhhhh that's really interesting, but totally makes sense. I guess I was trying to avoid running into trouble with `HashMap`s by just serializing at the very end when I output, but should be thinking about the struct as well.

Having it not be a `pub` field is really not that much of a hassle in fact and that totally compiles. But, I _do_ really like the idea of having a `#[wasm_bindgen(ignore)]`,

[2019-02-25 15:12] alexcrichton commented on #1276
@tyleranton awesome!

You'll be most interested in `crates/cli-support`. It's not the cleanest but if you poke around there you'll find `js/mod.rs` where `typescript` is a variable that's built-up over time which is the TypeScript that we generate.

One example for exports is [around here](https://github.com/rustwasm/wasm-bindgen/blob/f3f709b1eed09221160cae219e83f52843b3ffc9/crates/cli-support/src

[2019-02-25 15:18] alexcrichton commented on #1289
Thanks for the report! Unfortunately this is something we can't currently work around with WebAssembly. There's bits and pieces of source map support for WebAssembly files but we don't think it's quite there yet to support debugging like this.

This is definitely on our roadmap for pushing browsers to support though, and we're ensuring that there's support in `wasm-bindgen` for threading this info

[2019-02-25 15:18] alexcrichton commented on #1289
I'm gonna go ahead and close this in the meantime because there's not much we can do to fix it at this time, but once it's possible to do this in browsers we'll be sure to jump on it as quick as we can!

[2019-02-25 15:18] #1289 closed

[2019-02-25 15:32] alexcrichton commented on #1287
This was configured in https://github.com/rustwasm/wasm-bindgen/pull/511 and was intended to match the documentation at https://developer.mozilla.org/en-US/docs/Web/API/ByteString. This may be a WebIDL/JS mismatch?

One thing we could do, if JS supports it, is also generate methods taking `Uint8Array` if a `ByteString` is accepted

[2019-02-25 19:58] #1293 closed

[2019-02-25 21:59] fitzgen commented on #1286
Thanks for putting this list together @bakkot!

[2019-02-26 02:34] pfernandom commented on #1270
I would like to take this as my first contribution. Where is a good place to start looking at this?

[2019-02-26 12:46] dbrgn opened #1297 "Prevent "unused" warning with wasm_bindgen_test"
Here's the test setup:

[code]

[code]

This builds without warnings and runs the test successfully.

[code]

However, as soon as I move the `setup_test` helper function to a separate module, I get warnings:

[code]

[code]

This is the warning when testing:

[code]

I can also stick a `#![cfg(target_arch = "wasm32")]` annotation into the `helpers.rs` module, that doesn't help either.

Is this som

[2019-02-26 15:26] alexcrichton commented on #1270
@pfernandom awesome! All the invocations which go from JS to Rust are located in a [`js2rust.rs`](https://github.com/rustwasm/wasm-bindgen/blob/master/crates/cli-support/src/js/js2rust.rs) file. That file has a number of "guard rails" already [like so](https://github.com/rustwasm/wasm-bindgen/blob/6cabb07358bd4f4d345a8fc8ff71837d545e8e46/crates/cli-support/src/js/js2rust.rs#L259-L268) which are ga

[2019-02-26 15:39] alexcrichton commented on #1272
@LegNeato just to confirm, it looks like `chromedriver.exe` above is being used to drive Firefox, but do you have something similar where `safaridriver` is driving something else perhaps? Could you provide the full logs you see?

[2019-02-26 16:16] LegNeato commented on #1272
I'm not sure...a window flashes briefly but I can't see what app it is. I've never installed chromedriver or geckodriver, though I do have Firefox Nightly installed.

There is some interesting debug output:

[code]

So the webdriver server does return json with `sessionId` but for some reason the test harness doesn't see it.

[2019-02-26 16:39] LegNeato commented on #1272
Ok, not sure if these are the same issue anymore but I found the problem and have a fix. Will put up a PR for my bug and maybe it will fix this as well if it is the same underlying issue.

[2019-02-26 18:29] #1172 closed

[2019-02-26 22:13] tyleranton commented on #1276
I've been looking over the code trying to piece things together. I'm still not sure how everything works, but would it be enough to take the formatted comments and just push them to the `typescript` variable on `Context`?

[2019-02-27 04:19] pfernandom commented on #1270
I'm more than happy to take this bug, but If you think that this is too complicated and might require too much hand-holding, I can find another issue to work on.

Maybe I can time box it and see if I can do some significant advance, and if I do, I can take it.

[2019-02-27 06:09] Itanq commented on #929
Hi @alexcrichton I have the same Issue, and I already run following command:
` rustup target add wasm32-unknown-unknown --toolchain nightly`
and the command's result as following:
`info: component 'rust-std' for target 'wasm32-unknown-unknown' is up to date`
but still occurrus the issue：
`error[E0463]: can't find crate for `core`
  |
  = note: the `wasm32-unknown-unknown` target may not be install

[2019-02-27 15:20] alexcrichton commented on #929
@Itanq oh it looks like you added the wasm target to the nightly toolchain, so you'll need to make sure any build commands are prefixed with `rustup run nightly ...`

[2019-02-27 16:01] alexcrichton commented on #1270
Ok sure! In any case I'll try to write some more details about how this would be handled.

Currently one aspect of wasm-bindgen is that it communicates the actual types of all arguments of exports/imports to the CLI tool. It does this via a pretty roundabound method, but the general idea is that:

* In the crate itself (code generated by the macro) a type implement the `WasmDescribe` trait. This t

[2019-02-27 16:07] alexcrichton commented on #1276
I think so yeah, I suspect the doc comment syntax is pretty similar across JS/TypeScript, so as long as it's all pushed in the right location it should be good to go!

If it looks wonky though we can debug further from there :)

[2019-02-27 16:30] alexcrichton commented on #1297
Thanks for the report! This is actually a facet of Cargo, where the file `tests/helpers.rs` is itself inferred to be a test. When Cargo compiles `tests/helper.rs` itself as a test then the function is unused, but when it compiles `tests/web.rs` the function is correctly flagged as used.

You should be able to fix this by structuring either like this:

[code]

... or ...

[code]

[2019-02-27 16:30] #1297 closed

[2019-02-27 20:12] jjang4001 opened #1301 "web_sys::CanvasRenderingContext2d missing method 'get_image_data'"
# Description
In the web_sys documentation, the [get-image-data](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.CanvasRenderingContext2d.html#method.get_image_data) method should be on the CanvasRenderingContext2d. However, when calling the method on an instance of the context, I get the error:
[code]

I am on web-sys version 0.3.14, js-sys 0.3.14, and wasm-bindgen 0.2.37.

# Steps to

[2019-02-27 20:39] fitzgen commented on #1301
From the `get_image_data` docs:

Are you enabling those features? If not, then that is likely your issue.

If you are enabling those features and are still getting the error, can you share a whole crate that reproduces the error, rather than just the `src/lib.rs`? Thanks!

[2019-02-27 21:16] jjang4001 commented on #1301
Oops sorry about that. Thanks!

[2019-02-27 21:16] #1301 closed

[2019-02-27 22:18] dbrgn commented on #1297
Ah, that explains it, thank you for the explanation and your time!

[2019-02-28 14:33] tomaka opened #1303 "No safe way to create an ArrayBuffer from a &[u8]"
### Motivation

I'm trying to use an existing JS library (from NPM). One of the methods in this library's API expects to get passed an `ArrayBuffer` object. Therefore, I need to be able to generate an `ArrayBuffer` from the Rust code.

It is already possible to do so by doing:
[code]

However that requires using unsafe code.

### Proposed Solution

Add an `ArrayBuffer::from_data(&[u8])` function i

[2019-02-28 15:33] alexcrichton commented on #1267
Looks like this is now fixed, thanks @xtuc and @sendilkumarn!

[2019-02-28 15:33] #1267 closed

[2019-02-28 15:34] #1276 closed

[2019-02-28 16:10] alexcrichton commented on #1303
Thanks for the report! This is somewhat fundamental though because `ArrayBuffer` represents a mutable chunk of memory which can be safely passed to things like [`Int8Array::new`](https://docs.rs/js-sys/0.3.14/js_sys/struct.Int8Array.html#method.new), so if we had a safe constructor it could then be unsafely actually mutated behind the scenes.

If you're interested in just the `ArrayBuffer` that ba

[2019-02-28 16:54] tomaka commented on #1303
My suggestion would be to clone the data, not to hold a reference the `&[u8]`.
In other words, something similar to `Slice::to_vec()` in the standard library.

[2019-02-28 19:45] alexcrichton commented on #1303
Oh sure yeah, that'd definitely be safe, but that can be built with a function that uses `unsafe` internally, right? Is this a feature request to add such a function that uses `unsafe` internally to `wasm-bindgen` itself?

[2019-02-28 20:25] tomaka commented on #1303
Exactly!

[2019-02-28 20:40] tyleranton commented on #1284
So is adding `#[wasm_bindgen(ignore)]` to ignore a `pub` field and not generate getters/setters for it the proposed solution?

I can take on this issue with some guidance!

[2019-02-28 23:16] fitzgen commented on #1284
Correct!

* Here is where you would add the `ignore` attribute: https://github.com/rustwasm/wasm-bindgen/blob/60044547754eb597a9c6776db2a227ea314bc19f/crates/macro-support/src/parser.rs#L22-L53

* You would skip creating a `StructField` if the field has the `ignore` attribute here: https://github.com/rustwasm/wasm-bindgen/blob/60044547754eb597a9c6776db2a227ea314bc19f/crates/macro-support/src/parse

[2019-03-03 15:23] simdax opened #1311 "webAudio mistypo with --target no-modules"
## 🐛 Bug description
When building the webaudio example, the main .js file instantiate a
` new lAudioContext ` instead of a simple ` new AudioContext `

#### 🤔 Expected Behavior
It should call `AudioContext`, not `lAudioContext`

#### 👟 Steps to reproduce
simply copy the [webaudio example of wasm-bindgen package](https://github.com/rustwasm/wasm-bindgen/tree/master/examples/webaudio), build it wit

[2019-03-04 09:56] dbrgn commented on #1252
@alexcrichton any chance of a new release soon?

[2019-03-04 14:56] c410-f3r commented on #1129
If you guys don't mind, I will work on this. Just need a little help to figure out the best approach as everything related to optional parameters seems to be scattered across the repository.

[2019-03-04 16:04] remram44 commented on #1252
+1. I've been using the Git repo as dependency (using [`[patch]`](https://doc.rust-lang.org/cargo/reference/manifest.html#the-patch-section)), but I also have to install the cli from Git, which is awkward (especially for CI).

[2019-03-04 17:12] alexcrichton commented on #1252
[Sure thing](https://github.com/rustwasm/wasm-bindgen/pull/1310)!

[2019-03-04 17:14] dbrgn commented on #1252
Thanks! :heart:

[2019-03-04 21:26] alexcrichton commented on #1129
Sure yeah!

Optional arguments are all handled [roughly around here](https://github.com/rustwasm/wasm-bindgen/blob/0f6e62a09b59465f7b7bbc7fca9a42de05b5723b/crates/cli-support/src/js/js2rust.rs#L230-L356) for TypeScript generation. Currently mostly generate `| undefined` rather than `foo?`, but doing either seems reasonable to me (not sure if there's a difference on the TypeScript side though).

Fo

[2019-03-05 00:35] tyleranton commented on #1284
@fitzgen

It's taking some time to figure out how everything works. I have a couple of questions.

1) Do I just add something like `(ignore, Ignore(Span))` to the macro rules for `attrgen`?

2) I'm guessing I would add something like `match field.attrs {}` after (or before) the `match field.vis {}`? If so, would I check for `BindgenAttrs::Ignore`? Or how is that checked?

I'm having a little troub

[2019-03-05 10:22] ibaryshnikov commented on #1311
After a short debug I found
[code]
https://github.com/rustwasm/wasm-bindgen/blob/master/crates/cli-support/src/js/mod.rs#L2105

what's the purpose of `format!("l{}", name)` ?

[2019-03-05 15:27] alexcrichton commented on #1284
@tyleranton yeah you'll want to add `(ignore, Ignore(span))`, it's a bit of a wonky macro syntax but that'll add a method called `ignore` to `BindgenAttrs` where you can learn whether the `ignore` attribute was specified in `#[wasm_bindgen]`

You'll later read that [just below here](https://github.com/rustwasm/wasm-bindgen/blob/60044547754eb597a9c6776db2a227ea314bc19f/crates/macro-support/src/pars

[2019-03-05 15:58] alexcrichton commented on #1311
Thanks for the report @simdax! This is definitely a bug in `wasm-bindgen` right now due to the internal branch we have on no-modules vs not. That's being refactored in https://github.com/rustwasm/wasm-bindgen/pull/1295 and this issue is actually inadvertently fixed by that PR. I suspect that won't take too long to land, so we can fix this with that!

[2019-03-05 15:58] alexcrichton commented on #1311
Thanks for the report @simdax! This is definitely a bug in `wasm-bindgen` right now due to the internal branch we have on no-modules vs not. That's being refactored in https://github.com/rustwasm/wasm-bindgen/pull/1295 and this issue is actually inadvertently fixed by that PR. I suspect that won't take too long to land, so we can fix this with that!

[2019-03-05 16:09] alexcrichton opened #1313 "Investigate possible performance wins with `TextEncoder#encodeInto`"
There's some discussion [starting here](https://github.com/rustwasm/wasm-bindgen/pull/1279#discussion_r260616542) about how we can probably improve the current logic of using `encodeInto` through some more clever usage and possibly some magic numbers. We should take a look into this! Ideally we'd also take a look at actual performance numbers when doing so.

[2019-03-05 19:10] jesskfullwood opened #1315 "Anchor tag does not contain href property"
The `href` attribute is inherited by the `<a>` tag via `HTMLHyperlinkElementUtils` as per
[here](https://github.com/rustwasm/wasm-bindgen/blob/f161717afefd87d1cfea9ce830d055186169a70f/crates/web-sys/webidls/enabled/HTMLAnchorElement.webidl#L38). However for the life of me I can't find the `href` getter anywhere in the docs, nor any mention of `HTMLHyperlinkElementUtils`. `href` is of course the mo

[2019-03-05 22:19] alexcrichton commented on #1315
Thanks for the report! Looking into this I believe it's a duplicate of https://github.com/rustwasm/wasm-bindgen/issues/893, and `HTMLHyperlinkElementUtils` is indeed on that list.

We may be able to fix this issue specifically though by manually removing the attribute perhaps and/or switching it to a `partial interface`? The best fix though is to probably just fix the codegen for webidl to not ful

[2019-03-05 23:18] #1311 closed

[2019-03-05 23:18] alexcrichton commented on #224
Implemented in https://github.com/rustwasm/wasm-bindgen/pull/1295!

[2019-03-05 23:18] #224 closed

[2019-03-05 23:20] #922 closed

[2019-03-06 13:56] ibaryshnikov opened #1317 "Should .slice called on TypedArray return the same type as the original?"
### Summary

In JS for example `.slice` called on Int32Array will return Int32Array.
In wasm-bindgen there is
[code]
Should it return Int32Array instead?

[2019-03-06 14:11] Vlad-Shcherbina opened #1318 "Online example is broken"
The documentation page https://rustwasm.github.io/wasm-bindgen/examples/hello-world.html has a link ["view the compiled example online"](https://rustwasm.github.io/wasm-bindgen/exbuild/hello_world/).

This example does not work.

### To reproduce
1. Open https://rustwasm.github.io/wasm-bindgen/exbuild/hello_world/ in your browser.

### Expected behavior
Hello world alert or whatever.

### Actual b

[2019-03-06 15:27] Vlad-Shcherbina opened #1319 "Broken link in without-a-bundler-no-modules/README.md"
This link is broken, 404:

https://github.com/rustwasm/wasm-bindgen/blob/9f6c2a612503f99c76c3c2c0446710866f102e9f/examples/without-a-bundler-no-modules/README.md#L5

[2019-03-06 15:56] alexcrichton commented on #1318
Thanks for the report! This was caused by https://github.com/rustwasm/wasm-bindgen/pull/1295 due to its repurposing and breaking of the `--browser` flag unfortunately, although this breakage was unexpected. I'll see if I can take a look at a fix.

[2019-03-06 15:57] alexcrichton commented on #1317
Thanks for the report! I think that this may actually just be a typo, want to send a PR to correct it?

[2019-03-06 15:58] ibaryshnikov commented on #1317
Yes, I'd like to fix it

[2019-03-06 16:01] #1319 closed

[2019-03-06 16:01] alexcrichton commented on #1319
Oops, indeed!

[2019-03-06 16:08] c410-f3r opened #1320 "Span doesn't implement PartialEq and Eq"
`Span` doesn't implement `PartialEq` and `Eq`, making the `extra-traits` feature broken.
Should `PartialEq` and `Eq` be removed or is it better to wait for an implementation?

Related: [#154](https://github.com/alexcrichton/proc-macro2/issues/154)

https://github.com/rustwasm/wasm-bindgen/blob/9f6c2a612503f99c76c3c2c0446710866f102e9f/crates/backend/src/ast.rs#L200-L210

[2019-03-06 19:49] ibaryshnikov opened #1322 "Simplify WebGL example"
### Motivation

There is a function signature
[code]
It's hard to teach, because it requires additional explanations about iterators and lifetimes.
There is also `String::from("")` and `"".into()`, which produces the question "why are they different?".

### Proposed Solution

Use distinct arguments instead of the iterator
[code]

### Alternatives

Keep it as is

### Additional Context

I'd like to

[2019-03-06 21:22] #1317 closed

[2019-03-06 21:23] alexcrichton commented on #1322
Sounds great to me! If you'd like to send a PR I'm sure we can find someone happy to review :)

[2019-03-06 21:24] alexcrichton commented on #1320
Oh dear this does seem bad! We probably want to remove this feature for now in that case? (removing `PartialEq` and `Eq` also seems fine to me)

[2019-03-06 22:46] jlb6740 commented on #1262
Just ran into this ... @IcanDivideBy0 what  did you update to correct this? @alexcrichton looks like the fix her is merged right? I am using 0.2.38 version wasm-bindgen but the issue is still there:

   Compiling proc-macro2 v0.4.27
   Compiling unicode-xid v0.1.0
   Compiling wasm-bindgen-shared v0.2.38
   Compiling cfg-if v0.1.7
   Compiling lazy_static v1.3.0
   Compiling wasm-bindgen v0.2.38

[2019-03-07 00:29] Vlad-Shcherbina opened #1324 "wasm-bindgen fails if pkg/ directory (--out-dir) does not exist"
### To reproduce:
1. Check out the recent version:
[code]
2. Run without-a-bundler example:
[code]

These commands are from [build.sh](https://github.com/rustwasm/wasm-bindgen/blob/master/examples/without-a-bundler/build.sh), except I was running them on Windows.

### Expected

Stuff to compile, `pkg` directory with stuff to appear.

### Actual result

The last command (`cargo run ... wasm-bindgen

[2019-03-07 00:40] ibaryshnikov commented on #1322
Should I also update it to a new behavior (like in `without-a-bundler` example)? At the moment `npm run serve` builds the page, but the code fails to run when I navigate to the browser.

[2019-03-07 10:46] surma opened #1326 "`--browser` doesn’t work for browsers"
### Motivation

The JavaScript generated when using `--browser` is actually not usable in a browser directly, but has to be processed by a bundler. They problem lies in this import in the JavaScript:

[code]

Firstly, the imported file is missing the `.wasm` file extension, which is _required_ for import statements in the browser. Secondly, importing Wasm modules via ES6 `import` statements is not

[2019-03-07 11:41] IcanDivideBy0 commented on #1262
@jlb6740 Simply updated wasm-bindgen to 0.2.37
did you compiled with the `--release` flag ?
also running the binaryen's utility `wasm-opt` can help a lot

[2019-03-07 15:07] alexcrichton commented on #1262
@jlb6740 in addition to @IcanDivideBy0's suggestions, can you gist an example to reproduce what you're seeing? That might help us debug!

[2019-03-07 15:08] alexcrichton commented on #1322
Hm these are unfortunately likely broken on master due to https://github.com/rustwasm/wasm-bindgen/issues/1318, which I hope to fix today

[2019-03-07 15:28] limira commented on #1326
What version (of wasm-bindgen) do you use? If you use v0.2.38, please note that the git master version has [a merge](https://github.com/rustwasm/wasm-bindgen/commit/b762948456617ee263de8e43b3636bd3a4d1da75) that breaks the `--browser` flag. Hence, you may want to try the master instead of v0.2.38.

[2019-03-07 15:58] Vlad-Shcherbina opened #1327 "Function argument names are lost in .d.ts files"
### To reproduce:
1. Check out the recent version:
[code]
3. Run without-a-bundler example:
[code]
These commands are from [build.sh](https://github.com/rustwasm/wasm-bindgen/blob/master/examples/without-a-bundler/build.sh), except I was running them on Windows.

4. Examine `pkg/*.d.ts` files.

### Expected

These files to contain meaningful function signatures like `function add(a: number, b: num

[2019-03-07 16:14] alexcrichton commented on #1318
Ok should be fixed in https://github.com/rustwasm/wasm-bindgen/pull/1328!

[2019-03-07 16:15] alexcrichton commented on #1324
Thanks for the report! While somewhat intended behavior today I don't think there's any reason we can't just go ahead and create the directory if it doesn't already exist. @Vlad-Shcherbina would you be interested in sending a PR to do this? In theory it's not too hard!

[2019-03-07 16:25] alexcrichton commented on #1326
Thanks for the report @surma!

I think the root problem here is that the `--browser` flag is sort of terribly named. It, in reality, is a tiny flag which simply says "when generating bundler-compatible output optimize away a few checks for node.js". To add on top of this the `--no-modules` flag is a pretty bad name as well, which I think is roughly what you want in terms of "natively runnable in a

[2019-03-07 16:27] alexcrichton commented on #1327
Thanks for the report! I think this is a duplicate of https://github.com/rustwasm/wasm-bindgen/issues/1129 so I'm going to close this in favor of that

[2019-03-07 16:27] #1327 closed

[2019-03-07 17:00] surma commented on #1326
Yup, I’m decently happy with `--web` :D Thanks for the detailed insight.

[2019-03-07 17:00] #1326 closed

[2019-03-07 18:08] #1324 closed

[2019-03-07 21:20] jlb6740 commented on #1262
Hi .. Yes thanks @IcanDivideBy0 for the suggestion. I use the release flag and the file size is much smaller than the debug, but still larger than expected (180K instead of 989K). I have an example function where wasm-opt seemed to strip out code that I didn't consider dead .. I need to look at the options for this command more carefully but I agree this is a good suggestion. For now I have been d

[2019-03-07 21:25] alexcrichton commented on #1262
@jlb6740 you may want to be sure to consult https://rustwasm.github.io/docs/book/reference/code-size.html when shrinking wasm, but if I check out that gist and run `wasm-pack` build it produces a 862 byte binary which I think is probably what you're looking for?

WebAssembly is a fundamentally low-level format that requires a lot of tools to work in concert right now so if you're just using `rustc

[2019-03-07 21:25] #1318 closed

[2019-03-07 21:39] IcanDivideBy0 commented on #1262
As @alexcrichton pointed it out, after running the wasm-bindgen cli, you .wasm file shrink down to 862 bytes!

[2019-03-07 21:53] jlb6740 commented on #1262
Hi ... 862 Bytes is a lot smaller than what I see with bindgen (180K). I don't know then what is different with my environment ... seems pretty straight forward but I would like to know. I am compiling with `cargo build --release`.

What you get from bindgen though is still discouraging. Nnot to get side tracked, but I am getting much smaller sizes ... 170 bytes by using wasm2wat:

`cd wasm_binari

[2019-03-07 22:00] IcanDivideBy0 commented on #1262
[code]

[2019-03-07 22:03] IcanDivideBy0 commented on #1262
and here is the text format i get
[code]

[2019-03-07 22:28] IcanDivideBy0 commented on #1262
Using `--remove-producers-section` flag, i went down to 104 bytes.
So I guess that's where the difference with the WAT size comes from.

[code]

[2019-03-07 22:29] jlb6740 commented on #1262
@IcanDivideBy0 Ok, cool. That actually looks like it should be fewer bytes smaller in binary than the file I am producing. I am not using wasm-opt though for the reason I mentioned. What is the size before wasm_opt .. just using bindgen? If I use wasm opt I can get the binary down further to 142 bytes instead of 170 bytes and my wat printout is also a little smaller. I definitely will try to use t

[2019-03-07 22:31] jlb6740 commented on #1262
@IcanDivideBy0 lol .. cool. We had the same question. I will give this a try as soon as I can get past my first size problem and get down to 228bytes
.

[2019-03-07 23:42] LegNeato commented on #1284
Should this be named `skip` to align naming with serde? https://serde.rs/field-attrs.html#serdeskip

[2019-03-08 07:43] hsivonen commented on #1313
I put a slightly polished restatement of my [previous comment](https://github.com/rustwasm/wasm-bindgen/pull/1279#discussion_r260616542) [onto MDN](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder/encodeInto#Buffer_Sizing).

It would be nice to copy and paste the code resulting from fixing this issue into the "Examples" section of the MDN article.

[2019-03-08 14:18] alexcrichton opened #1332 "What to do about the `--browser` flag?"
With [RFC 6] now merged and implemented, along with a tweak or two, we now have the following output modes:

* *no flags specified* - generate "bundler compatible" as well as future-compatible output where wasm files are assumed to be an ES module and everything is an ES module
* `--nodejs` - generate CommonJS imports as well as assuming a synchronous instantiation is ok. Also assumes node.js for

[2019-03-08 15:35] alexcrichton commented on #1313
Oh thanks for the link @hsivonen!

[2019-03-08 17:34] fitzgen commented on #1332
Can we deprecate the flag and rename it to more accurately reflect its function? `--assume-web-apis-instead-of-feature-detection` or somethign slightly less verbose? :-p

[2019-03-09 00:04] Pauan commented on #1332
Yeah, replacing it with something like `--modern` (or similar) sounds good to me.

If it were a separate flag, then it would be useful with any of the modes, e.g. assuming modern Node versions, assuming modern browser versions, etc.

[2019-03-09 05:10] alanpoon opened #1334 "Why htmlelement only has style getter but not setter?"
### Summary

Why there is only style getter and not style setter in HtmlElement?

[2019-03-09 07:01] limira commented on #1334
In [HtmlElement.style](https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.HtmlElement.html#method.style) documentation, just follow the [MDN Documentation](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/style) link. Does the linked documentation answer your question?

[2019-03-09 12:53] chinedufn commented on #1334
Use the style getter to get the CssStyleDeclaration then use this https://docs.rs/web-sys/0.3.15/web_sys/struct.CssStyleDeclaration.html#method.set_property

[2019-03-09 21:00] pyrrho opened #1335 "Inconsistent AudioBuffer / TypedArray return value interface"
### Summary

The AudioBuffer interface generated by web-sys is at odds with the native JS interface. In brief, in native JS `audio_buffer.getChannelData()` returns a `Float32Array` that points back to -- and allows modification of -- data living in the `audio_buffer` variable. In web-sys `audio_buffer.get_channel_data().unwrap()` returns a `Vec<f32>` that is a _copy of_ data living in the `audio_b

[2019-03-10 04:37] alanpoon commented on #1334
thanks, I will try

[2019-03-10 04:37] #1334 closed

[2019-03-11 04:13] chris-morgan opened #1337 "Thirty SVG elements’ names have the wrong case"
The following SVG element types should have their fourth letter capitalised:

- SvgaElement
- SvgfeBlendElement
- SvgfeColorMatrixElement
- SvgfeComponentTransferElement
- SvgfeCompositeElement
- SvgfeConvolveMatrixElement
- SvgfeDiffuseLightingElement
- SvgfeDisplacementMapElement
- SvgfeDistantLightElement
- SvgfeDropShadowElement
- SvgfeFloodElement
- SvgfeFuncAElement
- SvgfeFuncBElement
- Svg

[2019-03-11 17:46] #1322 closed

[2019-03-11 19:19] alexcrichton commented on #1335
Thanks for the report, and especially the thorough question!

This is all I think a result of the fact of how we generate the web-sys crate. The entire crate is procedurally generated from the Firefox webidl, and unfortunately the webidl doesn't have a lot of annotations that Rust might otherwise use for things like ownership and lifetimes.

For that reason whenever and API returns a `Uint8Array`,

[2019-03-11 19:30] alexcrichton commented on #1332
@fitzgen yeah I think that's definitely an option, and may end up what we get at.

@Pauan oh currently it's not so much about `--modern` but for example on Node the `TextEncoder` API is loaded from `require('utils')` whereas it's just ambiently available on the web. Now we *also* have a flag that controls detection of `TextEncoder#encodeInto` which would fit well with the idea of a `--modern` flag

[2019-03-12 01:07] LuoZijun commented on #1332
@alexcrichton Node v11.10.0 have `TextEncoder` :)

[2019-03-12 14:20] alexcrichton commented on #1332
Oh nice! I think that literally the only use case that `--browser` modifies then is how `TextEncoder` is lowered.

So actually I think I agree with @Pauan in light of that. @Pauan to make sure I understand right though, I think we could:

* Add a new `--modern` flag indicating "assume the latest and greatest JS standards". Things like `TextEncoder#encodeInto` and the location of `TextEncoder` woul

[2019-03-12 14:26] Pauan commented on #1332
@alexcrichton That sounds reasonable to me. I'm not sure about the value of `never`, but I'm not against it.

[2019-03-13 14:14] alanpoon opened #1340 "wasm validation error when using webpack"
### Summary
My qns is about web pack and wasm.
Here is my website, https://conrod.azurewebsites.net/ CompileError: "wasm validation error: at offset 47192696: expected code section" Does anybody have a clue how to solve this?

My github repo: https://github.com/alanpoon/conrod

[2019-03-13 14:45] davidbarsky opened #1341 "Support Importing TypeScript Definitions"
### Motivation

Currently, wasm-bindgen supports _exporting_ TypeScript definitions to consuming libraries and applications. It'd be handy to support _importing_ existing TypeScript definitions into Rust.

[2019-03-13 14:48] alexcrichton commented on #1340
Thanks for the report! We've had a few issues recently related to minor bugs in webpack, so can you confirm that webpack and all its js dependencies are fully up to date?

[2019-03-13 14:55] xtuc commented on #1340
According to https://github.com/alanpoon/conrod/commit/3a7de3e41493d60b13236227eaa9f4a4fc286ab9 it's running the latest version, however this error seems like a previous version. To confirm, could you please run `npm ls | grep webpack` or similiar?

[2019-03-13 16:04] alanpoon commented on #1340
Here is the azure status badge [![Build Status](https://dev.azure.com/K1720055F/conrod/_apis/build/status/alanpoon.conrod%20(1)?branchName=master)](https://dev.azure.com/K1720055F/conrod/_build/latest?definitionId=3&branchName=master)
I have updated js dependencies.

I suspect it has got to do with the wasm size. 4mb works on 4.29.4 and 4.29.6. 5.9 mb doesn't work on these two webpack versions.

[2019-03-13 22:12] BigBigos opened #1343 "Cannot import an ES6 module after JS snippets change"
The b762948456617ee263de8e43b3636bd3a4d1da75 commit has overloaded the meaning of `#[wasm_bindgen(module = "...")]`. Previously, it has defined an ES6 module import that the JS shim performed and provided to the wasm module. Now it also allows the contents of a JS file to be embedded as a snippet.

The new behavior is problematic when the copied module has imports on its own - the relative paths l

[2019-03-14 02:44] Pauan commented on #1343
Relative paths within a `.js` file are intended to work correctly, it just hasn't been implemented yet.

@alexcrichton Maybe we should back out the changes until it is feature-complete?

[2019-03-14 05:19] laizy opened #1345 "how to reduce the initial memory size?"
### Summary

we resently tried to use wasm on a blockchain project, and find out that the initial memory allocation of the compiled wasm file is a little large (`17*64Kb`), and the data section starts from 1M . Is there some `rustc` flags to reduce the size or post-processing tool to adjust that value safely?

### Additional Details

wasm file compiled from rustc
[code]
wasm file compiled from a s

[2019-03-14 10:09] chinedufn commented on #1345
Hey!

What does your build script look like?

If you can give a sense of what you’re running I’d be happy to let you know if there’s anything that you can do.

In the meantime should make sure that you’re using the —release flag and using wasm-opt.

https://rustwasm.github.io/docs/book/game-of-life/code-size.html

[2019-03-14 11:30] laizy commented on #1345
@chinedufn It is easy to reproduce
lib.rs
[code]
[code]
output:
[code]
seems the default minimal memory is set to 16*64kb=1M.

[2019-03-14 12:25] chinedufn commented on #1345
Ahhh gotcha so you aren’t using wasm-bindgen it seems?

In that case this issue might belong in the rust repo - but maybe someone else here will see this and know what’s going on. I don’t.

[2019-03-14 13:36] laizy commented on #1345
After some searching, discussions at https://github.com/rustwasm/team/issues/81, https://github.com/rustwasm/team/issues/247 shows the 1MB is used to store stack data. do not known how to set that value.

[2019-03-14 14:09] alexcrichton commented on #1345
The large memory size here is because we default to asking LLD to allocate a 1MB stack for all Rust binaries. If you'd like to reduce that though you can pass `-C link-arg=-zstack-size=16` to rustc, for an appropriate stack size for your application. That should allow you to shrink quite a bit!

[2019-03-14 14:09] #1345 closed

[2019-03-14 14:09] ZacLiveEarth opened #1347 "Relative module paths regression"
When using wasm_bindgen with a module pointing to a relative path, like so...
#[wasm_bindgen(module = "../../../../src/modules/wasm-binds.js")]

The compiler says:
error: relative module paths aren't supported yet

This worked fine in 0.2.28.

[2019-03-14 14:20] alexcrichton commented on #1347
Thanks for the report! I think this is a duplicate of https://github.com/rustwasm/wasm-bindgen/issues/1343 so I'm going to close in favor of that.

[2019-03-14 14:20] #1347 closed

[2019-03-14 14:22] alexcrichton commented on #1343
@BigBigos and @ZacLiveEarth could y'all comment a bit on the uses cases you had which were working before? While it was possible to get `module` working with relative paths I would imagine that it was pretty wonky and fragile to set up, so I'm curious how you managed to plumb it through.

@Pauan I unfortunately don't actually know how to implement relative paths given the current set of stable `pr

[2019-03-14 14:26] ZacLiveEarth commented on #1343
@alexcrichton Sure. The module worked with a relative path the first try, I wasn't aware of any issues or complexities surrounding it. Basically, we had an existing React app that we wanted to add Rust to, and we added the rust modules for it in a subdirectory of the main react app. By necessity then to create bindings to functions in the original React app we needed a relative path to escape from

[2019-03-14 14:29] alexcrichton commented on #1343
@ZacLiveEarth but the relative path isn't actually relative to the Rust code, right? Rather it's relative to the final output wasm file? (just confirming)

Also can you expand a bit on the build process? Are you using a process like webpack to pull in the wasm module into the main app? Additionally is this JS file referenced here included via anything else or is it only referenced by the wasm file

[2019-03-14 14:35] BigBigos commented on #1343
@alexcrichton In my case, I am creating a web app that is based on the wasm module written in Rust. The wasm module (alongside the wasm-bindgen bindings) is output to the `/pkg` directory. I have a separate `/js` directory with some JS code, which I want to reference from the Rust code.

Previously I was using `#[wasm_bindgen(module = "../js/module")]` in order to import a JS module from Rust. Aft

[2019-03-14 14:41] alexcrichton commented on #1343
Ok thanks for the info @BigBigos!

One thing I forgot to mention earlier is that the change here is a product of [RFC 6](https://github.com/rustwasm/rfcs/blob/master/text/006-local-js-dependencies.md) for those interested to read over as well.

FWIW the breakage here is "somewhat intentional" that we wanted to tighten the restrictions on `module` and crack down a bit on cases that "happened to wor

[2019-03-14 14:42] ZacLiveEarth commented on #1343
For completeness, here's the full code.
[code]

It seems that it was relative to the output wasm file (in the pkg directory) by sheer luck. Since we only did this once so far, we never had a chance to figure that out.

Our build process uses webpack. I'm not intimately familiar with the details of that and the guy who set it up is out of office.

[2019-03-14 14:43] alexcrichton commented on #1340
@alanpoon would you be up for helping out reducing this test case to an ideally minimal reproduction that we could hand the webpack folks? (and make it easier on @xtuc to investigate)

[2019-03-14 15:01] BigBigos commented on #1343
I didn't know that, thanks! This will certainly simplify a bit of my code and make the snippet mode work for this use case.

The other limitation of imports between JS snippet modules still remains. I will just keep using my work-around described above until it is implemented. Or do you intend to remove support for `#[wasm_bindgen(module = "...")]` with unanchored paths some time in the future? I

[2019-03-14 15:07] alanpoon commented on #1340
Certainly. I will put up a working and non working wasm files and the snippet of config for webpack in another repo

[2019-03-14 15:18] Pauan opened #1348 "Incorrect handling of unpaired surrogates in JS strings"
### Describe the Bug

It was brought to my attention in https://github.com/Pauan/rust-dominator/issues/10 that JavaScript strings (and DOMString) allow for unpaired surrogates.

When using `TextEncoder`, it will convert those unpaired surrogates into U+FFFD (the replacement character). According to the Unicode spec, this is correct behavior.

The issue is that because the unpaired surrogates are r

[2019-03-14 15:23] Pauan commented on #1348
(Another possible solution is to create a new Rust type which is internally just a `Vec<u16>`, and can losslessly represent a JS string)

[2019-03-14 15:42] ZacLiveEarth commented on #1343
I started reading [RFC 6](https://github.com/rustwasm/rfcs/blob/master/text/006-local-js-dependencies.md) and am very concerned about the section on [depending on additional JS files](https://github.com/rustwasm/rfcs/blob/master/text/006-local-js-dependencies.md#js-files-depending-on-other-js-files).

Being able to depend on other JS files (and indeed, over a thousand of them not including npm mod

[2019-03-14 15:54] alexcrichton commented on #1343
@BigBigos oh `module` is definitely here to stay, the purpose of the local snippets was to repurpose the meaning of relative paths to try to ensure that crates published to crates.io can use local JS snippets as well.

@ZacLiveEarth oh JS files aren't copied into the wasm module, but rather snippets are all copied to an appropriate location in the output directory so a bundler can work with them.

[2019-03-14 16:22] Pauan commented on #1343
@alexcrichton Bit of bike shedding: maybe it should be `#[wasm_bindgen(raw_module = "./foo.js")]` instead?

That could also be useful for importing raw npm modules (like `fs`, etc.)

[2019-03-14 16:33] BigBigos commented on #1343
Something like that would work for me. I like the @Pauan `raw_module` suggestion more than the `no_include_snippet`, but naming things is not my strong point.

[2019-03-14 16:43] ZacLiveEarth commented on #1343
I like @Pauan 's direction for the name better than no_include_snippet as well. I might use the word 'import' instead of 'raw_module' though, since that carries with it all the normal connotations of javascript imports.

It does seem like snippets and imports are orthogonal concepts, which may both be important for different use cases.

In any case, the pre-existing behavior of 0.2.28 was perfect

[2019-03-14 17:31] Pauan commented on #1343
Tiny bit more bikeshedding:

* `#[wasm_bindgen(module = "./foo.js", raw)]`
* `#[wasm_bindgen(module = "./foo.js", pass_through)]`

I don't have any particular preference, I think they're all fine.

[2019-03-14 17:56] alexcrichton commented on #1348
I think this means that JS strings aren't guaranteed to be valid utf-16, right?

IT seems reasonable to me to add a `JsString` and `JsStr` type type to `wasm-bindgen` which basically behaves the same way as `String` and `str` except it's lossless with respect to the string on the JS side of things. That way APIs can opt-in to using the lossless, but slightly less convenient, representation (sort o

[2019-03-14 17:57] alexcrichton commented on #1343
I'm personally a fan of `raw_module` because then we don't have to deal with `#[wasm_bindgen(raw)]` and rationalizing that somehow. If there's no objection to that I can look to implement this soon!

[2019-03-14 18:00] ZacLiveEarth commented on #1343
No objection.

[2019-03-14 18:05] alexcrichton opened #1349 "Use rayon for the raytrace-parallel example"
Currently the multithreading example we have with raytracing uses a home-grown solution for parallelization, but we should be showing off `rayon`!

I've got a [work in progress](https://github.com/alexcrichton/wasm-bindgen/tree/rayon-example) branch for gaming this out, but there's a few notable points:

* Supporting this depends on [changes to Rayon](https://github.com/rayon-rs/rayon/pull/636), w

[2019-03-14 18:29] Pauan commented on #1348
Indeed, JS Strings and DOMStrings are not always valid UTF-16. [This is actually a part of the spec.](https://heycam.github.io/webidl/#idl-DOMString)

On the other hand, I believe [USVString](https://heycam.github.io/webidl/#idl-USVString) is valid UTF-16, and it's guaranteed to not contain surrogate pairs.

I think this has some implications for web-sys as well: anything which returns a JS String

[2019-03-14 18:36] Pauan commented on #1348
This also has huge implications for function arguments: right now they tend to take `&str`, which is reasonable, convenient, and works correctly.

However, it is common to want to call a JS function (which will return `JsString`) and then pass the string as an argument to another JS function.

In that case the function cannot accept `&str`, because a `JsStr` is not valid UTF-8 (so it cannot be coe

[2019-03-14 21:09] pyrrho commented on #1335
Thanks for the detailed response!

You've mostly confirmed what I expected to be the case, both in terms of the memory model and the state of the API. I had come across the immutable whitelist in code, and agree that it's (somewhat unfortunately) the best way to handle that kind of ambiguous case. If there are other situations like this -- where the semantics of a return value can't be inferred by

[2019-03-15 01:44] chris-morgan commented on #1348
Servo’s experience is likely to be valuable here, with @SimonSapin’s WTF-8 as a large part of its solution to the problem.

I haven’t thought very much about the practicalities or APIs of it, but there could be a place for integrating carefully with Tendril, or if code size will be a problem there, some subset of it. Again, probably worth asking Simon for his opinion on this.

Something a little r

[2019-03-15 04:27] Pauan commented on #1348
@chris-morgan Yes, being able to reuse WTF-8 (or in this case actually WTF-16) would be really useful.

I'm not sure how Serde integration will work, I imagine the WTF-16 type will impl Serde, so I think it should Just Work(tm)?

[2019-03-15 07:32] chris-morgan commented on #1348
(I think you misunderstood my Serde remark. What I mean is the string type of the likes of `serde_json::{to_string, from_str}`, rather than as something implementing Serialize or Deserialize. If we were to use a type that was `[u16]` underneath, using serde_json without further modifications would require conversion between string types in addition to the serialisation/deserialisation step, which

[2019-03-15 09:15] Pauan commented on #1348
It might be possible to use the Unicode Private Use Areas to losslessly encode the surrogate pairs. That would allow for WTF-8 to be represented internally as a Rust `String` (and thus it can be serialized directly by Serde).

That would *also* allow for it to Deref to `&str`, fixing a lot of the ergonomic issues. I wonder if @SimonSapin has any ideas about that?

Yes, that can be accomplished by

[2019-03-15 09:39] SimonSapin commented on #1348
I think this wouldn’t be lossless, since two different input strings (one containing a lone surrogate, and one containing a private use area code point) could potentially be converted to the same string.

Also note this is about lone aka unpaired surrogates. UTF-16 / WTF-16 surrogate code unit *pairs* should absolutely be converted to a single non-BMP code point (which is 4 bytes in UTF-8).

It’s

[2019-03-15 09:50] lfairy commented on #1348
I'm not Pauan, but I believe that code is implementing a React-style controlled component, where the DOM always reflects the current state as understood by the application.

[2019-03-15 10:02] Pauan commented on #1348
Of course that is true, but my understanding is that "all bets are off" with the Private Use Area, so maybe it's reasonable to assume that it won't be used?

Yes, of course. This bug report is about unpaired surrogates.

That's really interesting. I assume it returns `None` if there are invalid characters in the `OsStr`?

Dominator is a DOM library. In that example it is doing two-way data binding

[2019-03-15 10:06] SimonSapin commented on #1348
Correct, where invalid characters mean unpaired [surrogate byte sequences](https://simonsapin.github.io/wtf-8/#surrogates-byte-sequences).

If not for this bug, this “write back” would be a no-op, wouldn’t it? If so, why do it at all?

Wouldn’t the second event overwrite the effects of the first?

[2019-03-15 10:12] Pauan commented on #1348
Mostly because the APIs are currently designed to *never* miss any changes, since stale state is really not good.

I have some plans to add in an optimization for this case to avoid the write-back. But in any case it's irrelevant to this issue.

Not if the app has side effects during the first event.

For example, if the app took that string and sent it to a server, or put it into a file, or put i

[2019-03-15 10:32] najamelan opened #1352 "How about impl AsyncRead/AsyncWrite for web_sys::WebSocket?"
### Motivation

Would allow frontend and backend code to communicate in an abstract manner on an async Stream. It allows code reuse and prevents every application to have to implement this on top of the existing websocket api

### Proposed Solution

Add impl AsyncRead/AsyncWrite to websocket

### Alternatives

Allow upgrading an Http connection to an AsyncRead/AsyncWrite without websockets. I have

[2019-03-15 11:09] c410-f3r commented on #1129
Optional arguments are supported since #1201. Can this issue be closed?

[2019-03-15 11:18] SimonSapin commented on #1348
Yes, such side effects of the first event could observe the intermediate string with a replacement character. But is this fundamentally different from intermediate events observing a string with letters that do not yet form a meaningful word because the user has not finished typing?

Also, even with the conversion made lossless at the DOM ↔ wasm boundary (possibly by having a `JsString` type that

[2019-03-15 14:03] alexcrichton commented on #1129
I believe so, thanks @c410-f3r!

There may be some follow-up items here and there, but it may be best at this point to have follow-up issues for those.

[2019-03-15 14:03] #1129 closed

[2019-03-15 15:08] alexcrichton commented on #1343
Ok! I've pushed up https://github.com/rustwasm/wasm-bindgen/pull/1353 with these changes.

[2019-03-15 20:17] alexlapa opened #1354 "webidl-tests/global.rs test fails"
### Describe the Bug

`crates/webidl-tests/global.rs` test fails on Ubuntu (18.04.2 / 18.10) with following message:

[code]

### Steps to Reproduce

Run `WBINDGEN_I_PROMISE_JS_SYNTAX_WORKS_IN_NODE=1 cargo test -p webidl-tests --target wasm32-unknown-unknown` on Ubuntu.

I can build and provide Docker image, if that helps.

### Additional Context

1. Other tests work fine.
2. Env on failing machin

[2019-03-16 01:01] dmbfm opened #1355 "Vec created from static slice becomes garbage data when passed to javscript"
### Summary
Hi,

So, I'm creating a `Vec<f32>` from a literal/static slice and trying to pass that to webgl's `buffer` data, pretty much like in the webgl example from the documentation.

I have something like this:

[code]

The thing is, If I do something like this:

[code]
I get garbage data on the javascript side. While if I do

[code]
The correct data gets to the javascript call.

This is not

[2019-03-16 03:42] alanpoon commented on #1340
Here is the minimal reproduction. https://github.com/alanpoon/wer_webpack

[2019-03-16 04:42] rbalicki2 opened #1357 "`use of extern prelude names introduced with...` when compiling v0.2.39"
### Describe the Bug

When `cargo build`ing v0.2.39, I get a bunch of

[code]
errors.

Adding `#![feature(extern_crate_item_prelude)]` to my crate does not affect anything.

Thank you!

[2019-03-16 06:14] Pauan commented on #1348
I don't understand this question. This is what is happening:

1. The user enters a *single* character into the `<input>`.

2. The browser sends *two* `input` events, one for each surrogate pair.

3. When the first `input` event happens, the value of the `<input>` is not valid UTF-16 (because of the unpaired surrogate), so when the value is sent to Rust it is replaced with U+FFFD (the replacement c

[2019-03-17 02:29] kanru commented on #1105
Bumped into this issue today. The solution is to pin the GenFuture<T> like this

[code]

[2019-03-17 16:21] lrlna commented on #1357
I was getting similar errors after updating to `v0.2.39`

[code]
Updating to a newer version helped me get rid of them. Maybe that will help you as well?

[2019-03-18 14:58] alexcrichton commented on #1357
@rbalicki2 and @lrlna, what versions of rustc are y'all using? It may be the case that you're using a pre-2018-edition compiler perhaps?

[2019-03-18 16:39] najamelan opened #1360 "wasm-pack test does not test doc examples"
### Describe the Bug

When running wasm-pack test, it seems it doesn't run doc tests, or at least it does not report running them.

### Steps to Reproduce

1. Write a lib with some doc example
2. run wasm-pack test

### Expected Behavior

Behave similarly as normal cargo-test for other targets

### Other context

tested with versions:
- 0.2.39 of wasm-bindgen
- 0.7 of wasm-pack
- cargo 1.35.0-nigh

[2019-03-18 16:41] lrlna commented on #1357
@alexcrichton i was on `1.31-nightly` and switching to `1.35-nightly` helped!

[2019-03-18 16:54] RReverser opened #1361 "`Object` bindings are missing `constructor` property"
`Object.prototype.constructor` is an important property when you need to check whether an object was created by a particular constructor and not just inherits it somewhere in the prototype chain.

[2019-03-18 17:00] RReverser opened #1362 "Return integers from `charCodeAt` and `codePointAt`"
Both `String.prototype.charCodeAt` and `String.prototype.codePointAt` are normally expected to return a number.

In case where index is invalid, the return value differs in that the first one would return a `NaN`, whereas the second would return `undefined`, which results in Rust definitions being `f64` and `JsValue` correspondingly.

While these are the nearest types to represent corresponding se

[2019-03-18 17:48] #1343 closed

[2019-03-18 17:59] alexcrichton commented on #1340
Thanks! @alanpoon do you want to move this over to webpack to track there as well?

[2019-03-18 18:11] alexcrichton commented on #1354
Hm I'm having trouble reproducing this locally on Linux as well. Can you run `rustup update nightly` and try again? Additionally can you gist `rustc -vV`?

[2019-03-18 18:23] alexcrichton commented on #1362
Thanks for the report! The `js-sys` wrapper library, though, is intended to be very low level and doesn't have these sorts of abstractions. For that though it'd be perfect for https://github.com/rustwasm/gloo!

Want to move this issue over there for a wrapper crate idea?

[2019-03-18 18:27] Pauan commented on #1362
@alexcrichton `code_point_at` doesn't need a wrapper though, the type just has to be changed from `JsValue` to `Option<u32>`. That sounds reasonable to me.

I agree that an API that does runtime checking and conversion should probably be in Gloo.

[2019-03-18 18:29] alexcrichton commented on #1362
Good point! For that I think switching and/or adding a new method to avoid breaking changes sounds like a good idea

[2019-03-18 18:32] alexcrichton commented on #1335
Currently no, a wasm module can only directly manipulate its own instance of `WebAssembly.Memory`, which it's only allowed to have one of (although eventually it will be able to have multiple).

[2019-03-18 18:32] Pauan commented on #1362
I don't really agree with that: the name is already correct, and `Option<u32>` is the correct type, so making up a new name seems really bizarre, and is a learning/discovery hazard.

What I would propose instead is to batch up a bunch of breaking changes, and once we have a sufficient number of them then make a single breaking change release.

That minimizes the amount of times we need to make bre

[2019-03-18 18:37] alexcrichton commented on #1355
Thanks for the report, and it definitely looks like something fishy is happening here. Do you have a standalone example which reproduces this that we could poke around with?

[2019-03-18 18:39] Pauan commented on #1362
To clarify my position a bit more: I'm definitely not a fan of breaking changes, but I'd be really sad to see a relatively new ecosystem get mired with redundant APIs so soon, for the sake of preserving backwards compatibility at all costs.

I think we still have a little bit of leeway, especially since `code_point_at` is a relatively rarely used API. I do understand the desire for stability, thou

[2019-03-18 18:58] RReverser commented on #1362
Yeah I'm fine with keeping `charCodeAt` conversions outside of this, but I think that changing `codePointAt` is reasonable and might be sneaked in as a bugfix (since it should have had such type in the first place)...

[2019-03-18 19:40] alexcrichton commented on #1362
Oh sorry yeah I should clarify, I definitely agree that if we're doing breaking changes we should just change this outright. If we want to fix this *now* before making a breaking change we'd have to find a new name. In any case the next 0.4 release of js-sys should definitely include this.

I'm not sure if we want to add this now, nor do we really have a schedule for breaking changes. I think it p

[2019-03-18 22:19] RReverser commented on #1362
@alexcrichton Actually, if we make this a breaking change, I wonder if we could also build in conversion from JS `Number` to `Option<integers>` that would treat `NaN` as `None`.

There seems to be quite a few precedents in JS where this would help like `charCodeAt` above or `parseInt` etc.

[2019-03-19 01:30] alanpoon commented on #1340
added in https://github.com/webpack/webpack/issues/8928

[2019-03-19 01:30] #1340 closed

[2019-03-19 07:20] Pauan commented on #1362
@RReverser `char_code_at` and `parse_int` return `f64`, so the helper methods should go there.

And there already exists an [`is_nan`](https://doc.rust-lang.org/nightly/std/primitive.f64.html#method.is_nan) method for `f64`, so I don't think a helper method would help much.

[2019-03-19 08:47] RReverser commented on #1362
My point is that 1) these methods return either `NaN` or `u32`/`i32` and 2) casting from `f64` to proper integer type is still a tricky business in Rust since it's way too easy to trigger UB with just `as`, so it would be nice to not put such conversion onto the user.

[2019-03-19 09:10] Pauan commented on #1362
Could you give an example of this? `as` is safe, so it shouldn't be causing any UB.

[2019-03-19 09:21] RReverser commented on #1362
It's not, unfortunately. See https://github.com/rust-lang/rust/issues/10184 and https://www.reddit.com/r/rust/comments/b1efl5/why_do_these_3_numerical_conversions_f32_as_u8/ for some recent example.

Exactly because it's not very intuitive / widely known issue, I feel like the conversion should be hidden from user when possible.

[2019-03-19 10:18] RReverser commented on #1362
To be clear - it's safe for *some* values, and might be fine depending on combination of JS API and target integer type, but that feels pretty error-prone to rely on.

[2019-03-19 11:03] RReverser commented on #1362
@alexcrichton Either way, do you think we could start a branch for breaking changes for now? It seems there is quite a few issues with this label by now, and it seems worth it to start implementing changes that could be rebase and released all together later.

[2019-03-19 11:03] Pauan commented on #1362
Oof, that's *really* bad, though it sounds like it'll get fixed in Rust proper? So what's wrong with waiting for the fix?

[2019-03-19 11:28] RReverser commented on #1362
It will, but it's been around for years, and it seems better to provide an API that avoids foot guns in the first place, especially those as bad as this one.

[2019-03-19 12:21] RReverser opened #1363 "Consider adding JsValue::as_char"
### Motivation

Currently it's not too easy to convert a single char, which is represented in JS as a string, and involves either getting a heap-allocated `String` and then extracting a char, or doing manual conversions that use `char_code_at` / `code_point_at` which currently don't have convenient types (see #1362), and also checking the `length` to make sure it's indeed a char and not an arbitra

[2019-03-19 12:43] najamelan opened #1364 "wasm-bindgen-futures: how do you test with assert for async code?"
### Motivation

Async blocks and other executors swallow panics. wasm-bind-futures::spawn_local is no different. That means that assert and family for tests won't work.

The usual advice for testing async code is to use block_on and call assert outside of the async code. However wasm does not have block_on and if I understand it well, in javascript you can't block the current thread, hence no go.

[2019-03-19 14:56] coolpig183 opened #1365 "How to keep the same state that pointers use in Rust/JavaScript"
### Summary

I want to use structures that contain Rust raw pointers, however it seems that when I pass them to JavaScript and get them back, they lose data.

### Additional Details

Here is an example:
- `lib.rs`
[code]

- `index.js`
[code]

This outputs:
[code]

I do know that `wasm-bindgen` keeps state if I use something like `Vec<T>` inside of `State`, however I want to take advantage of exist

[2019-03-19 15:04] xtuc commented on #1340
Thank you, I'll take a look at that shortly (sorry i'm moving job and country so might be slow...).

[2019-03-19 15:45] alexcrichton commented on #1365
Thanks for the report! I think tough that this is a use-after-free (due to the use of `unsafe`). Instead of storing the ptr/len/capacity if you store the `Vec` itself in the structure I think it'll work?

[2019-03-19 15:48] alexcrichton commented on #1360
Thanks for the report! This is, however, a limitation with rustdoc and the organization of doc tests. We'd need a lot of various kinds of upstream support in rustdoc itself to get these working, so I'm going to close this for now as I think we're pretty unlikely to support this in the near future.

FWIW doc tests don't work for any cross compiled target, not just wasm.

[2019-03-19 15:48] #1360 closed

[2019-03-19 16:01] alexcrichton commented on #1364
This is a good question! I think what you may be running into is a number of bugs and limitations of wasm now though rather than a fundamental bug in the system. WebAssembly doesn't support unwinding right now, so a `panic!` is intended to completely abort the program and not allow reentrancy. With WebAssembly, however, it just turns into a JS exception and you can indeed catch that and reenter a

[2019-03-19 16:14] coolpig183 commented on #1365
Yeah @alexcrichton , it does work with `Vec<T>` as I mentioned on the end of the issue, do you know a way of doing with raw pointers on `wasm-bindgen`?

[2019-03-19 16:45] RReverser opened #1366 "Support prototype-less objects"
This would be a breaking change, but, I think, `Object.keys`, `Object.entries`, `Object.setPrototypeOf` etc. need to be changed to somehow support prototype-less objects.

In JavaScript it's common to have object values without prototype used as dictionaries created by either `Object.create(null)` or a corresponding literal form `{ __proto__: null, ... }`.

These don't have `Object` in their proto

[2019-03-19 16:56] RReverser opened #1367 "Specialise `dyn_ref` to improve value detection"
I think `dyn_ref` should be specialised where possible to support objects from other realms (for which regular `instanceof` check would fail).

For example, it's more reliable to use `Array::is_array` instead of current `instanceof Array` for `.dyn_ref::<js_sys::Array>()`, `JsValue::is_object` for `.dyn_ref::<Object>()` and probably also existing methods for primitives for conversions to `js_sys::

[2019-03-19 17:30] alexcrichton commented on #1365
I'm not sure I understand the question? Raw pointers aren't really the issue here it's use-after-free. Otherwise raw pointers aren't really any more special with wasm than they already are in normal Rust

[2019-03-19 17:36] dvc94ch opened #1368 "Index 114 is out of range for a slice of length 33"
### Describe the Bug
Try to build the fetch example results in:
[code]

I was actually trying to reproduce this, which may or may not be a bug:
[code]

[2019-03-19 18:14] alexcrichton commented on #1367
Can you describe what you mean by 'other realms'? Can you also elaborate on some instances that return true for `is_object` but false for `dyn_ref::<Object>`?

[2019-03-19 18:25] najamelan commented on #1364
I'm sorry, I filed this to fast. I only now found this:
https://rustwasm.github.io/docs/wasm-bindgen/wasm-bindgen-test/asynchronous-tests.html#example

And it seems to work. I don't know how you pulled it off, but this works with `assert_eq!`. It shows a quite massive stacktrace however. Since I tested it on just one test, that's ok, but if I would have a lot of failing tests, that would be unwork

[2019-03-19 18:25] #1364 closed

[2019-03-19 18:27] fitzgen commented on #1365
To be clear, the use-after-free happens because the `vec` in `create_state` gets dropped, and then when the function returns the state's data points at freed memory.

You would have to call `std::mem::forget` on `vec` in `create_state` to avoid the UAF.

[2019-03-19 18:32] fitzgen commented on #1367
A realm is like a new environment with its own set of globals and all that. https://github.com/tc39/proposal-realms

Related example: if you create a new iframe and get its window's `Array`, then `[] instanceof iframeWindow.Array`  isn't true.

We must be using `typeof x === "object" && x !== null` for `is_object`.

[2019-03-19 18:32] RReverser commented on #1367
I described some of these instances in a relevant, although slightly different issue https://github.com/rustwasm/wasm-bindgen/issues/1366 - if you create a prototype-less object using `Object.create(null)`, it's not an instance of `Object` and `dyn_ref` won't detect it, but it's still a JavaScript `object` in a wider sense.

In JavaScript, you can pass values between different "realms", and they e

[2019-03-19 18:54] alexcrichton commented on #1272
I think this was fixed in https://github.com/rustwasm/wasm-bindgen/pull/1298, so closing

[2019-03-19 18:54] #1272 closed

[2019-03-19 18:55] alexcrichton commented on #1368
Thanks for the report! I think this is probably a duplicate of https://github.com/rustwasm/wasm-bindgen/issues/1227 unfortunately so I'm going to close in favor of that. Currently the examples aren't directly runnable as-is from this repository, but if you copy them out they should work!

[2019-03-19 18:55] #1368 closed

[2019-03-20 01:35] dmbfm commented on #1355
Hi, thanks for the help, but I think it was just a problem with the javascript-side debugging scheme I
was using. It seems it was printing the data after it was no long valid anyway.

I think we can close this, thanks man!

[2019-03-20 01:35] #1355 closed

[2019-03-20 05:47] jhpratt commented on #210
Any updates on this? I was looking to see how feasible it would be to create webcomponents using wasm as an experiment, but it's necessary to extend classes for that (either `HTMLElement` or a framework-specific class).

[2019-03-20 12:19] alexlapa commented on #1354
@alexcrichton ,

[code]

After `rustup update nightly`

[code]

Still crashes. I will create Docker image and link it here.

[2019-03-20 16:04] RReverser commented on #1367
Btw, while looking into #1087, I realised that this above is needed not only for prototype-less `Object`s and cross-realm interaction, but also for new primitives which don't have automatic boxing.

Currently these are:

 - `Symbol`
 - `BigInt`

and for both `instanceof` check will return false when used on a corresponding primitive, because they're not objects, and so `dyn_ref` and `dyn_into` fai

[2019-03-20 17:25] alexlapa commented on #1354
@alexcrichton ,

Dockerfile:
[code]
No node of geckodriver, since it fails earlier. It is published, so you can just do `docker run alexlapa/wasm-test-fail:latest`.

[2019-03-20 17:33] alexcrichton commented on #1354
Hm something very fishy is going on? I created `Dockerfile` with the above and ran:

[code]

and it didn't fail in the expected place (went on to build `wasm-bindgen` and failed because OpenSSL wasn't installed). I also ran `docker run alexlapa/wasm-test-fail:latest` and it "succeeded" in that it failed the same place as the local image, not the expected place.

Can you gist a transcript of the co

[2019-03-20 17:47] RReverser opened #1370 "`.dyn_into::<Symbol>` / `.dyn_ref::<Symbol> don't work as expected"
This is sort of a child issue to #1367, but, because it's a bug, it seems worth it to track separately since it might be fixed independently from the more generic one.

---

While looking into #1087, I realised that #1367 is needed not only for prototype-less `Object`s and cross-realm interaction, but also for new primitives which don't have automatic boxing.

Currently these are:

 - `Symbol`
 -

[2019-03-20 18:14] alexlapa commented on #1354
@alexcrichton,

So i've added `pkg-config` and `libssl-dev` to image, ie:
<details>

[code]

</details>

Published as `alexlapa/wasm-test-fail:2`.

And ran it on 3 machines(2 Ubuntu and Mac). Only one Ubuntu fails with that "redefined here" message.  So yeah, i got single image that behaves differently. I guess, issue can be closed, since it is not really reproducible in other environments. Anyway

[2019-03-20 18:38] najamelan commented on #1364
I understand things a bit better after diving into the wasm-bindgen code, but still can't figure out how to use quickcheck to test an async function... It really seems we would need block_on for something like that. I'll let it rest for now.

[2019-03-20 18:48] alexcrichton commented on #1354
Hm so in theory if docker is not reproducible this could be a kernel difference between the two machines. Despite that though I'm not actually sure how we could cause kernel differences to show up here...

[2019-03-21 08:32] limira opened #1373 "compile-time internal error on passing &Function to js"
I encountered `internal error: entered unreachable code` with wasm-bindgen when I tried the git master version at merge of #1353 (and still there at the merge of #1372, not sure how far ago when the bug appear. But the bug is not in 0.2.39 release)

You can see the minimal code that produce the error [here](https://github.com/limira/wb-bug). In words, I have a library `wb-lib` that wraps around `F

[2019-03-21 12:43] jjpe opened #1374 "Create a new release"
### Summary
I need to try out the `raw_module` [functionality](https://github.com/rustwasm/wasm-bindgen/issues/1343) because of an issue I outlined [here](https://users.rust-lang.org/t/wasm-bindgen-doesnt-support-relative-paths-anymore/26492).
So I just tried to use this crate as a git dependency in my project's Cargo.toml, but that results in errors being spewed:
[code]

Because of this I request

[2019-03-21 12:52] jjpe opened #1375 "What does the path in #[wasm_bindgen(module = "wu/tan/clan")] actually refer to?"
### Summary

The [docs](https://rustwasm.github.io/docs/wasm-bindgen/reference/attributes/on-js-imports/module.html) don't exactly make clear to where the path `"wu/tan/clan"` refers in this snippet:
[code]
Initially I assumed that that path was relative to `$PROJECT_ROOT` (i.e. the dir that contains `Cargo.toml`  and `package.json`) but that seems not to be the case, because of [this](https://use

[2019-03-21 15:06] alexcrichton commented on #1375
Thanks for the report! The path there is actually left to interpretation of whatever will eventually interpret ES module strings. That may be a bundler, the browser, etc. A recent [RFC 6](https://github.com/rustwasm/rfcs/blob/master/text/006-local-js-dependencies.md) attaches meaning to paths starting with `../`, `./`, or `/`, but all other paths are left up to the bundler and/or browser.

So to a

[2019-03-21 15:40] alexcrichton commented on #1373
Thanks for the report and for the reproduction! I think this should be "fixed" in https://github.com/rustwasm/wasm-bindgen/pull/1377 where "fixed" here means "produces a better error message". The real fix though for this is to add `[patch]` annotations for `web-sys` in addition to `wasm-bindgen` because the problem was that too many crates showed up in the crate graph, confusing the CLI!

[2019-03-21 18:46] jjpe commented on #1375
Do you mean any path that contains a `/`, or any path that starts with `/`?

As for which modules I'm using, they're essentially simple modules (at least in this context) using `require()`. The intent there is that the code is ultimately usable both in the browser and in NodeJS (though it seems that `wasm_bindgen` needs to treat the browser and NodeJS as separate targets, which in and of itself is

[2019-03-21 19:07] dbrgn commented on #1253
I realized that it does compile, but DOM access doesn't seem to work.

This inside `lib.rs` runs fine:

[code]

...but when I access the window, it fails:

[code]

Error:

[code]

[2019-03-21 19:13] alexcrichton opened #1379 "Implement a threadsafe version of wasm-bindgen-futures"
Currently the wasm-bindgen-futures crate provides a number of `unsafe` implementations to implement a runtime to execute futures within. These `unsafe` blocks, however, are predicated on the application being single threaded. The crate isn't safe in a threaded environment!

We should implement a threadsafe version of `wasm-bindgen-futures`, gated on the `target_feature = "atomics"` feature of WebA

[2019-03-21 19:40] alexcrichton commented on #1379
For those interested in getting their feet wet with the multithreading story of Rust and WebAssembly, this is definitely a meaty project to take on!

[2019-03-21 19:51] alexcrichton commented on #1374
Sure thing! This is being done in https://github.com/rustwasm/wasm-bindgen/pull/1381

[2019-03-21 19:54] alexcrichton commented on #1375
Oh sorry, only paths that start with `/` are recognized as "relative to the crate root"

It sort of depends on what you're doing how you'd want to organize it. The intention or recognize the relative paths is to support the [js snippets feature](https://rustwasm.github.io/docs/wasm-bindgen/reference/js-snippets.html) recently added, but this unfortunately doesn't work with the Node.js target just

[2019-03-21 20:27] alexcrichton commented on #1253
@dbrgn that looks like you may be running the test in node.js instead of a browser?

[2019-03-21 21:58] #1373 closed

[2019-03-21 22:55] fitzgen commented on #210
@jhpratt no updates; you may be interested in reading the discussion in https://github.com/rustwasm/team/issues/162 however.

[2019-03-21 23:02] dbrgn commented on #1253
@alexcrichton I'm invoking the tests like this:

    wasm-pack test --headless --firefox

The other tests that access the browser (in a separate `tests/web.rs` test-crate) seem to work fine.

Let me know if I can provide more information to debug this!

[2019-03-21 23:04] ibaryshnikov commented on #1379
So the task is to replace Cell and RefCell inside a Package struct? Would you mind if I try it?

[2019-03-21 23:16] fitzgen commented on #1379
@ibaryshnikov all yours!

I think that should do the trick, ignoring potential dead locks. I don't remember if there is `unsafe` code that needs to be updated too...

[2019-03-22 00:09] #1374 closed

[2019-03-22 13:10] RReverser opened #1386 "Investigate caching of static strings"
### Motivation

Long ago I noticed that currently even constant strings are routed through entire encoding/decoding process on each pass between Rust and JS, becoming unnecessarily expensive part of the resulting code.

Now I've noticed that this affects even internal functions which need intermediate strings, thus affecting even more potentially hot paths.

E.g. this is a profile from my WASM lib

[2019-03-22 14:04] RReverser commented on #1258
I'm currently working on a generic solution for this to improve performance of one of my projects. Is it possible to assign this issue to me for tracking?

[2019-03-22 14:09] RReverser commented on #1386
I specialised `try_iter` in my code to try `Array::is_array` + `unchecked_ref::<Array>().values().into_iter()` first, and the whole library benchmark got 5x faster 😱

I wonder how many more cases are affected by these hidden costs.

[2019-03-22 15:23] alexcrichton commented on #1253
@dbrgn oh I think this may be a bug with wasm-pack/wasm-bindgen testing integration where although you specify `--firefox` it actually also runs node-specific tests. There's no specific annotation to run the test in a headless browser, so it's attempting to be run in node

[2019-03-22 15:24] alexcrichton commented on #1386
Thanks for the report! Could you expand a bit on how `try_iter` is connected to static strings in this case? Those seem to be naively unrelated, but hey 5x improvements are always nice

[2019-03-22 15:53] alexcrichton commented on #1348
So modulo some naming, I think given all this I'd propose a solution that looks like:

* Add a `DomString` and `DomStr` types to the `wasm-bindgen` crate (again, modulo naming, that's hopefully separate)
* A `DomString` internally stores `Vec<u16>`
* `DomString` derefs to `DomStr`
* `DomStr` has APIs such as:
    * `iter()` - iterator of the u16 values
    * `from_iter()` - creation from u16 value

[2019-03-22 16:18] RReverser commented on #1386
I was surprised about that connection showing up in profile as well, but from looking at the source it might be related to `JsValue::from("next")` being created each time you iterate over a new value?

[2019-03-22 16:29] fitzgen commented on #1258
@RReverser go for it! :)

[2019-03-22 16:57] fitzgen commented on #1348
* +1 for providing the escape hatch first, not changing js-sys and web-sys immediately, and then re-evaluating based on our experience with the escape hatch.

* I don't have a strong opinion on ill-formed `u16` code points in a `Vec<u16>` vs using some wtf-8 `Vec<u8>`. Defer to others here.

* I'm happy-ish with the name `DomString`, but don't care much.
  * It is a little misleading when using `j

[2019-03-22 17:54] RReverser commented on #1258
So far it looks like more often than not perf is actually getting worse due to overhead of frequent calls between JS and WASM (at least on Node.js / V8).

But I just finished the prototype, and only starting to actually profile and see what could be improved, so still hoping for something obvious.

P.S. This is where I found the `try_iter` performance issue btw: https://github.com/rustwasm/wasm-bi

[2019-03-22 18:06] RReverser commented on #1258
If this (direct conversion from `JsValue`) doesn't work out after all, might want to try to use `bincode` instead - should be both smaller and more efficient than JSON, while still making just one call.

[2019-03-22 18:35] alexcrichton commented on #1386
Oh I think that's fixable with a change like:

[code]

Want to test that out and see if it works for you?

[2019-03-22 21:14] RReverser commented on #1386
Haha, that's literally what I did locally too, even the name of `MaybeIterator` matches :)

But, as mentioned above, I'm rather interested in a more generic solution to needless copies of constant strings, and decided to open this issue for that discussion/tracking.

[2019-03-23 09:55] Pauan commented on #1348
I'm not sure I agree with that: since `DomStr` won't be the default, many APIs will continue to accept `&str`, and it's common to call an API which returns `DomString` and then pass it to another API (which accepts `&str`). Requiring an `O(n)` re-encoding + allocation + copying isn't great.

So if WTF-8 can faithfully represent everything (including private use areas), I think we should use it ins

[2019-03-23 13:04] Pauan opened #1387 "Closure should impl Debug"
### Motivation

When implementing https://github.com/rustwasm/gloo/issues/30, I created this type:

[code]

I would really like to just slap a `#[derive(Debug)]` and call it a day, but `Closure` doesn't impl `Debug`, so I have to do this instead:

[code]

### Proposed Solution

I propose that `Closure` should provide a `Debug` impl, which essentially just outputs `Closure { ... }` (or similar).

#

[2019-03-23 22:03] Procrat opened #1388 "u32 interpreted as i32 when passed to JS"
### Describe the Bug

A valid u32 larger than _2^31_ turns negative when passed to JavaScript.

### Steps to Reproduce

1. Take the `import_js` example.
2. Change the `x.set_number(10)` line to `x.set_number(2147483647)` or any other u32 larger than _2^31_.
3. See the negative number in the console.

### Expected Behavior

I expect to see a positive number.

### Actual Behavior

We see a negative

[2019-03-24 01:52] rbalicki2 commented on #1357
I was on `1.32.0-nightly`, I'll try at some point with a newer nightly.

[2019-03-24 01:52] #1357 closed

[2019-03-24 11:54] Pauan commented on #1388
I believe this can be fixed by having wasm-bindgen run `number >>> 0` on the JS receiving side for `u32`.

We should also test to make sure that it works correctly when sending `u32` *to* Rust.

[2019-03-24 14:45] darionco opened #1389 "Allocator won't use the provided memory when using `--import-memory`"
### Describe the Bug

I have a program that needs uses a big amount of heap memory but it grows sequentially, so say, I need to use 1GB of heap memory by allocating chunks of ~20MB every iteration of a loop.

I thought I could avoid the performance hit of growing the memory a bunch of times by adding `--import-memory` to my lld flags, using the flag works as expected, the generated `wasm` and the

[2019-03-25 09:05] dbrgn commented on #1253
Hah, putting `wasm_bindgen_test_configure!(run_in_browser);` in the tests module seems to resolve the issue :slightly_smiling_face:

[2019-03-25 09:05] #1253 closed

[2019-03-25 14:36] alexcrichton commented on #1389
Thanks for the report!

This is all unfortunately working as intended, however, due to the way that the current wasm target works. The heap is fundamentally allocated via `memory.grow` instructions and can't be preallocated with the wasm32-unknown-unknown target's default allocator. Put another way, the default allocator provided by wasm32-unknown-unknown will unconditionally consider the current

[2019-03-25 14:36] #1389 closed

[2019-03-25 15:30] surma opened #1390 ".d.ts file for --web target does not define the init() function"
### Describe the Bug

Compiling a module with --web will create a `.d.ts`, which contains the TypeScript types for all the functions exposed by the module.

The typings for the `init()` function, the default export, are missing.

[2019-03-25 15:34] darionco commented on #1389
Thanks for the response, I did do benchmarks and found very interesting results, for one WASM code generated by `wasm-bindgen` runs incredibly slow in Chrome (about 3x slower) while reasonably fast in Firefox and Safari. I wrote an equivalent program in C and used `emscripten` the resulting code runs very fast in Chrome and equally fast in Firefox and Safari as the `wasm-bindgen` version.

Regardi

[2019-03-25 15:45] alexcrichton commented on #1348
It's true yeah that `DomString` to `&str` requires an allocation and re-encoding, but if we use wtf-8 (or something like it) then we'll always be doing the encoding in JS whenever we enter/exit wasm. I think that's one of the things I'm mainly worried about is that we can't actually "just use" the wtf-8 crate, but rather we have to write the encoding in JS and maintain it as part of the default bi

[2019-03-25 15:53] alexcrichton commented on #1389
Interesting! @darionco would you be able to share the program to poke around what's going on? Do you know what emscripten was architecturally doing differently to be fast in Chrome?

[2019-03-25 16:01] darionco commented on #1389
Sure, I'll open a new issue with the details.
Unfortunately, I haven't looked at the differences between the produced `wasm` files too closely, a quick conversion to `wat` shows that they are very different, in size at least.

[2019-03-25 16:04] alexcrichton commented on #1389
Ok no worries! An issue for that performance bug would be very much appreciated!

[2019-03-25 16:38] darionco commented on #1389
Good news! Rust in fact runs as fast as C in WASM in Chrome!

 Turns out I am using [`@wasm-tool/wasm-pack-plugin`](https://github.com/wasm-tool/wasm-pack-plugin#readme) which by default builds in debug mode, contrary to the [`wasm-pack` documentation](https://rustwasm.github.io/docs/wasm-pack/commands/build.html) which states:

I got confused because the plugin's documentation doesn't state that

[2019-03-25 18:02] RReverser commented on #1258
Okay, after a bunch of custom improvements and, finally, https://github.com/rustwasm/wasm-bindgen/pull/1391, I've finally managed to surpass serde_json in terms of performance (this turned out way harder than it seemed at first).

Now time to focus on cleaning up and trying to reduce the size :)

[2019-03-25 18:07] alexcrichton commented on #1389
Oh no worries, glad it ended up working out!

[2019-03-25 18:43] fitzgen commented on #1387
+1 for sure. I've done this everything-except-the-closure debug impl many times as well.

Don't think we should do this -- the function's source won't be anything that the user authored, just wasm-bindgen's internally defined JS source for closures.

[2019-03-25 23:20] chris-morgan commented on #1348
I consider @alexcrichton’s proposed plan to be reasonable. I don’t think WTF-8 is the way forwards with this; it doesn’t solve problems, merely shifts which side you have to write encoding on, Rust or JavaScript. A `[u16]`-based type seems to me the way to go, especially given the projected rarity of its use.

One correction: `from_iter()` would be on `DomString` rather than `DomStr`.

[2019-03-26 06:31] lyd600lty commented on #111
@Gisleburt I try for this, but build `ByteStream` with offset and length will broke the memory in my test.
![image](https://user-images.githubusercontent.com/2917899/54975969-cbf47480-4fd3-11e9-9a64-d7316b595c25.png)

[2019-03-26 08:12] dependabot[bot] opened #1392 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the

[2019-03-26 09:53] Procrat commented on #1388
When you put it like that, this is perhaps the wrong repo to raise this issue. If the generated wasm is already wrong, it's probably not wasm-bindgen's job to patch that up, right? The fault happens in rustc, right?

Just to confirm that that is what's actually happening, I compiled
[code]
and made it readable with `wasm2wat`:
[code]
So it's already negative there.

Where should I report this?

[2019-03-26 10:37] Pauan commented on #1388
Wasm does not support `u32`, it only supports `i32`. So this cannot be fixed in Rust.

Instead, the `.js` snippets need to do a `number >>> 0` cast (to convert from `i32` to `u32` on the JS side).

wasm-bindgen generates the `.js` snippets, and therefore this is definitely wasm-bindgen's responsibility.

[2019-03-26 11:48] RReverser commented on #1386
Btw, strangely, replacing that doesn't make nearly as big difference as checking for `is_array` and using `.values()`. I wonder if there's another hidden string somewhere...

[2019-03-26 12:32] xarus01 opened #1394 "Examples won't build"
## 🐛 Bug description
Describe your issue in detail.
Tried to build `add` example. Got this error. Seems like decode method is supposed to empty data argument but somethings not right.

#### 🤔 Expected Behavior
What should have happened?
.wasm file should have been built.

#### 👟 Steps to reproduce
Clear steps describing how to reproduce the issue, including commands and flags run. If you are seein

[2019-03-26 14:18] alexcrichton commented on #1394
Thanks for the report! I think this is a bug with wasm-bindgen's examples though, so I'm going to move it to this repository.

Unfortunately what's happening here is that https://github.com/rustwasm/wasm-bindgen/issues/1227 isn't implemented, and the `wasm-bindgen` CLI from crates.io is being used with the `wasm-bindgen` crate from git, causing a version mismatch. Version mismatches of the CLI and

[2019-03-26 14:20] #1392 closed

[2019-03-26 15:18] alexcrichton opened #1396 "Add async/await to keyword list"
This is a breaking change to web-sys, but we should add "async" and "await" to [this list](https://github.com/rustwasm/wasm-bindgen/blob/c5d2b2d1fb7fb12abedd1827bbc7670a40c21cf4/crates/backend/src/util.rs#L14-L25). This is a breaking change, however, because it breaks accessors like [`HtmlScriptElement::async`](https://docs.rs/web-sys/0.3.17/web_sys/struct.HtmlScriptElement.html#method.async) by a

[2019-03-26 20:23] Pauan commented on #1348
@alexcrichton I think right now we just need a way of detecting if a JS string is valid UTF-16 or not.

I see a couple options:

1. The [`as_string`](https://rustwasm.github.io/wasm-bindgen/api/wasm_bindgen/struct.JsValue.html#method.as_string) method already says that it returns `None` if it's invalid UTF-8, but that's currently not true.

   So it could be changed so it actually does a validity

[2019-03-26 20:52] Pauan opened #1399 "Closures should accept & for arguments"
### Motivation

If a Closure accepts `&` by argument it can use the faster stack-allocation rather than the slower heap-allocation.

### Proposed Solution

This should be possible:

[code]

### Additional Context

https://github.com/rustwasm/gloo/issues/30#issuecomment-475866803

[2019-03-27 00:36] alexcrichton commented on #1348
@Pauan you're thinking that in these cases folks would take `JsString`, learn it's not valid utf-8, and then manually extract the u16 values? I like the idea of sidestepping the issue! If that can idiomatically solve the problem then that definitely sounds like our best bet.

As to which of those options, I think it makes sense to leave `as_string` as is and add a new method. We'd want to update t

[2019-03-27 12:00] Pauan commented on #1348
@alexcrichton Well, I see two general use cases:

1. If an `input` event contains unpaired surrogates, it should just completely ignore the entire event. That's solved by using `JsValue::is_valid_utf16_string`.

2. Somebody actually *wants* to preserve the unpaired surrogates (for some reason). That case would be handled by `DomString` (or other similar strategies like `Vec<u16>`).

I don't actual

[2019-03-27 12:24] xarus01 commented on #1394
@alexcrichton Thanks a lot! I tried to build examples outside the cloned wasm-bindgen directory and it works. Would like to give a try on #1227 but not sure where to start. Any hint?

[2019-03-27 18:16] alexcrichton commented on #1379
To solve this issue the `unsafe` code from `crates/futures/src/lib.rs` basically needs to be removed, notably [these two `unsafe impl` blocks](https://github.com/rustwasm/wasm-bindgen/blob/98e554c1fa23f66f851f0e94a00d1e8894588980/crates/futures/src/lib.rs#L281-L284). Those are safe in a single-threaded scenario, but with multithreaded wasm those are legitimately unsafe.

[2019-03-27 20:38] #1388 closed

[2019-03-27 20:41] alexcrichton commented on #1348
Sounds like a solid plan to me! Would the addition in that case be:

[code]

[2019-03-27 21:36] Pauan commented on #1348
@alexcrichton Yes, exactly.

And the intrinsic would be implemented like this on the JS side (it *has* to be on the JS side, sadly):

[code]

(I loosely translated it from [the `DOMString` spec](https://heycam.github.io/webidl/#idl-DOMString) by using some tips from [the `TextEncoder` polyfill](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder#Polyfill).)

It looks big, but it minifies

[2019-03-28 01:15] Procrat commented on #1388
I'm a bit surprised by this fix. Even though u32 isn't supported in Wasm, it can be represented with an i64.

I'm I then right in concluding that the rustwasm team makes the conscious decision that rustc's output is only an intermediary (and is thus deemed fine to be wrong by itself), and that for any working Rust to Wasm compilation, the use `wasm-bindgen` and the use of JavaScript is required? O

[2019-03-28 04:40] OddCoincidence commented on #951
I'm working on creating bindings for WebExtensions (see https://github.com/rustwasm/gloo/issues/21) and nested namespaces would be really useful, e.g. for `browser.alarms`.

[2019-03-28 06:31] lfairy commented on #1348
If we're leaving `as_string` as-is, can we at least rename it to `as_string_lossy`?

That would be more consistent with the standard library, where [`String::from_utf16_lossy`](https://doc.rust-lang.org/stable/std/string/struct.String.html#method.from_utf16_lossy) does the same thing (and `String::from_utf16` returns an error).

[2019-03-28 11:40] Pauan commented on #1388
@Procrat JavaScript does not have support for `i64` (it throws an exception if you try to use it).

Using `f64` works, but that doubles the memory usage and has a performance cost for conversion. There's no reason to use `f64`, since `i32` works perfectly (it has the same bit width and semantics as `u32`).

It isn't "wrong", it's simply following the Wasm spec as closely as possible: Wasm doesn't

[2019-03-28 11:53] Pauan commented on #1388
By the way, Wasm will soon have support for `anyref`, which removes the need to have a JS stack/heap, and eventually when host bindings are implemented Wasm will [also have support for sending `u32` values to JS](https://github.com/WebAssembly/host-bindings/blob/0ab2d84f35f9b7062693d853aea6055a31defec4/proposals/host-bindings/Overview.md#import-argument-binding-types).

It will still be needed to

[2019-03-28 12:07] Pauan commented on #1388
You might be wondering why we couldn't just take `wasm-bindgen` and put it into `rustc`.

We *could* do that, but any changes to `rustc` require pretty extensive review and agreement from the core contributors. It's a very slow process (for good reason!)

So it's a *lot* easier to have `wasm-bindgen` be a separate tool which can be rapidly changed/improved at its own pace.

Maybe eventually there

[2019-03-28 12:33] Pauan commented on #951
@OddCoincidence In the meantime you can use this workaround:

[code]

And now it can be used like this: `browser.alarms().foo(...)`

(For older versions of `wasm-bindgen` you can add `structural`)

[2019-03-28 12:39] Pauan commented on #1348
@lfairy I agree, but that will require a deprecation/breaking change cycle, so it's best to batch that together with a bunch of other breaking changes.

[2019-03-28 13:52] alexcrichton commented on #1348
@Pauan  I think it depends on whether we want to rename or not as to whether we do it now, because if we do want to rename having a deprecation is actually pretty easy to handle at any time.

I'm less certain though that we'd want to rename. It seems to me that it's far more common to use `String` and `str` than `as_string` which don't have a "lossy" warning. In that sense renaming `as_string` may

[2019-03-28 13:54] alexcrichton commented on #1394
Sure yeah! The general idea is that [this version check](https://github.com/rustwasm/wasm-bindgen/blob/30b258515d197fcb9bc3b6e6e5ee50d82c4be2be/crates/cli-support/src/lib.rs#L605) is passing but it needs to fail when git/crates.io are involved. This *may* be as simple as using [this string as a version instead](https://github.com/rustwasm/wasm-bindgen/blob/30b258515d197fcb9bc3b6e6e5ee50d82c4be2be/

[2019-03-28 13:55] #1361 closed

[2019-03-28 14:52] RReverser opened #1406 "Add a way to get constructor of any imported type as a value"
### Motivation

From #1403 which added `Object::constructor` property:

These comparisons could be useful when one wants to check if particular value has particular type's constructor.

### Proposed Solution

Add something like `wasm_bindgen::get_constructor<T>() -> JsValue` that could be used on any imported type to get it as an actual value (the constructor itself).

### Alternatives

Statically

[2019-03-28 15:53] OddCoincidence commented on #951
I'll do that for now then, thanks @Pauan!

[2019-03-28 17:18] jgrund opened #1407 "#define referencing a struct does not generate bindings"
Consider the following:

[code]

Running:

[code]

generates an empty bindings file.

I would expect the file to contain the struct `lov_user_mds_data_v1` aliased as `lov_user_mds_data`.

Output from running:

[code]

[2019-03-28 17:19] #1407 closed

[2019-03-28 17:20] jgrund commented on #1407
Sorry, wrong repo :)

[2019-03-28 17:42] LaylConway commented on #1257
I'm interested in extensions being supported as well. A few extensions are critical for performance and quality in webgl1, with webgl2 still not being supported by Edge.

[2019-03-28 18:37] ZacLiveEarth commented on #1257
I'll probably come back to this at *some* point in the future, but it may be months from now. I needed to make progress so found another strategy for my application. If you want to take up the torch @LaylConway The conversation above lays out most of the places you might get stuck and how to get past them.

[2019-03-29 01:09] RReverser commented on #1313
Note that another alternative that might be worth considering and measuring is calculating UTF-8 byte length upfront.

I've already added usage of `Buffer.byteLength(...)` in #1391 for Node.js, but for other targets we can do something like:

[code]

After that, we can allocate the right size right away.

[2019-03-29 12:32] #1387 closed

[2019-03-29 16:36] fitzgen commented on #1386
I think it is worth providing string interning infrastructure.

This shouldn't require anything special from `wasm-bindgen`, such as JS glue codegen support.

Therefore, the question is raised of whether it should be

* part of `wasm-bindgen` proper (which would allow adding inherent methods on `JsValue`),
* part of a `wasm-bindgen-strings` crate,
* or a separate third-party crate (part of Gloo? j

[2019-03-29 17:31] RReverser commented on #1386
I tried several approaches so far:
 - Interning constant strings by finding them with walrus - this would need to be part of the cli-support, and is more complicated, but also more benefitial for end users.
 - Interning by using thread-local `HashMap<&'static str, JsValue>` - this is feasible today, but has relatively high runtime cost even for re-checking.
 - Interning by using a macro like

[cod

[2019-03-29 18:11] Pauan commented on #1348
@alexcrichton I don't have strong opinions about it: I really like the idea of being consistent with the Rust stdlib, but breaking changes aren't fun.

And as you say, any bindings that return `String` are lossy, and without any warnings! So I guess some doc changes are good enough.

[2019-03-29 20:52] mahadeer13 opened #1409 "Missing grab_frame event from ImageCapture"
### Describe the Bug

When i'm trying to capture the webcam image via ImageCapture, the grab_frame method is missing and also the take_photo method seems to be a void.

[2019-03-30 02:47] c410-f3r commented on #1390
I will work on it

[2019-03-30 23:03] Procrat commented on #1388
Thanks for taking the time to write such a thorough explanation!

I'm thinking about an issue of separation of concerns here. `rustc` just takes care of the Rust -> Wasm compilation without any knowledge of the embedder, which might not have a JavaScript VM. It's only by putting `wasm-bindgen` into the picture that we have Rust <-> JavaScript interop, right? So, specifically thinking of a future c

[2019-03-31 01:01] Pauan commented on #1388
@Procrat I agree that is rather surprising.

I'm not 100% sure, but I think that it's because it's not actually exporting the function to wasm... it's exporting the function to C (hence the `extern "C"` part). And C *does* have `u32`, so Rust accepts it just fine.

Essentially, there really *should* be an `extern "wasm"`, but there isn't, so we currently abuse `extern "C"` a bit.

[2019-03-31 01:31] Procrat commented on #1388
Ah, I see. That makes sense! Thanks for the explanation!

[2019-03-31 13:09] MarcAntoine-Arnaud opened #1411 "wait Promise response"
Based on this [example](https://rustwasm.github.io/wasm-bindgen/examples/fetch.html)
It's possible to make a request, and get data from an HTTP Query.

I have take a look on [wasm-bindgen future](https://rustwasm.github.io/wasm-bindgen/api/wasm_bindgen_futures/) to understand who it works.

But I'm not able right now to wait a response in a rust code, to continue process based on response.

The id

[2019-04-01 02:23] rbalicki2 commented on #1357
Confirmed, this seems to work on newer nightlies! Thank you

[2019-04-01 08:54] hsivonen commented on #1313
Gecko used to do this for its internal UTF-16 to UTF-8 conversions, but doing imprecise allocations was better for performance. (With jemalloc, allocations are imprecise anyway. With a precise allocator, it might be more interesting to attempt to do precise allocations.)

[2019-04-01 10:24] RReverser commented on #1313
Does WASM in Rust use jemalloc? AFAIK Rust switched from it to the system allocator by default, but now that I think about it, I'm not sure which allocator is considered "system" and included in the WASM target.

Although maybe most people use `wee_alloc` instead of the default one? Worth investigating.

[2019-04-01 10:58] alexcrichton commented on #1313
The wasm target does not use jemalloc, it uses a port of dlmalloc.

[2019-04-01 11:05] alexcrichton commented on #1409
I wonder if this is a case where our WebIDL we're using is out of date? The [source for these APIs](https://github.com/rustwasm/wasm-bindgen/blob/master/crates/web-sys/webidls/enabled/ImageCapture.webidl) doesn't list `grab_frame` and has a different signature of `take_photo` than what's documented on MDN. Would you be interested in looking to see if there's an updated version of the WebIDL we can

[2019-04-01 11:17] alexcrichton commented on #1411
Thanks for the report! Unfortunately though this isn't something that's possible today on the web. On the main thread you're not allowed to block, so once a `Promise` or a `Future` is used it needs to continue to be so all the way out to the outer JS and beyond.

[2019-04-01 11:17] #1411 closed

[2019-04-01 11:54] RReverser commented on #1313
Good to know. So, point stands - probably worth optimising for it and/or wee_alloc if we do try to take allocator characteristics into account.

Alternatively, I'd rely on bucket allocators to already round up any allocations to the bucket size and then `realloc` that stays within the bucket is essentially no-op, so we probably don't need to try and do that manually.

[2019-04-01 12:45] c410-f3r opened #1415 "Can we have a CI check for code formatting?"
It is not rare to work on a feature, run `cargo fmt` and see many unrelated files being formatted. Is anything preventing the enforcement of code formatting in CI with the default `rustfmt` rules?

[2019-04-01 12:58] alexcrichton commented on #1415
A good question! We used to have this but we turned it off because it was too much of a hassle on CI to keep up with. That being said we're more than willing to take PRs with a commit to rustfmt everything, and PRs that rustfmt everythign are also ok! We should probably update the README/CONTRIBUTING to reflect this...

[2019-04-01 17:58] alexcrichton commented on #1399
Out of curiosity, since I think that a lot of code duplication would be required here is there perhaps one or two signatures which would hit 90% of use cases? For example would `FnMut(&T)` be enough to cover basically everything?

[2019-04-01 18:24] Pauan commented on #1399
@alexcrichton It would certainly cover our particular use case (of event listeners). Though we would need `FnOnce(&T)` as well. So that's 2 signatures.

[2019-04-01 19:49] mahadeer13 commented on #1409
Yes i would love to.  But to be very honest am completely new to the term WebIDL. So where should i start?

[2019-04-01 20:43] alexcrichton commented on #1409
@fitzgen where was it again you pulled all the original WebIDL from?

[2019-04-01 21:02] fitzgen commented on #1409
https://searchfox.org/mozilla-central/source/dom/webidl

[2019-04-01 21:24] mahadeer13 commented on #1409
Seems like they have the old one too.

[2019-04-01 21:31] alexcrichton commented on #1399
Ok I've posted an initial idea of this in https://github.com/rustwasm/wasm-bindgen/pull/1417

[2019-04-02 01:11] Pauan commented on #1411
@MarcAntoine-Arnaud Basically, what that means is that once you start using Promises/Futures, you have to *keep* using Futures all the way, you can't "unwrap" it to get the value.

However, it is possible to use [`spawn_local`](https://rustwasm.github.io/wasm-bindgen/api/wasm_bindgen_futures/fn.spawn_local.html) to run a Future.

By doing that, it's now possible to access the `Branch`, like this:

[2019-04-02 15:01] hsivonen commented on #1348
The [original issue](https://github.com/Pauan/rust-dominator/issues/10) cites emoji input, not Chinese. Are you actually able to reproduce this with Chinese? (Perhaps by enabling HKSCS characters in Microsoft Bopomofo (in pre-Windows 10 "Advanced" settings); I have no idea how to type Hong Kong characters with a Mandarin pronunciation-based IME. Or more obviously, by enabling HKSCS characters in M

[2019-04-02 15:49] alexcrichton commented on #1409
@mahadeer13 maybe you could check other browsers? Is this feature implemented in Firefox?

[2019-04-02 16:16] cretz opened #1418 "Invalid `init` Function Code for Passing in Arraybuffer"
Please see the following code: https://github.com/rustwasm/wasm-bindgen/blob/a1c457bd152f24bc51eea14bd9cf0f3913f7e74b/crates/cli-support/src/js/mod.rs#L891-L903

The result of `instantiate` according to [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/WebAssembly/instantiate) is `ResultObject`, not just `Instance` as is assumed here. I have to patch this to ac

[2019-04-02 16:19] cretz commented on #1418
Actually this appears fixed there and is just invalid in my current wasm-pack. Disregard for now, thanks.

[2019-04-02 16:56] cretz commented on #1418
Ok, reopening, having trouble with latest on Windows. For the simple wasm from a `cargo build --target wasm32-unknown-unknown`:

    # C:\Users\chad.retz\AppData\Local\.wasm-pack\wasm-bindgen-9a795696ca119c40\wasm-bindgen.exe --version
    wasm-bindgen 0.2.40 (7392df8a3)

    C:\Users\chad.retz\AppData\Local\.wasm-pack\wasm-bindgen-9a795696ca119c40\wasm-bindgen.exe target\wasm32-unknown-unknown\de

[2019-04-02 20:00] Pauan commented on #1348
I haven't tested it, though all Unicode characters above a certain point use surrogate pairs, and the issue is about surrogate pairs, so I would expect it to behave the same. Maybe it doesn't, though.

I'll work on creating a reduced test case!

I don't think that's true: the user can input text anywhere in the `<input>` (not just as the last character!)

We have no plans to use `OsStr` (or WTF-8,

[2019-04-02 20:19] mahadeer13 commented on #1409
@alexcrichton My bad.  These are an experimantal features only works in chrome for now.

[2019-04-02 20:46] #1390 closed

[2019-04-02 20:57] alexcrichton commented on #1409
No worries!

In that case for now I'm going to close this since we're only adding standardized APIs to js-sys/web-sys for now.

Note though that you can always bind the API locally in your crate without the assistance of web-sys, it'd look like:

[code]

(etc)

[2019-04-02 20:57] #1409 closed

[2019-04-02 21:20] alexcrichton commented on #1418
Thanks for the report! Definitely looks like a bug and should be fixed in #1419

[2019-04-02 21:35] Pauan commented on #1348
Okay, I created a reduced test case: http://paaru.pbworks.com/w/file/fetch/132853233/input-bug.html

I tried to reproduce it with Chinese, but I wasn't able to.

It turns out that Chinese characters are *not* encoded with surrogate pairs, since they're in the BMP. So it's only [very rare historical Chinese characters](https://en.wikipedia.org/wiki/Plane_(Unicode)#Supplementary_Multilingual_Plane)

[2019-04-02 21:41] #1418 closed

[2019-04-02 21:51] mahadeer13 commented on #1409
Yes thanks for the suggestion, but i'm trying to create some benchmark on drivers using WebSys and Native JavaScript. So i prefer the Rusty way, with just two lines of JS Code.

Or maybe from what you say, every web_sys is going to call the native javascript method again?

[2019-04-02 22:11] Pauan commented on #1409
@mahadeer13 Yes, the APIs only exist in JS (not wasm), so every time you call a `web_sys` (or `js_sys` or `wasm_bindgen`) API it will make a call into JS.

[2019-04-02 22:18] mahadeer13 commented on #1409
@Pauan Thanks.

[2019-04-03 05:45] hsivonen commented on #1348
Thank you. Confirmed with the Windows 10 touch keyboard and Firefox.

However, the emoji picker integrated into the Microsoft Pinyin IME does not reproduce this problem, which suggests that the touch keyboard is trying to generate the text using a non-IME iterface to the app.

I mentioned HKSCS in my previous comment, because some Hong Kong characters that may be rare but not necessarily historica

[2019-04-03 05:46] hsivonen commented on #1348
I should mention that none of these appear to expose an unpaired surrogate in Firefox.

[2019-04-03 06:07] hsivonen commented on #1348
Entering astral characters with Microsoft Bopomofo doesn't appear to expose unpaired surrogates. (To test: In IME properties under Output Settings in Character Set, set the radio button to Unicode and check all boxes. Then type e.g. 1i6, press down arrow, press right arrow and then use the arrow keys and enter to choose any of the red characters in the palette.)

[2019-04-03 09:14] hsivonen commented on #1348
[Gecko bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1541349), [Chrome bug](https://bugs.chromium.org/p/chromium/issues/detail?id=949056)

[2019-04-03 12:51] hpohl opened #1420 "Panic when used on .wasm built with -C link-arg=--shared"
When trying to use `wasm-bindgen` on a .wasm file built with `-C link-arg=--shared`, it panics when using closures.

### Steps to Reproduce

[code]

### Additional Context

Using the latest wasm-bindgen from github also panics, but at a different location.

[2019-04-03 15:48] alexcrichton commented on #1420
Thanks for the report!

I suspect there's definitely bugs in `wasm-bindgen` supporting the `--shared` mode, but I also think that the `--shared` support in LLD right now is probably buggy. AFAIK the position-independent-code support in LLVM for wasm is seeing a lot of development in LLVM master right now and the version that Rust is using isn't ready to go.

Could you elaborate a bit on what you'r

[2019-04-03 20:54] hpohl commented on #1420
True, it's in active development and I wanted to try out the work done recently in LLVM/LLD so I'm working with a locally built rust compiler based on the latest LLVM master (9.0.0). So far it's looking promising :)

We are looking into loading our library dynamically instead of statically to not have to recompile the main app every time and to ship updates faster. For that use case the JS output

[2019-04-03 21:57] alexcrichton commented on #1420
Nice! Can you gist a wasm binary that you're generating with your custom toolchain for the above program? (aka what comes out of rustc)

The one I generated locally with beta/nightly looked like it was incorrectly passing along relative indices to the imported function rather than adding the local index to the global offset. We'll need to handle that internally in wasm-bindgen, but that's where I

[2019-04-03 22:50] hpohl commented on #1420
Will do tomorrow! Don't have it here right now.

[2019-04-03 23:10] lirhtc opened #1421 "How can I store a vector of JS object references"
### Summary

Is there a way I can store JS references into a vector? I have tried to store a vector of JS object but I always got an error saying _explicit lifetime required_. But I don't know where can I add the lifetime decorator.

### Additional Details

I have an JS object which has a property 'mass'. I defined the object in rust as:

[code]

To store the JS object in rust, I create a struct c

[2019-04-03 23:21] Pauan commented on #1421
Using `Vec<Shape>` should work fine: the types created by wasm-bindgen are already references (at least internally), so you don't need the `&`.

If you want to use a `Shape` in multiple places, you can explicitly call `shape.clone()` (this is very fast, since it doesn't actually copy the object, it just increments the reference).

[2019-04-04 09:07] hpohl commented on #1420
https://gist.github.com/hpohl/b508d4b43d1168f13e0cebf89b5ffa79

[2019-04-04 11:50] dandyskull1 opened #1422 "Cannot use #[wasm_bindgen] on impl outside of root crate"
I get the error: Error[E0658]: The attribute `__wasm_bindgen_class_marker` is currently unknown to the compiler and may have meaning added to it in the future (see issue #29642)
--> src/windowUtils3.rs:23:5

The error only happens for Implementations (as far as i know), in modules other than main, the same code that produces an error works fine in lib.rs but not inside a module in lib.rs or separa

[2019-04-04 12:36] lirhtc commented on #1421
Thanks @Pauan for the suggestion and explanation . That does solve the problem for me.

[2019-04-04 12:36] #1421 closed

[2019-04-04 14:28] alexcrichton commented on #1420
Ok that indeed looks correct! What I see there is:

[code]

(notice the `i32.add (global.get ...)`)

When looking at the current toolchain with `--shared` I see:

[code]

which doesn't have the `global.add`!

That `wasm-bindgen` breaks with LLVM 9 though is quite worrisome! The `dylink` section I don't know much about and I think is very new. If it needs to be at the start we need to likely add su

[2019-04-04 14:55] hpohl commented on #1420
Here you go: https://github.com/hpohl/rust.

[2019-04-04 18:42] #1422 closed

[2019-04-04 18:47] alexcrichton commented on #1420
Ok it looks like https://bugs.llvm.org/show_bug.cgi?id=41383 is at least one upstream LLVM bug causing issues, and it looks like when that's fixed we should work by default, but still be incompatible with position independent code

[2019-04-04 18:55] alexcrichton commented on #1420
Hm no that's a bad bug as I had the wrong LLVM build used, let me try again locally...

[2019-04-04 20:31] alexcrichton commented on #1420
Ok so the bug for the default output of the target is that wasm32-unknown-unknown is still configured to use "pic" as its relocation model for LLVM, meaning it's accidentally switching to the experimental PIC output for LLVM 9, and I've fixed that in https://github.com/rust-lang/rust/pull/59712.

I don't really know much about the PIC story or how it's all supposed to end up, so for now I think th

[2019-04-05 13:16] hpohl commented on #1420
Alright! Can you guess how much work needs to be done and if it's limited to wasm-bindgen to get something working right now? I'm considering looking into it myself even though it's rather unstable right now.

[2019-04-05 13:25] #1415 closed

[2019-04-05 15:12] #1348 closed

[2019-04-05 15:21] alexcrichton commented on #1420
I'm honestly not entirely sure how much work needs to be done to get this 'truly working'. Small bits and pieces could get working here and there, but it seems like the purpose of PIC code is to touch on the subject of splitting wasm modules and having them dynamically load one another. That whole scenario we've given very little thought to in Rust and WebAssembly, and so almost no questions have

[2019-04-06 02:35] DenialAdams opened #1426 "why isn't IntoWasmAbi impl for Box<[usize]>and Box<[isize]>?"
### Summary

Since IntoWasmAbi is implemented for usize (which I think is u32 on wasm?), u32, i32, Box<[u32]>, and Box<[i32]>: shouldn't it be implemented for Box<[usize]> and Box<[isize]>? Looking at the source, I suppose this question also applies for all the other WasmSlice types

### Additional Details

Filing as a question, because I'm probably missing something :)

[2019-04-06 02:50] DenialAdams commented on #1426
I'm going to add another question if that's ok :o

Why does this work:
[code]

but no this?
Why does this work:
[code]

I get the error message `the trait bound `std::boxed::Box<[u8]>: std::marker::Copy` is not satisfied`. But if we can pass a Box<[u8]> without an issue when it is alone, why can't we pass it in a struct?

[2019-04-06 16:49] hpohl commented on #1420
I understand. My case should be very basic still so maybe I will give it a shot. From what I have seen the JS bindings don't need many changes to get them to work and the dynamic loader I can somewhat base on the emscripten dynamic loading code.

[2019-04-07 19:09] koute opened #1427 "Add `wasm_bindgen::function_table()`"
So I finally started implementing `wasm-bindgen` compatibility in `stdweb`, [and it works](https://github.com/koute/stdweb/tree/master/examples/wasm-bindgen-minimal)! It is however not yet entirely functional - for that I need access to the function table of the WASM's module. In [the RFC](https://github.com/rustwasm/rfcs/blob/master/text/006-local-js-dependencies.md) it was said that an extra `wa

[2019-04-07 21:14] dakom opened #1428 "How to call function on an object?"
### Summary

Given a `js_sys::Object`, how do you call one of its functions?

### Additional Details

Specifically I get a webgl extension via https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.WebGlRenderingContext.html#method.get_extension

After extracting the inner object, I want to call its functions from Rust (e.g. https://developer.mozilla.org/en-US/docs/Web/API/ANGLE_instanced_arra

[2019-04-07 23:09] montag opened #1429 "Enabled RtcStatsReport has unimplemented maplike interface"
### Describe the Bug

`RtcPeerConnection.get_stats()` returns a `Promise` which resolves to `RtcStatsReport`. However `RtcStatsReport` is an odd `maplike` interface that is enabled but not yet implemented.

[code]
first_pass.rs
[code]
### Steps to Reproduce

1. Create an active `RtcPeerConnection` (pc)
2. Resolve the promise on `pc.get_stats()`
3. Attempt to use `RtcStatsReport` methods.

Example:

[2019-04-08 03:31] Pauan commented on #1428
@dakom You can use `Reflect::get` to access the members and then `Reflect::apply` to call them.

But that's pretty terrible (and slow), so a much better approach is to create some bindings for it:

[code]

Then you can convert your `Object` into an `AngleInstancedArrays` by using this:

[code]

----

@alexcrichton @fitzgen Can we somehow auto-generate bindings for the WebGL extensions? There is [I

[2019-04-08 10:57] c410-f3r commented on #1394
@xarus01 I am also having trouble with `examples`. Are you still working on this issue?

[2019-04-08 14:25] alexcrichton commented on #1426
Thanks for the report @DenialAdams! For the first question, I think it may just be an accidental omission. Would you be interseted in sending a PR for adding these impls?

For the latter question all struct fields must currently be `Copy` if they're `pub` to be exported to JS

[2019-04-08 14:33] DenialAdams commented on #1426
Yes, I'll try working on a PR myself. Thanks for following up!

I understand that Copy is required, but I'm not understanding why it's
required. Specifically: if we can return a value of type Foo that does not
impl Copy, what is preventing us from returning that same value in a
struct? i.e. what changes when the value is in a struct?

And finally, what's the workaround if I need to return multiple

[2019-04-08 14:37] alexcrichton commented on #1426
Calling `clone` can be accidentally very expensive or otherwise cause surprising behavior because state is duplicated (not necessarily in the case of `String`, but in the general case). As a result we wanted to make sure that a call to `clone` was explicitly written by the user rather than implicitly inserted by accident.

The intention is that instead of having a `pub` field you'd write a method

[2019-04-08 14:45] alexcrichton commented on #1427
Oops, sorry for the omission! I've pushed up https://github.com/rustwasm/wasm-bindgen/pull/1431 which should add this

[2019-04-08 14:47] alexcrichton commented on #1428
I think this is a duplicate of https://github.com/rustwasm/wasm-bindgen/issues/1257, so I'm going to close in favor of that (but cc @Pauan's excellent answer over there) and the general problem for supporting this is tracked at https://github.com/rustwasm/wasm-bindgen/issues/893 which I think https://github.com/rustwasm/wasm-bindgen/pull/1405 may help start paving the path towards implementing.

[2019-04-08 14:47] #1428 closed

[2019-04-08 14:47] alexcrichton commented on #1257
[In a duplicate issue](https://github.com/rustwasm/wasm-bindgen/issues/1428#issuecomment-480671336) @Pauan has an excellent explanation of how to work around this temporarily

[2019-04-08 15:59] derekdreery opened #1432 "OOM crash on chromium using the `url` crate."
### Describe the Bug

OOM crash on chrome with reasonable-looking code.

### Steps to Reproduce

1. `$ git clone https://github.com/derekdreery/dodrio-realworld-starter-kit.git`
2. `$ git checkout e6c51ddd9ef63d6a54f6eedc7c742283e8fb1bc5`
3. `$ cd wasm-history`
4. `$ wasm-pack test --headless --chrome`

### Expected Behavior

Tests run fast and pass

### Actual Behavior

OOM crash of chromium. I k

[2019-04-08 16:00] derekdreery commented on #1432
This problem arose during https://github.com/rustwasm/gloo/issues/70

[2019-04-08 17:42] #1427 closed

[2019-04-08 19:51] montag commented on #1394
To run the examples from the repo, you can build the cli in /crates/cli and then add the binary to your path.

[2019-04-09 08:09] derekdreery commented on #1258
Hey @RReverser is there somewhere I can see your work on writing the serde (de)serializers? They sound awesome!

[2019-04-09 11:22] RReverser commented on #1258
It's effectively ready (feature-complete), but I'm trying to use it in our real internal app (Cloudflare Worker) before open-sourcing. Should be out soon!

[2019-04-09 16:30] alexcrichton commented on #1432
Running without `--headless` and opening this in Chrome does indeed crash the tab. (works in Firefox). This seems like it may be a Chrome bug rather than a wasm-bindgen bug, but can you perhaps try to minimize it to see what's triggering the issue?

[2019-04-10 01:40] c410-f3r commented on #222
I will work on it. Any tips for this issue, @alexcrichton ?

[2019-04-10 14:19] alexcrichton commented on #222
Sure! I think a rough set of steps for implementing this would be:

1. Update the [shared definition](https://github.com/rustwasm/wasm-bindgen/blob/b670ea44d029b455e71245b94fb532b90df17fd8/crates/shared/src/lib.rs#L89-L97) of `Export` between the macro and the CLI. We probably want to delete the `is_constructor` field and instead include `kind: MethodKind<'a>`.
2. Next we'll need to update the mac

[2019-04-10 15:06] ZacLiveEarth opened #1433 "Implement PartialEq for JS all the things"
### Motivation

I have, eg: a js_sys::JsString or a js_sys::Array and would like to put them into a struct with #[derive(PartialEq)]

### Proposed Solution

Wrappers over js values would implement PartialEq by first comparing the heap pointer for equality and if unequal fall back to calling a javascript function which returns a strict equality comparison (Special consideration may need to be made

[2019-04-10 16:52] Pauan commented on #1433
I assume this is suggested for the sake of performance. I'm not sure if it would actually be faster in practice, but I guess we can find out.

For the actual equality test, we can use [`Object::is`](https://rustwasm.github.io/wasm-bindgen/api/js_sys/struct.Object.html#method.is), which handles all the sticky nuances correctly (though it does distinguish `-0` and `+0`, which may not be desired).

[2019-04-10 18:24] ZacLiveEarth commented on #1433
It should be noted that `Object.is` and strict equality `===` are [not quite the same](https://stackoverflow.com/a/30543212/6748328).  In my limited experience, I would guess most developers to expect strict equality for PartialEq as it is more widely used in js code.

I was thinking of something like this in the generated js file...

`export function __wbindgen_strict_equality(arg0, arg1) { retur

[2019-04-10 18:31] Pauan commented on #1433
Indeed I am aware of that. I think `Object.is` is the correct choice.

What trampoline are you referring to?

[2019-04-10 18:42] ZacLiveEarth commented on #1433
I was borrowing the word trampoline from [this article](https://hacks.mozilla.org/2018/10/calls-between-javascript-and-webassembly-are-finally-fast-%F0%9F%8E%89/), but thunking probably would have been a better choice. What I meant was the cost of swapping between wasm and js, which with wasm-bindgen infers grabbing something out of an array...  To my understanding this means inferring multiple po

[2019-04-10 19:43] ZacLiveEarth opened #1435 "Parallel Raytracing demo broken"
### Describe the Bug

Visiting [this page](https://rustwasm.github.io/wasm-bindgen/exbuild/raytrace-parallel/) the button for rendering never activates, but instead shows "Loading wasm..." indefinitely.

### Steps to Reproduce

Load the page after enabling shared memory buffers

### Additional Context

In Firefox, the console reports this...

[code]

[2019-04-10 21:17] alexcrichton commented on #1433
I think I would agree that all types in `js_sys` (and probably `web_sys` eventually) should implement `PartialEq`, and I think we can just do that with `#[derive(PartialEq)]` on all the annotations (they already have `Debug` and whatnot)

Currently that'd delegate to `PartialEq for JsValue` which uses `===` instead of `Object.is` as @Pauan recommends, but we should be able to easily switch that! I

[2019-04-10 21:29] alexcrichton commented on #1435
Note that the demo currently requires Firefox Nightly and for a few features to be enabled. It does its best job to alert you to this if it's not working, but it seems to clearly not be working!

[2019-04-10 21:29] alexcrichton commented on #1435
(and FWIW in nightly the demo continues to work for me tonight, so this is likely a local configuration issue)

[2019-04-11 04:32] nstoddard opened #1436 "KeyboardEvent::key() and code() don't work in wasm-bindgen 0.2.41 in Firefox"
### Describe the Bug

In wasm-bindgen 0.2.41, `KeyboardEvent::key()` and `::code()` always return the empty string. In 0.2.40 they worked fine. I'm not sure whether this bug is in wasm-bindgen, web-sys, or another related crate.

### Steps to Reproduce

1. Compile and run https://github.com/nstoddard/webgl-gui-demo
2. Press one of the arrow keys

### Expected Behavior

The arrow keys should move t

[2019-04-11 09:22] ibrahimpmahmood opened #1437 "No documentation found 404"
### Describe the Bug

The documentation was removed or moved somewhere(If so, is undocumented 🥇)

### Steps to Reproduce

1. Go to 'https://rustwasm.github.io/docs/wasm-bindgen/'
2. See error

### Expected Behavior

Should go to the documentation and show examples.

### Actual Behavior

Gives 404 error.

### Additional Context

Was there a recent bad merge that happened?

[2019-04-11 11:26] lykhouzov opened #1438 "draw_elements Example"
### Summary

Hello. I am trying to learn wasm with rust and trying convert[ tutorial example](https://www.tutorialspoint.com/webgl) from JS to Rust.
In examples of the crate we have one to draw triangle with `draw_array` but no examples for `draw_elements_with_i32` or `draw_elements_with_f64`.

My attempt is following (js example is taken from [here](https://www.tutorialspoint.com/webgl/webgl_draw

[2019-04-11 11:40] c410-f3r commented on #222
@alexcrichton Oh, this is plenty. Thanks!

[2019-04-11 11:51] qt911025 opened #1441 "Explicitly add ".wasm" extension when importing wasm file in bundle target"
## 💡 Feature description
When Parcel resolves generated pkg as a dependency, it cannot recognize "generated_pkg_bg" as a wasm file like what Webpack can do. Adding wasm extension explicitly can archive the compatibility.

There are plugins and built-in support in Parcel to resolve rs file or "Cargo.toml" directly, but this is fit for building components in a project, not for using package. Besides

[2019-04-11 12:36] KronicDeth opened #1439 "wasm-bindgen-macro v0.2.41 conflicting implementations of trait convert::traits::IntoWasmA"
### Describe the Bug

error[E0119]: conflicting implementations of trait `convert::traits::IntoWasmA` in `wasm-bindgen-macros` 0.2.41` that were not present in `0.2.41`.

### Steps to Reproduce

rustc 1.34.0-nightly (852701ad6 2019-02-01)
cargo 1.34.0-nightly (245818076 2019-01-27)
rustup 1.16.0 (beab5ac2b 2018-12-06)
wasm-bindgen-macro 0.2.41

1. Use rustc/cargo nightly
2. Use wasm-bindgen 0.2.41

[2019-04-11 12:57] KronicDeth commented on #1439
Doing `rustup update` to

[code]

fixed the problem.  I'll regenerate the Docker image to update it's version to fix the CI.  Sorry for the noise.  Guess this might someone else that updated their deps without nightly at least.

[2019-04-11 12:57] #1439 closed

[2019-04-11 13:03] Pauan commented on #1433
Oh, okay, but those wrappers don't exist (since they've been optimized out already).

And using `Object.is` will probably be faster than `===` (because it can call directly to the host function, without going through a JS function at all).

Also, the wasm-bindgen heap will be going away (it will be replaced with a wasm table and `anyref`).

So I wouldn't worry about any of that right now. That see

[2019-04-11 13:58] alexcrichton commented on #1441
Thanks for the report! This has historically been brought up in https://github.com/rustwasm/wasm-bindgen/issues/1133 and https://github.com/rustwasm/wasm-bindgen/pull/1059, but it's unfortunately pretty tricky to do for various reasons. In any case I've moved this issue over to the wasm-bindgen repo as I think the issue is with wasm-bindgen, not wasm-pack.

[2019-04-11 14:11] alexcrichton commented on #1437
Thanks for the report! Should be fixed now although may take a few more minutes for caches to empty

[2019-04-11 14:11] #1437 closed

[2019-04-11 14:27] alexcrichton commented on #1436
Thanks for the report! Looks like this is an accidental regression from https://github.com/rustwasm/wasm-bindgen/pull/1414 (cc @RReverser ) which shoudl be fixed in https://github.com/rustwasm/wasm-bindgen/pull/1442

[2019-04-11 14:34] #1436 closed

[2019-04-11 15:23] ibaryshnikov opened #1443 "Atomics and SharedArrayBuffer support"
### Motivation

There is no `Atomics` and `SharedArrayBuffer` objects in `js_sys` yet. Adding them will be helpful for #1379

[2019-04-11 15:25] alexcrichton commented on #1433
Excellent points @Pauan! I've posted an idea of what this might look like at https://github.com/rustwasm/wasm-bindgen/pull/1444

[2019-04-11 15:46] ZacLiveEarth commented on #1433
I work on a system that animates and renders 200,000+ entities every 16ms while concurrently streaming up to 750,000 updates to the world state per second. Cache misses, lock-free threading and the like are my life. At present, I'm porting that system to web... which isn't quite at that level yet. When people say 'premature optimization', I feel these words are often used to shut down legitimate c

[2019-04-11 15:50] alexcrichton opened #1445 "Remove `extends = Object` from `js_sys::{Number,JsString}`?"
In https://github.com/rustwasm/wasm-bindgen/pull/1405 we seem to be leaning towards `JsString` both representing the native `String` class as well as the string primitive in JS. I suspect we'd want to do the same for `Number` too!

Currently, though, both these types inhereit from `Object` which means they `Deref` to `Object`. If we use native strings in `JsString` (which we actually already do) t

[2019-04-11 15:50] alexcrichton commented on #1445
cc @Pauan, you've likely got thoughts on this!

[2019-04-11 16:02] Pauan commented on #1433
I certainly wasn't trying to do that!

I merely said that the situation is currently in flux (and is changing rapidly, and will change more in the future), so any performance improvements made now might be invalidated soon.

In addition, *all* optimizations (whether premature or not) must be backed by evidence (such as benchmarks, ideally of a real program), because otherwise it might make perform

[2019-04-11 16:26] ibaryshnikov commented on #1443
I'd like to send a pr for this

[2019-04-11 17:35] ZacLiveEarth commented on #1433
Thanks @Pauan, I appreciate that response a lot.

[2019-04-11 17:43] RReverser commented on #1445
This is still fine, as they do inherit all the methods from `Object`.

[2019-04-11 17:51] RReverser opened #1446 "Soft-deprecate `Number::new` and `Boolean::new`"
### Motivation

Boxed primitives are extremely rare and unidiomatic in real-world JavaScript, and cause more problems to support than worth it.

### Proposed Solution

As discussed in #1405, we would want to deprecate `fn new` on `Number` and `Boolean` to discourage use of boxed primitives, probably in favour of adding `From<f64>` and `From<bool>` implementations correspondingly (which will create

[2019-04-11 17:52] RReverser commented on #1446
cc @Pauan @alexcrichton

[2019-04-11 18:02] alexcrichton commented on #1446
This seems reasonable to me!

[2019-04-11 18:10] ZacLiveEarth commented on #1435
Ah, yes. I was on the beta channel, not the nightly channel. It turns out once you enable the shared memory buffer, the page no longer warns you to switch to nightly. This is minor, closing.

[2019-04-11 18:10] #1435 closed

[2019-04-11 18:25] Pauan commented on #1445
My thoughts on this are rather nuanced, so I'll need a bit of time to formulate a response, but @RReverser is correct that the `Object` methods should continue to work fine.

[2019-04-11 19:31] nstoddard commented on #1438
If I understand this correctly, in this code `Float32Array` treats all of the memory allocated to wasm as a large array of floats, and `subarray`'s arguments are indices into the array. Since floats are 4 bytes, it divides by 4 to compute the index from the memory address.

The problem seems to be in the line `let arr_location: u32 = indices.as_ptr() as u32 / 4;`. Since WebGL indices are 2 bytes,

[2019-04-11 20:07] alexcrichton commented on #1445
Ah ok intersting! I was unware of that :)

I'm gonna go ahead and close this, but @Pauan if you feel there's action that we need to take here a new issue/PR would be good!

[2019-04-11 20:07] #1445 closed

[2019-04-11 20:34] lykhouzov commented on #1438
Thank you a lot @nstoddard
now it works. finally.
But also i have to use `u16` slice instead of `i32`;
so
[code]

So thanks a lot

[2019-04-11 21:26] alexcrichton commented on #1438
Glad it's working! Since so I'm gonna go ahead and close this, but we can of course reopen if there's more issues.

[2019-04-11 21:26] #1438 closed

[2019-04-12 15:50] #1446 closed

[2019-04-12 15:51] Pauan commented on #1445
Well, I had a detailed reply all written up, but after thinking about it, I like the current plan better: shift `Number`/`Boolean`/`String` to use primitives, but continue to have them extend from `Object`.

[2019-04-12 16:03] alexcrichton commented on #1433
Done in https://github.com/rustwasm/wasm-bindgen/pull/1444!

[2019-04-12 16:03] #1433 closed

[2019-04-12 16:42] #1426 closed

[2019-04-12 17:50] #1367 closed

[2019-04-12 17:50] #1370 closed

[2019-04-12 19:39] RReverser commented on #1366
@alexcrichton I've also just noticed that current implementation of `Object::try_from` is also wrong due to this issue (it assumes that any object inherits from `Object` prototype, but it's not true).

[2019-04-12 19:52] alexcrichton commented on #1366
I'll admit that I don't think I know enough about JS to know what to do about this issue, but a PR would be most welcome to fix the state of affairs!

[2019-04-12 21:49] RReverser commented on #1366
I guess the hardest part of this would be to figure out naming in a way that wouldn't be too confusing (in JS it's `object` as a value type vs `Object` as a class).

[2019-04-12 23:33] Pauan commented on #1366
I believe the correct check for whether something is an object or not is `Object(foo) === foo` (note the *lack* of `new`, which is very important!)

[2019-04-13 00:35] RReverser commented on #1366
That performs unnecessary boxing of primitives and I'm not sure what you're gaining over current `JsValue::is_object`.

My suggestion was only about splitting interfaces, but keeping the checks as they already are.

[2019-04-13 00:59] derekdreery commented on #1432
@alexcrichton I also found unexpected behavior in firefox. The test took about 10s to run. Without using the URL crate tests run in about 5ms. It feels like there is a problem in firefox as well for me, but I'm interested if other people see the same behavior.

[2019-04-13 01:03] RReverser commented on #122
As another use-case, I think tuples support could improve interfaces for js-sys iterators too.

In particular, `.entries()` on `Map` / `Set` / `Array` could produce an iterator over tuples of `(JsValue, JsValue)` right away instead of users having to repeat same boilerplate with `JsArray` + `Reflect::get_u32(..., 0)` + `Reflect::get_u32(..., 1)` to extract key and value on each iteration.

[2019-04-13 08:59] Pauan commented on #1366
@RReverser There's some things which are objects but aren't `typeof "object"`, such as regexps (in some browsers), and functions.

So at the very least, it would need to be changed to a blacklist (anything that isn't a primitive is assumed to be an object).

But that has its own share of issues, such as if ECMAScript adds in a new primitive (which they did, with `Symbol`).

So `Object(foo) === foo

[2019-04-13 10:43] RReverser commented on #1366
I think the last time this happened was in IE5 (6?) and we already don't support these browsers due to other APIs we rely on. I'd rather target spec-compliant implementations.

This is a good point. But given that `JsString` / `Number` / `Boolean` all extend from `Object ` (that is, automatically `Deref` to it), this should still work as it does now?

[2019-04-13 12:03] Pauan commented on #1366
That's a fair point, though my point about functions still stands.

Yes, but it's rather strange: they claim to inherit from `Object`, and you can use `Object` methods on them, and you can cast them to `Object` with `into()`, but you can't use `dyn_into()`, and `instanceof` returns `false`!

[2019-04-13 12:30] RReverser commented on #1366
I guess functions are similar to other primitives mentioned below in this regard (in that they are not objects, but they inherit from `Object`).

This is true. I'm not sure what would be the best way to go about this yet.

For the "base prototype-less object" type the `is_type_of` check could be as simple as checking that the value is not `null`/`undefined` - then it's guaranteed to either be an `

[2019-04-13 12:32] RReverser commented on #1366
On the other hand, same applies to working with these values in JavaScript itself too, so maybe it's not a big deal?

[2019-04-13 13:43] Pauan commented on #1366
Actually, unlike the primitives, functions are *true* objects: you can set properties on them, and they retain them:

[code]

Not quite, since JS doesn't need `dyn_into`, since it's dynamically typed. So this is really a Rust-specific problem. (However I agree that type checking is pretty crazy/inconsistent in JS in general)

I'm not entirely sure either, but given the existence of the primitives

[2019-04-14 03:28] bakkot opened #1452 "Stage 4 JS proposal: Symbol.prototype.description"
[This proposal](https://github.com/tc39/proposal-Symbol-description) got stage 4 at the [November 2018 meeting](https://github.com/rwaldron/tc39-notes/blob/be8c2af6d6dcfc9630e00ea15bbabf1a415245cb/es9/2018-11/nov-27.md#conclusionresolution-12), and is not yet implemented in `js-sys`.

See [spec text](https://tc39.github.io/ecma262/#sec-symbol.prototype.description) and [MDN docs](https://developer

[2019-04-14 03:28] bakkot opened #1453 "Stage 4 JS proposal: Object.fromEntries"
[This proposal](https://github.com/tc39/proposal-object-from-entries) got stage 4 at the [January 2019 meeting](https://github.com/tc39/tc39-notes/blob/master/es9/2019-01/jan-29.md#objectfromentries-for-stage-4), and is not yet implemented in `js-sys`.

See [spec text](https://tc39.github.io/ecma262/#sec-object.fromentries) and [MDN docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Ref

[2019-04-14 03:28] bakkot opened #1454 "Stage 4 JS proposal: Array.prototype.{flat,flatMap}"
[This proposal](https://github.com/tc39/proposal-flatMap) got stage 4 at the [January 2019 meeting](https://github.com/tc39/tc39-notes/blob/master/es9/2019-01/jan-29.md#arrayprototypeflatflatmap-for-stage-4), and is not yet implemented in `js-sys`.

See spec text for [`flat`](https://tc39.github.io/ecma262/#sec-array.prototype.flat) and [`flatMap`](https://tc39.github.io/ecma262/#sec-array.prototy

[2019-04-14 03:28] bakkot opened #1455 "Stage 4 JS proposal: String.prototype.matchAll"
[This proposal](https://github.com/tc39/proposal-string-matchall) got stage 4 at the [March 2019 meeting](https://github.com/rwaldron/tc39-notes/blob/master/es10/2019-03/mar-26.md#stringprototypematchall-for-stage-4), and is not yet implemented in `js-sys`.

See [spec text](https://tc39.github.io/ecma262/#sec-string-prototype-matchall) and [MDN docs](https://developer.mozilla.org/en-US/docs/Web/Ja

[2019-04-14 03:29] bakkot commented on #1453
I'd like to try my hand at preparing a PR for this.

[2019-04-14 15:44] dakom commented on #1428
type AngleInstancedArrays;

@Pauan Can you please explain a little more what's going on there?

The section from The Rust Book that talks about [type aliases](https://doc.rust-lang.org/beta/book/ch19-04-advanced-types.html#creating-type-synonyms-with-type-aliases
) doesn't seem to mention creating a type alias to nothing...

e.g. all the examples there have `type foo = bar` and I'm not clear on wh

[2019-04-14 17:35] Pauan commented on #1428
@dakom It's not a type alias, it's an extern type (it's inside of an `extern` block).

It's something [specific to wasm-bindgen](https://rustwasm.github.io/docs/wasm-bindgen/reference/types/imported-js-types.html), it's not used in Rust in general.

It basically says "create a new type in Rust, but it's actually a JS type, so internally it just uses `JsValue`".

It's basically just used to create

[2019-04-14 18:06] LaylConway opened #1457 "Bindings' long unformatted lines does not work well with RLS"
### Describe the Bug

RLS (and by extension vscode-rust) doesn't like really long lines. It expects the code to be formatted reasonably. This as a result causes some issues. Errors are shown about RLS not being able to tokenize long lines for performance reasons, and tooltips show the entire line, slowing down VSCode in the process:

![Code_2019-04-14_19-59-57](https://user-images.githubuserconten

[2019-04-14 20:45] koute opened #1458 "Running tests through `wasm-pack` doesn't work if JS snippets are used"
### Describe the Bug

Using JS snippets prevents `wasm-pack` from being able to run tests.

### Steps to Reproduce

1. Create a new crate.
2. Paste this into `Cargo.toml`:

[code]
3. Paste this into `src/lib.rs`:

[code]

4. Run:

[code]

### Actual Behavior

[code]

### Expected Behavior

I expect the tests to run.

### Additional Context

I need this to be able to run `stdweb`'s test suite. I co

[2019-04-15 13:42] RReverser commented on #1362
Another related issue which requires a breaking change: I've just noticed that `from_char_code{1...5}` take `u32` as an argument, but these methods should take `u16` instead.

@alexcrichton Are there any new plans for these breaking changes? Given how they start piling up, it really feels right to at least start a branch with them or something.

[2019-04-15 14:17] Pauan commented on #1362
Or at least a document listing all of them, so we don't miss any.

[2019-04-15 14:20] RReverser commented on #1362
@Pauan I guess `breaking-change` issue label currently serves that purpose relatively well - https://github.com/rustwasm/wasm-bindgen/labels/breaking-change - but it still might take time to actually implement all of them at once. Seems easier to start early and then rebase.

[2019-04-15 14:31] #1284 closed

[2019-04-15 14:56] alexcrichton commented on #1458
Thanks for the report!

This is actually sort of an extension of https://github.com/rustwasm/wasm-bindgen/issues/822 and is a relic of how the testing situation still has an unresolve question here between wasm-pack and wasm-bindgen that we haven't gotten around to fixing.

What's happening here under the hood is that each test binary (the wasm file) is either configured to automatically run in no

[2019-04-15 15:06] alexcrichton commented on #1457
Heh this is quite the interesting issue!

We actually [already have support](https://github.com/rustwasm/wasm-bindgen/blob/526b253b4790230e819aa78de21f03b94ec141bb/crates/web-sys/build.rs#L114-L124) for formatting the generated binding by setting the `WEBIDL_RUSTFMT_BINDING=1` env var, but we turned it off by default at the time it was added because the bindings were so large and executing `rustfm

[2019-04-15 15:11] alexcrichton commented on #1362
@RReverser want to open an issue about u32 -> u16 for these APIs as well?

And yeah, it's intended that the `breaking-change` label is a good bucket for "we'd like to change this in the future"

[2019-04-15 15:17] RReverser opened #1460 "JsString::from_char_code1 and family should take u16 not u32"
`String.prototype.charCodeAt` can accept only UTF-16 code units which translate to `u16`, but current Rust bindings take `u32` instead.

This would be a breaking change.

[2019-04-15 15:18] RReverser commented on #1362
Sure, raised https://github.com/rustwasm/wasm-bindgen/issues/1460.

[2019-04-15 15:22] Pauan commented on #1457
@alexcrichton Also, we should change [the docs](https://rustwasm.github.io/wasm-bindgen/api/web_sys/) so they properly format things.

I often try to use the `[src]` link to see how a particular type/method is implemented, but right now it's completely useless.

[2019-04-15 16:52] alexcrichton commented on #1432
Ok I've done the best I can to reverse this, but this is unfortunately far deeper than wasm-bindgen. I do not personally have time to keep investigating this. If you're intersted in seeing this resolved it'd likely and LLVM/LLD/Chrome/v8 bug somewhere along the way, although I've got no idea where.  So far this program is what I've minimized it to which crashes in Chrome but passes in Firefox:

[c

[2019-04-15 16:52] #1432 closed

[2019-04-15 16:53] fitzgen commented on #1458
I never started work on resolving this impedance mismatch.

As a strawperson proposal for an end state resolution:

* Let's make wasm-bindgen-test generate code that does feature detection for where it is running in (don't remember exactly what this would entail)
* Allow both `wasm-pack test --node` and `wasm-pack test --firefox --headless` to work if the code doesn't depend on anything only prese

[2019-04-15 17:25] derekdreery commented on #1432
Thanks for looking into this!

[2019-04-15 17:36] #893 closed

[2019-04-15 17:36] #1257 closed

[2019-04-15 17:36] #1315 closed

[2019-04-15 17:36] #1457 closed

[2019-04-15 18:13] derekdreery commented on #1432
I've found that with release mode on your code (and the original) work fine! Out of curiosity I've done some more digging, and the code that gets generated (i.e. the wasm) is weird. (I'm not an expert and anything below may be incorrect).

I think the function that's doing it is [`tables::canonical_fully_decompose`](https://github.com/unicode-rs/unicode-normalization/blob/master/src/tables.rs#L178

[2019-04-16 14:04] alexcrichton commented on #1432
Ah yeah release mode "fixing" the bug makes sense, mostly because the test case isn't doing anything so LLVM is smart enough to remove everything. A massive match statement makes sense, I was looking for something like that! The behavior I saw was that simply including functionality (even if it wasn't called) would cause the tab to crash, and if it's a massive match statement that sounds like the

[2019-04-16 14:04] dtysky opened #1464 "Support public custom struct in custom struct"
### Motivation

Example:

[code]

In these code we define a struct `Vector` and use it as a member `position` in another struct `Transform`, there is no way to pass refer of `position` to javascript by 'wasm_bindgen' attribute.

But It's really a common scene, it had took me lots of time, at last i found this problem could be solved on pure javascript side, see 'Proposed Solution'.

### Proposed S

[2019-04-16 14:09] RReverser commented on #1258
Okay, file-size savings of WASM+Brotli look promising now too (used against benchmarks which parse/serialize a bunch of structures with either one or the other library):

  | json wasm+br | wasm-bindgen wasm+br | %
-- | -- | -- | --
Os | 118891 | 92339 | -22%
Os + strip | 100886 | 74141 | -27%
O3 | 129316 | 92541 | -28%
O3 + strip | 120387 | 83615 | -31%

Getting there!

[2019-04-16 14:58] alexcrichton commented on #1458
While `wasm-bindgen-test` does have code to detect if it's running in node/browsers I think it wouldn't solve this issue because tests in browsers may even fail the wasm-bindgen step when they're generating for node (aka the snippets issue). I'm realizing though [we have actually previously talked about this](https://github.com/rustwasm/wasm-bindgen/issues/822#issuecomment-421489851) so I'm gonna

[2019-04-16 17:42] #822 closed

[2019-04-16 17:42] #1458 closed

[2019-04-16 17:55] alexcrichton commented on #1375
I'm gonna go ahead and close this since I think the question was answered here, but let us know if there's anything still lingering!

[2019-04-16 17:55] #1375 closed

[2019-04-16 17:55] alexcrichton commented on #1365
I'm gonna go ahead and close this since it's a bit old at this point, but if there's anything else just let us know!

[2019-04-16 17:55] #1365 closed

[2019-04-16 17:56] alexcrichton commented on #1335
I'm gonna close this for now since I think the original question was answered and there's not a ton much else we can do about this, but let us know if there's anything else!

[2019-04-16 17:56] #1335 closed

[2019-04-16 17:57] alexcrichton commented on #1354
This is a bit old now so I'm gonna go ahead and close this, but let us know if this resurfaces!

[2019-04-16 17:57] #1354 closed

[2019-04-16 17:57] alexcrichton commented on #1394
I'm gonna go ahead and close this in favor of https://github.com/rustwasm/wasm-bindgen/issues/1227

[2019-04-16 17:57] #1394 closed

[2019-04-16 17:59] alexcrichton commented on #1313
This was done originally in https://github.com/rustwasm/wasm-bindgen/pull/1414 and we can always follow up with further improvements if necessary!

[2019-04-16 17:59] #1313 closed

[2019-04-16 18:00] alexcrichton commented on #1386
I think I agree with @fitzgen here that this is best done in a separate crate for now rather than in `wasm-bindgen` itself, so I'm going to go ahead and close this.

[2019-04-16 18:00] #1386 closed

[2019-04-16 18:02] alexcrichton commented on #1022
I think this was effectively done in https://github.com/rustwasm/wasm-bindgen/pull/1281, so closing.

[2019-04-16 18:02] #1022 closed

[2019-04-16 18:04] alexcrichton commented on #771
I think we've documented this effectively enough in the meantime, so closing.

[2019-04-16 18:04] #771 closed

[2019-04-16 18:04] alexcrichton commented on #975
I'm gonna go ahead and close this in favor of https://github.com/rustwasm/wasm-bindgen/issues/1227 which I believe is the underlying issue here

[2019-04-16 18:04] #975 closed

[2019-04-16 18:06] alexcrichton commented on #1034
I believe this issue is now best served by https://github.com/rustwasm/wasm-bindgen/issues/446, so closingi n favor of that.

[2019-04-16 18:06] #1034 closed

[2019-04-16 18:06] alexcrichton commented on #1058
This is now done in [this directory](https://github.com/rustwasm/wasm-bindgen/tree/master/crates/cli/tests), so closing.

[2019-04-16 18:06] #1058 closed

[2019-04-16 18:07] alexcrichton commented on #1074
I'm gonna close this since I think it's a bit stale, but feel free to resubmit if it resurfaces!

[2019-04-16 18:07] #1074 closed

[2019-04-16 18:08] alexcrichton commented on #1087
We decided awhile back that we'd bind stage 4+ proposals, and it looks like this is currently stage 3 so I'm going to go ahead and close this.

[2019-04-16 18:08] #1087 closed

[2019-04-16 18:09] alexcrichton commented on #1079
I think this is now best done with functions like `Uint8Array::{copy_to,view}`, so I'm going to go ahead and close this.

[2019-04-16 18:09] #1079 closed

[2019-04-16 18:10] alexcrichton commented on #1122
I'm going to go ahead and close this because we're not going to switch to the unstable custom test framework infrastructure, but as soon as it's stable we'll switch over!

[2019-04-16 18:10] #1122 closed

[2019-04-16 18:11] alexcrichton commented on #1127
I think this is done now on master, so closing.

[2019-04-16 18:11] #1127 closed

[2019-04-16 18:11] alexcrichton commented on #1157
We've already added a few of these so I'm going to close this, and more are of course welcome at any time!

[2019-04-16 18:11] #1157 closed

[2019-04-16 22:33] RReverser commented on #1087
Nooo, I'm working on it in a branch, there is just a bunch of different changes needed. ;(

[2019-04-16 22:35] RReverser commented on #1386
Hmm, this can be hard to do in a separate crate in a way suggested above, because it needs to rewrite WASM itself in wasm-bindgen compatible manner...

But this is not an easy or short-term task so I guess it's fine to have it closed.

My only beef with closing long-standing issues is that it usually increases likelihood of someone not finding an open issue and raising exactly same suggestion.

[2019-04-17 07:48] dbrgn opened #1468 "Typescript files: Add docs for methods"
## 💡 Feature description

In the Typescript declaration files that are generated, the struct docstrings are included but the method docstrings aren't. It would be great if methods were documented too.

#### 💻 Basic example

Rust:

[code]

Current type declaration:

[code]

Desired type declaration:

[code]

[2019-04-17 13:59] alexcrichton commented on #1087
Oh that's still fine! I just figured we didn't need a tracking issue for something that's not quite ready yet, but there can always be a crate on crates.io that we pull in later

[2019-04-17 14:11] alexcrichton commented on #1464
Thanks for the report! Unfortunately this is quite difficult to support in wasm-bindgen due to the nature of the GC in JS. In your proposed solution, for example, the `Vector3` cannot live longer than `Transform` but there's nothing preventing that and it allows for a use-after-free.

It's possible for us to tie all these lifetimes together somewhat but then borrowing also gets really tricky. For

[2019-04-17 14:29] alexcrichton commented on #1468
Thanks for the report! I've transferred this issue to the `wasm-bindgen` repository since this is where the fix will go, but I believe this is definitely something we should fix!

[2019-04-17 14:37] RReverser commented on #1087
Wouldn't it be a bit inconsistent that wasm-bindgen already internally relies on BigInt for u64/i64 support, but doesn't expose explicit bindings to it?

This was the main motivation for this issue.

[2019-04-17 14:39] c410-f3r commented on #1468
`wasm-bindgen` already generates docs for JS and it shouldn't be too difficult to implement it for TS. If no one is going to take on this issue, I will gladly send a PR.

[2019-04-17 14:58] alexcrichton commented on #1468
Indeed yeah, and PRs are most welcome!

[2019-04-17 15:06] dtysky commented on #1464
@alexcrichton

Thanks for your detailed reply, I can understand what you are worry about, but these problems really confuse me, for example, what is the best way to  change the `position` of `Camera` and `Mesh` :

[code]

wasm_bindgen does not support `trait` now, and rust does not support `extends`, so I have to write many functions for each struct which has `Transform` using ugly procedure-orien

[2019-04-17 17:48] moshg opened #1471 "The type of the return of web_sys::MouseEvent::offset_* different from the spec"
spec: https://drafts.csswg.org/cssom-view/#extensions-to-the-mouseevent-interface
api doc: https://rustwasm.github.io/wasm-bindgen/api/web_sys/struct.MouseEvent.html#method.offset_x

[2019-04-17 18:26] alexcrichton commented on #1471
In the WebIDL [that we use to generate bindings](https://github.com/rustwasm/wasm-bindgen/blob/68e6b4f1875d190a8b12ce1dfe9e316884539587/crates/web-sys/webidls/enabled/MouseEvent.webidl#L25) this is listed as `long` rather than `double`, so there's definitely a discrepancy!

I'm not entirely sure myself what the source of truth is, but out of curiosity did this cause issues for you locally?

[2019-04-17 19:06] moshg commented on #1471
No. This is just my curiosity.

I found this when I was following the link of the api doc. I think we should change the signature or the link (is there a document that says the return type is `long`?), remove the link or write the reason of discrepancy on the api doc.

[2019-04-18 04:48] Pauan commented on #1471
@moshg The link you posted is the Editor's Draft (as you can see on the left side of the page), which means it is not official. At the very top of the page it says this:

On the other hand, [the official Recommendation (not Editor's Draft) spec](https://www.w3.org/TR/DOM-Level-2-Events/events.html#Events-MouseEvent) uses `long` (which is `i32`).

It is likely that the Editor's Draft will one day b

[2019-04-18 07:15] moshg commented on #1471
@Pauan
Thank you for your clear explanation!

It seems that MDN document should change or API doc should do if it's MDN doc's policy to follow the draft. I don't have the confidence to edit the documents well so can anyone do this?

Shoud I close this issue, or keep open until official coinsides with draft?

[2019-04-18 12:12] RReverser commented on #1386
@alexcrichton Do you think this issue could be reopened in light of these details? I can still work on a PR, but it's usually much better to be able to link to an existing issue.

[2019-04-18 15:37] RReverser opened #1474 "Respect #[repr(transparent)]"
### Describe the Bug

I'm not 100% sure whether this is a bug or a feature request, but, in theory, wasm-bindgen ABI can be seen as any other, and so `repr(...)` should have an effect.

### Steps to Reproduce

1. Define a struct with a single field (or a single field and a zero-size type like `PhantomData`).
2. Add `#[repr(transparent)]` to signify that its ABI should be the same as the inner fiel

[2019-04-18 15:57] alexcrichton commented on #1087
It only relies on it in an experimental fashion because it's the only way to work with some of those types.

[2019-04-18 15:58] alexcrichton commented on #1464
I definitely agree that we want to solve this somehow! I'm just not sure personally how best to do so, so I'm not sure how to make progress on this.

[2019-04-18 15:59] alexcrichton commented on #1386
Unless we have compelling data we should do this I'd rather not accumulate a large list of "wish to haves in the far and distant future" issues if we can.

[2019-04-18 16:01] alexcrichton commented on #1471
Indeed thanks for the explanation @Pauan! In light of that  yeah I think we can go ahead and close this.

[2019-04-18 16:01] #1471 closed

[2019-04-18 16:07] #1468 closed

[2019-04-18 16:24] dbrgn commented on #1468
Cool, thanks @c410-f3r!

[2019-04-19 00:40] aphistic opened #1475 "Implement std::convert::From<std::option::NoneError> for JsValue"
### Motivation

I'm using `wasm-bindgen` to wrap a javascript api that can return `Option<T>` in some cases and it would be useful to be able to use the `?` operator on those types.

### Proposed Solution

Implement `std::convert::From<std::option::NoneError> for `JsValue`.

[2019-04-19 00:54] aphistic commented on #1475
I started working on the implementation on my own to see if I could send in a PR and it appears this uses an unstable feature, so I'd guess you probably don't want to implement this right now?

[2019-04-19 01:00] Pauan commented on #1471
MDN [pretty clearly says](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetX#Return_value) "A `double` floating point value. Early versions of the spec defined this as an integer. See the Browser compatibility section for details."

It also [pretty clearly shows](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/offsetX#Browser_compatibility) when it was changed from `lo

[2019-04-19 02:42] daboross commented on #1216
Thanks for following up on everything so quickly! I've been a bit distracted, but I'm going to try and see what I can do to move forward with this.

I've looked a bit more into what LLVM does with `@llvm.global_ctors`, but I don't think I have enough background knowledge to find anything useful just searching. I'm not 100% sure if clang uses it, or if it has its own logic for static initializers?

[2019-04-19 05:58] moshg commented on #1471
@Pauran

I think one might not understand MDN properly if he/she isn't well informed on the process of spec development.

In the Syntax section, MDN says "Early versions of the spec" and I read it as "Early versions of the draft spec" because MDN says "This is an experimental technology" and I didn't know there is the official spec.
If it says "officially `long` but `double` in the working draft"

[2019-04-19 08:08] bigfish3000 opened #1476 "How to use the indexed_db via web-sys"
## How to use the indexed via web-sys, do some one have examples ?

Who can show me the examples?

## I can not access the indexed_db like this:
[code]

[2019-04-19 12:11] derekdreery commented on #1476
indexeddb is quite complicated. Everything is done async via. callbacks, so you need to use `Closure`, but the memory management is fiddly. Eventually there will be a futures-based lib in https://github.com/rustwasm/gloo, in the mean time it's just gonna be hard.

[2019-04-19 15:37] alexcrichton commented on #1476
Thanks for the question @bigfish3000! I agree with @derekdreery in that this is pretty complicated, but targeted to be covered by the gloo project! In light of that I'm gonna close this in favor of https://github.com/rustwasm/gloo/issues/68

[2019-04-19 15:37] #1476 closed

[2019-04-19 15:38] alexcrichton commented on #441
I"m gonna close this in favor of https://github.com/rustwasm/gloo/issues/68 because I think IndexedDB is more likely to be covered by gloo rather than wasm-bindgen examples

[2019-04-19 15:38] #441 closed

[2019-04-19 16:23] alexcrichton commented on #1475
Seems like something we should definitely consider! I do think though that we'll have to wait for `NoneError` to be stable to add to wasm-bindgen itself, which is required to compile on stable.

I think though that this may be best implemented in conjunction with https://github.com/rustwasm/wasm-bindgen/issues/1017 which I think is a bit nicer to stomach as a conversion (`NoneError` to `JsError`)

[2019-04-19 20:02] sunjay commented on #905
@alexcrichton What do you think of having a `nodejs-async` target (or something)? That way the `nodejs` target would remain normal but modules could still be used from electron within the 4k limit.

[2019-04-20 09:28] Pauan commented on #1471
On the [`clientX` page](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/clientX#Return_value) it says:

[code]

And [in the Specifications section](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/clientX#Specifications) it links to the DOM Level 2 and 3 specs (where it is defined as `long`). I think this is basically what you want.

The difference with `offsetX` is that it

[2019-04-20 14:43] shaver opened #1478 "add support for passing Rust Iterators into JS as iterables"
Rust's Iterators underlie a lot of useful patterns, and it would be great to be able to express them to JS for natural interactions as iterables.

This might be the inverse of #1036 ?

[2019-04-21 13:49] Pauan commented on #1478
As a workaround, you can use `collect()` to convert the iterator into a `Vec` and then send the `Vec` to JS.

This does cause a minimum of *two* allocations (once to convert to a Rust `Vec` and a second to convert to a JS `Array`).

I'm not sure if that's actually slower than sending an iterator to JS, since that would require ping-ponging back and forth many times between Rust and JS.

It would b

[2019-04-22 16:40] alexcrichton commented on #905
I agree yeah the best way to support this will likely be a new target, although apart from asynchronous initialization I'm not entirely certain what this target would look like (although probably similar to the `web` target)

[2019-04-22 22:09] WolfieWerewolf commented on #1428
@Pauan I just wanted to thank you for the above information... Using your documentation I was able to achieve the following (maybe this helps someone else)...

[code]

[code]

![image](https://user-images.githubusercontent.com/10762757/56535327-db62d100-6531-11e9-917f-0c81138d6fdb.png)
@alexcrichton The team has done a tremendous job of the WASM bind-gen and in a very short period of time.  I look

[2019-04-22 23:40] dtolnay commented on #1320
I notice that ast::Function stores `name: String` and `name_span: Span` as separate fields. I would recommend storing these as one field of type proc_macro2::Ident which does have a PartialEq impl, or if the name is not guaranteed to be a legal Rust identifier/keyword then writing your own type similar to Ident to hold the name and span and provide PartialEq and any other traits you need.

[2019-04-23 16:55] RReverser commented on #1478
@Pauan Aside from performance difference, it's important to consider a usecase of infinite iterators too - these are not completely uncommon in lazy scenarios, and wouldn't be possible to collect into a temporary `Vec` before passing to JS.

[2019-04-23 16:57] RReverser commented on #1478
Although, rather than solving this particular issue on its own, it seems to be a narrow case of a potentially more general "allow exposing `Box<dyn SomeTrait>` to JS", which could be done by allowing `#[wasm_bindgen]` on trait definitions.

[2019-04-23 17:01] shaver commented on #1478
Also, working on things piecemeal through an iterator is helpful for avoiding UI jank, whereas computing a few thousand entries in one go to stuff into a `Vec<T>` can cause UI latency targets to be missed.

It can be seen as an instance of `Box<dyn SomeTrait>`, but I think it's not _just_ that, because you want them to look like JS iterables, rather than exposing the Rust Iterator API, I think. (O

[2019-04-23 19:36] Pauan commented on #1478
@RReverser Sure, you're right of course that infinite iterators cannot use `Vec`.

----

@shaver Ironically, in a large JS library I work on for a company, we used ES6 iterators extensively, but we had to remove all of them, because allocating an object for each element was causing massive UI jank (because of all the garbage collection).

Doing things piecemeal doesn't help, because the main issue

[2019-04-23 21:05] lykhouzov opened #1480 "Promise::all usage. How to get an array from JsValue?"
I am trying to load few resources on a web. example of `fetch` is working.
But...
How could I get a value of `JsValue` object?
and the main question is how could I use `Promise::all` function to load several resources
For example, I do like
[code]
And then I get a problem to get value from `JsValue`, because it contains and array of 2 strings
and I cannot cast it to a rust object. It would be easi

[2019-04-23 21:46] alexcrichton commented on #1480
Thanks for the report! You should be able to use the `JsCast` trait to convert between various types. For example when `Promise::all` resolves you can use `promise_to_future` to manage a Rust future that generates a `JsValue`, and then use `.dyn_ref()` to convert that to an `&js_sys::Array` for example. Does that help?

[2019-04-23 23:21] lykhouzov commented on #1480
Thank you @alexcrichton
it looks like it works.
My First attempt was
[code]
But then I've checked fetch example one more time and got following:
[code]
Thank you for the help

[2019-04-24 15:21] alexcrichton commented on #1480
Great! In that case I'll close this

[2019-04-24 15:21] #1480 closed

[2019-04-24 16:49] #1363 closed

[2019-04-25 09:04] alanpoon opened #1481 "Error: WebGL warning: texImage2D: Invalid internalformat: 0x1903"
### Summary
Encounter
Error: WebGL warning: texImage2D: Invalid internalformat: 0x1903

### Additional Details
Used R8 as format because of rendering text. Also used web_sys::WebGl2RenderingContext.
According to https://developer.mozilla.org/en-US/docs/Web/API/WebGLRenderingContext/texImage2D,
R8 should be supported in webgl2.
Running on firefox quantum 66.0.3

[2019-04-25 13:30] RReverser opened #1482 "CI failure due to large docs"
Lately CI has been failing with a persistent error in the "Deploy everything" phase:

To github.com:rustwasm/wasm-bindgen

I don't think it will go away on its own given the error message, so it would be good to figure something out to avoid having to check CI page each time it shows up as red.

One temporary option could be running generated HTML docs through a minifier that would preserve semant

[2019-04-26 01:48] c410-f3r commented on #1320
@dtolnay Thanks!

[2019-04-26 02:48] #1443 closed

[2019-04-26 08:19] Taoja opened #1488 "Could not compile `rustc-serialize`"
### aborting due to 2 previous errors
[code]

### my code
[code]

[2019-04-26 14:10] alexcrichton commented on #1488
Thanks for the report but the rustc-serialize crate does not support WebAssembly, and there's unfortunately not a ton we can do about that form wasm_bindgen. I'd recommend contacting upstream authors and asking them to drop rustc-serialize support

[2019-04-26 14:10] #1488 closed

[2019-04-26 14:10] #1453 closed

[2019-04-26 14:44] RReverser opened #1489 "Generator.prototype.next should return IteratorNext"
`Generator.prototype.next` is currently bound with a return of `Result<JsValue, JsValue>`, but it should use `Result<IteratorNext, JsValue>` for consistency with regular iterators instead (as it returns same object of `{ value, done }`).

This would be a breaking change.

[2019-04-26 22:24] RReverser commented on #1482
Ah, looks like the generated HTMLs are already pretty minimal. Hmm... maybe worth using Git LFS or something then?

[2019-04-29 14:35] ZacLiveEarth commented on #1481
I don't think this is the appropriate place for general webgl/rendering questions. You may find a better response on StackOverflow.

[2019-04-29 14:37] ZacLiveEarth commented on #893
Any chance of getting a new release cut sometime soon? I've been chomping at the bit for this change.

[2019-04-29 15:29] alexcrichton commented on #893
[sure thing](https://github.com/rustwasm/wasm-bindgen/pull/1495)!

[2019-04-29 16:21] #1482 closed

[2019-04-29 19:54] alexcrichton opened #1496 "Cannot import and export function of the same name"
Currently this generates invalid JS:

[code]

as it looks like:

[code]

but that imports the name `foo` and also exports it!

[2019-04-29 19:56] alexcrichton opened #1497 "Wasm functions should be exported directly when applicable"
Currently a module like:

[code]

generates a JS file like:

[code]

but there's no need for the function wrapper! The wasm-bindgen tool will already elide the wrapper around imported functions where possible, so we should do the same for exported functions as well! If all the arguments are passed through directly without any transformations (e.g. no strings, only numbers) then we should not gener

[2019-04-29 19:57] alexcrichton opened #1498 "Generating binding for __wbindgen_object_drop_ref isn't optimized out"
Currently on wasm-bindgen a bare file like:

[code]

will generate the JS:

[code]

but `__wbindgen_object_drop_ref` isn't referenced by the wasm file! Something in our passes likely needs to be reordered (aka generate bindings for `__wbindgen_object_drop_ref` after the gc pass), but we should understand what's happening before we do this as well.

[2019-04-29 19:57] alexcrichton commented on #1481
It's true yeah that this isn't the best place for WebGL questions, but if you have a wasm-related spin on the question we can try to help out!

[2019-04-29 19:57] #1481 closed

[2019-04-29 21:18] steveklabnik commented on #1105
Futures have stabilized in nightly! 🎊

[2019-04-30 00:13] Pauan commented on #1497
That still creates an unnecessary binding.

The optimal solution would be to emit this:

[code]

Now even the binding is shared.

[2019-04-30 00:18] Pauan commented on #1105
Right, but we have to wait until it actually lands in the Stable compiler before we can use it. That'll probably be [sometime in July](https://forge.rust-lang.org/).

[2019-04-30 12:14] skyne98 commented on #182
@0xcaff, for now there is a work-around I found.

* Create an index.d.ts file where your index.ts (or index.js) is
* Add following to it
[code]
* Change `../crate/pkg/rust_parcel_bg` to fit your folder structure and file names
* Profit, you now have types!

[2019-04-30 15:36] alexcrichton commented on #1105
Thanks for the ping on this @steveklabnik, and I actually personally think we should go ahead and get this done. This would be behind an off-by-default feature gate to ensure that we don't regress current users of the `wasm-bindgen-futures` crate, but users using an appropriate compiler could enable the feature and get access to async/await!

@Pauan would you be ok with that strategy?

[2019-04-30 17:07] #222 closed

[2019-04-30 23:55] Pauan commented on #1105
@alexcrichton Yeah, that sounds great to me.

[2019-05-01 02:06] c410-f3r opened #1500 "Public fields and getters / setter attributes that have the same name generate duplicate JS methods"
### Describe the Bug

Public fields and getters / setter attributes that have the same name generate duplicate JS definitions.

### Steps to Reproduce

[code]

### Expected Behavior

An error forbidden the duplicated behavior

### Actual Behavior

Duplicated getters and setters.

[code]

[2019-05-01 12:31] sahil-bansal-sb opened #1501 "Closures Example is not working."
link:
[https://rustwasm.github.io/wasm-bindgen/exbuild/closures/](https://rustwasm.github.io/wasm-bindgen/exbuild/closures/)
is not working.

It is showing the following error on console
[code]
and a warning:
[code]

[2019-05-01 14:27] alexcrichton commented on #1501
cc @xtuc when trying to debug this with `--target web` it looks like the error goes away, so I'm curious if you know if this was an accidental regression in webpack?

[2019-05-01 15:23] xtuc commented on #1501
I'm having an issue building the example locally, when running `wasm-pack`:
[code]

Does it seems familiar to you @alexcrichton?

wasm-pack 0.8.1. I'm unsure how I could get `wasm-bindgen`'s version.

[2019-05-01 15:28] alexcrichton commented on #1501
Ah that's unfortunately expected from a few other bugs, but you can fix it by copying the example out to a separate directory and building from there

[2019-05-01 15:37] xtuc commented on #1501
Indeed, I can build it now. It's quite hard to debug but it seems to be in the wasm binary itself. I'll keep trying.

[2019-05-01 15:43] xtuc commented on #1501
Found the bug! Let me do a PR.

[2019-05-01 15:46] #1501 closed

[2019-05-01 20:52] #1498 closed

[2019-05-01 21:21] sketchpunk opened #1505 "WebGl2RenderingContext can not be stored globally"
### Describe the Bug
Trying to save WebGl2RenderingContext globally using things like lazy_static and the likes. Tells me that it does not implement std::marker::Send. Either direction I want to build my engine, I need to store the context for later access. So this hampers things.

### Steps to Reproduce
[code]

[2019-05-02 01:59] Pauan commented on #1505
This is because JS values cannot be sent between threads (this is a limitation in the Wasm/JS engines, so there's nothing we can do about it).

Multi-threading isn't quite fleshed out yet, but in the meantime you can use [`thread_local`](https://doc.rust-lang.org/nightly/std/macro.thread_local.html) instead of `lazy_static` (this will create one `WebGl2RenderingContext` per thread, but in practice

[2019-05-02 15:08] sketchpunk commented on #1505
thanks. Even though thread_local! kinda works but its not easy to use the way I would like. Having to use a closure to run each webgl command seems a bit much. There has to be some easy way to store a value globally then some easy method to get back a reference be it r or rw. I've looked into other things like Rc, RWLock, Arc, RefCell. Can't seem to get any solution to work.

Guess this issue isn'

[2019-05-02 15:08] #1505 closed

[2019-05-02 15:35] MarcAntoine-Arnaud commented on #1411
Thanks @Pauan for your update too.
It work pretty well now.

Do you know how to update an object ?
I wanna to to something like that:

[code]

But I cannot do it, I have a lifetime error (which was logic).
I have take a look on Closure, but it's similar too.

Thanks again !

[2019-05-02 15:52] MarcAntoine-Arnaud commented on #1411
In fact the question can be also:
is it possible to return a Javascript object into a Promise (not a serialised object with serde) ?

[2019-05-03 05:51] MarcAntoine-Arnaud opened #1509 "Get Struct back in rust"
I need to process multiple Promises in parallel, in the result I obtain an Array of Object, which was perfect until here (`Array { obj: Object { obj: JsValue([Object({"ptr":1116768}), Object({"ptr":1116920})]) } } `).

I can iterate and get Object. But I cannot get back the struct returned (generated from `JsValue::from(my_struct_instance)`).
I found nothing to "revert" the `JsValue::from` and get

[2019-05-03 16:23] fitzgen commented on #1509
You're probably looking for the `JsCast` trait, which enables both checked and unchecked conversions between different kinds of JS objects and values: https://docs.rs/wasm-bindgen/0.2.43/wasm_bindgen/trait.JsCast.html

[2019-05-03 16:29] #1496 closed

[2019-05-03 19:36] alexcrichton commented on #1509
Oh actually I think that this currently cannot be done from within wasm itself. Once you've wrapped a Rust struct in a `JsValue`, the only way currently to unwrap it is to call a by-value-`self` method on the JS object itself, which will do the unwrapping. That being said I suspect that we can probably quite improve the situation here!

@fitzgen on in this case I don't think that `JsCast` works be

[2019-05-03 19:50] fitzgen commented on #1509
Ah, yeah I read too quickly.

[2019-05-03 21:03] kyren opened #1513 "wasm-bindgen output missing an export for one method of two with the same name"
### Describe the Bug

wasm-bindgen generated javascript contained an export named '__wbg_buffer_24f0cc96e872e2fe' but not one named '__wbg_buffer_85e60d809f6cd4e8', and the generated wasm references both.

### Steps to Reproduce

Check out this commit: https://github.com/kyren/gfx/commit/043fec9bd77f0cfdad430a823df29c1ab824e84e

If you have nix you can run ./web_test/build.sh, otherwise just do th

[2019-05-03 21:14] alexcrichton commented on #1513
For some follow-up, this should be fixed upstream in rust-lang/rust at https://github.com/rust-lang/rust/pull/60526.

The bug here is sort of subtle but has to do with the linker. The problem is that the `__wbindgen_describe_*` symbol for the `WebAssembly::Memory::buffer` API was missing from the final wasm binary, so wasm-bindgen didn't generate bindings for that method. (this is the `__wbg_buffe

[2019-05-04 06:41] Pauan commented on #1505
It is possible to use `lazy_static` if you create a wrapper type and then impl `Send` and `Sync` on it:

[code]

This is only safe because wasm is currently single-threaded. It won't be safe when wasm becomes multi-threaded.

[2019-05-04 06:58] Pauan commented on #1411
Because Futures are run asynchronously, they cannot contain references (like `&` or `&mut`).

So you'll need to instead take the `Renderer` by value (and also probably `move` it into the closure):

[code]

If you want to use the `Renderer` in multiple places, then you'll need to use `Rc` (and `RefCell` for mutation):

[code]

If you use `JsValue` (or any of the `JsCast` wrapper types), then it isn

[2019-05-04 23:12] KenanSulayman opened #1515 "Generated binding code does not free malloc'd data after passed to Rust if it's a Vec<u8>"
As opposed to the generated code when accepting a `&str`, wasm-bindgen will not free `Vec<u8>` aka Uint8Array after it has been passed to Rust.

We investigated this issue after several customers reported a Chrome crash related to memory exhaustion and found big `Uint8Array` passed to the WebAssembly module to keep growing the memory use, eventually running into memory issues.

---

Example code:

[2019-05-05 00:07] devsnek commented on #1515
Just to clarify, the finally block runs even if there's a return. It's quite an odd semantic in js.

[code]

[2019-05-05 00:21] devsnek commented on #1515
seems the issue is that the finally block doesn't get emitted because this condition is false: https://github.com/rustwasm/wasm-bindgen/blob/d382ad72a3c1fa8c221b76c072b5ba86945c83a3/crates/cli-support/src/js/js2rust.rs#L190

i guess it should also take into account things that get turned into references even if they aren't originally, like views over uint8arrays?

[2019-05-05 14:34] MarcAntoine-Arnaud commented on #1509
Thanks for your feedbacks @alexcrichton & @fitzgen.
In fact I'm trying to init my structure with many HTTP requests (so 1 per future to do them in async mode).
After that I wanna to "wait" the end of all requests to return the "complete" status of the initialisation.
So for that I have converted Future in Promise, and use the `Promise.all` to merge Futures, then convert the resulting promise in a

[2019-05-05 16:42] ibaryshnikov commented on #1515
Thanks for your report!
I've compiled several examples to clarify the memory management.
First is about `String`
[code]
generated js is
[code]
And in the webassembly there is a line
[code]
Now let's go through the details what's going on here.
`fn pass_string(s: String)` means we pass the ownership from JavaScript to Rust. And the Rust will be responsible for deallocating the memory inside the `.w

[2019-05-05 16:59] KenanSulayman commented on #1515
Thanks for your elaborate reply!

Passing the ownership to the WebAssembly module something I had considered, but it seemed semantically unintuitive as the difference between _extern-alloc-extern-free_ and _extern-alloc-intern-free_ introduces needless tight-coupling to the underlying behaviour of the WebAssembly module (aka complexity).

What I mean is that `#[wasm_bindgen]` nearly completely abs

[2019-05-05 21:52] Pauan commented on #1509
@MarcAntoine-Arnaud If you want to run multiple Futures in parallel (and wait for them to complete), you can use the [`join_all`](https://docs.rs/futures/0.1.26/futures/future/fn.join_all.html) function, or the various [`join`](https://docs.rs/futures/0.1.26/futures/future/trait.Future.html#method.join) methods.

Or you can also use [`FuturesUnordered`](https://docs.rs/futures/0.1.26/futures/strea

[2019-05-06 08:10] MarcAntoine-Arnaud commented on #1509
Hoo yeah, I have tested it, and `join_all` works perfectly.
Thank you @Pauan

[2019-05-06 08:10] #1509 closed

[2019-05-06 15:29] alexcrichton commented on #1515
Thanks for the report @KenanSulayman! Can you gist the code that you're running into this with? The description in the OP disagrees with what @ibaryshnikov [posted above](https://github.com/rustwasm/wasm-bindgen/issues/1515#issuecomment-489442651) in terms of the bindings generated for `fn(String) -> String`, so I'm wondering if a typo snuck in by accident somewhere?

[2019-05-06 15:34] alexcrichton commented on #1105
Support for this has been implemented in https://github.com/rustwasm/wasm-bindgen/pull/1507!

[2019-05-06 15:34] #1105 closed

[2019-05-06 16:00] KenanSulayman commented on #1515
@alexcrichton that's accurate, it was meant to say `pub fn process(data: &str) -> String {`.

The actual code involved is:

[code]

[code]

The original implementation read as follows:

[code]

Confusion was caused by the significant difference of freeing behaviour`&[u8]` vs `Vec<u8>`.

[2019-05-06 16:07] alexcrichton commented on #1515
Ah ok thanks for the clarification, that makes sense! So reviewing the generated code again I don't think there's any leaks from the implicit transfer of the bytes and/or string. Are you sure that this is where the leak is coming from? There's a few different ways that memory can be leaked in the wasm heap, and I've also heard reports in the past where Chrome may have an internal wasm bug which ca

[2019-05-06 16:26] Pauan commented on #1105
To use Futures 0.3, first enable the `futures_0_3` feature:

[code]

Then import and use the `futures_0_3` module:

[code]

(You also have to wait for the new version of `wasm-bindgen-futures` to be released)

[2019-05-07 07:25] ibaryshnikov commented on #1515
@alexcrichton my colleague once reported `RangeError: WebAssembly Instantiation: Out of memory: wasm memory`.  Is it the same thing you mentioned?

[2019-05-07 07:34] KenanSulayman commented on #1515
@ibaryshinkov yes, that is exactly the same issue that led us to investigate possible leaks

[2019-05-07 14:58] MarcAntoine-Arnaud opened #1516 "Get Transferable in Rust"
Hi (again),

Following my work, I start a worker and I send a message to it (to an image decoder).
After the decoding I wanna to get back on the Rust object so I plan to use the `onmessage` method.

I cannot arrive to get back the data ArrayBuffer as I need to send it with [postMessage including a transferable object](https://developer.mozilla.org/fr/docs/Web/API/Worker/postMessage).

Do you know

[2019-05-07 21:18] chanks opened #1517 "Typescript definitions don't include declaration for default function import."
### Describe the Bug

wasm-pack build for a simple app generates a ts file that looks like:

[code]

Unfortunately, the init function isn't labeled as the module's default export, so trying to use it that way from a .ts file:

[code]

...will fail with a semi-cryptic `TS2349: Cannot invoke an expression whose type lacks a call signature. Type 'typeof import(...)' has no compatible call signatures`

[2019-05-08 14:39] alexcrichton commented on #1516
Thanks for the report! Until `SharedArrayBuffer` is stable the only way to transfer data between workers on the web is to do full copies which means you can't send a Rust struct from one thread to another with workers. For that you may want to use JSON and/or the serde support!

[2019-05-08 14:39] #1516 closed

[2019-05-08 15:02] alexcrichton commented on #1515
Googling around that error message, perhaps https://github.com/brave/brave-browser/issues/3366 can shed some light on the issue too?

[2019-05-08 15:28] dakom commented on #1005
It seems that floats such as `uniform2fv_with_f32_array()` are whitelisted, while ints such as `uniform2iv_with_i32_array()` are not.

Is this intentional? If not - is the fix only to add to this list: https://github.com/rustwasm/wasm-bindgen/blob/master/crates/webidl/src/lib.rs#L177 ?

[2019-05-08 15:51] Pauan commented on #1516
@alexcrichton Actually, transferrable objects don't have anything to do with `SharedArrayBuffer`.

They're a special kind of object which can be sent between Workers without a copy.

Right now [that means `ArrayBuffer`, `MessagePort`, `ImageBitmap`, and `OffscreenCanvas`](https://developer.mozilla.org/en-US/docs/Web/API/Transferable) (but more types might become transferrable in the future).

----

[2019-05-09 08:48] MarcAntoine-Arnaud commented on #1516
I have tested it and it works like that:
[code]

then I can get back the `ArrayBuffer` in Rust as @Pauan mentioned.

My initial wish is to send also informations about decoded frame, so I wanna to send:
[code]
When I receive this message in javascript it works, I can access to all informations.

For Rust I have only access to a JsValue like:
`JsValue(Object({"frame_index":666,"width":1920,"height"